<footer class="text-center text-lg-start bg-dark text-white">

  <div class="container">

    <div class="row">

      <!-- Columns -->

      <div class="col col-sm-3">

        <h5 class="">Get started</h5>

        <ul class="">

          <li class=""><a href="#">Home</a></li>

          <li><a href="#">Sign up</a></li>

          <li><a href="#">Downloads</a></li>

        </ul>

      </div>

      <div class="col col-sm-3">

        <h5>About us</h5>

        <ul>

          <li><a href="#">Company Information</a></li>

          <li><a href="{{path('contact_website')}}">Contactez-nous</a></li>

          <li><a href="#">Reviews</a></li>

        </ul>

      </div>

      <div class="col col-sm-3">

        <h5>Support</h5>

        <ul>

          <li><a href="#">FAQ</a></li>

          <li><a href="#">Help desk</a></li>

          <li><a href="#">Forums</a></li>

        </ul>

      </div>

      <div class="col col-sm-3">

        <h5>Legal</h5>

        <ul>

          <li><a href="{{path('static', {'page_name': "terms",})}}">Conditions d'utilisation</a></li>

          <li><a href="{{path ('static', {'page_name': "privacy",})}}">Politique de confidentialité</a></li>

        </ul>

      </div>

    </div>

  </div>

  <style>
    
    footer {
      padding-top: 30px;
    }

    footer .col {

      text-align: center;

    }

    footer h5 {

      margin-bottom: 10px;
      font-weight: bold;

    }

    footer ul {

      list-style-type: none;
      padding-left: 0;
      line-height: 1.7;

    }

    footer a {

      text-decoration: none;
      font-weight: bold;

    }
  </style>

  <!-- Copyright -->

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

    © 2021 Copyright :

    <span class="text-reset fw-bold" href="#">ProjetDesProjets.com</span>

  </div>

</footer>