<div id="" class="search-container-bar-sm unseen">

    <div class="back-icon-container">

      <img id="" class="back_from_search_sm_icon" src="{{ asset('back.svg', 'misc')}}" alt="Back to homepage left arrow icon" style="width: 26px;">
      
    </div>
    
    <input id="navbar_sm_search_input" class="searchbox-input" name="search" placeholder="Rechercher" autocomplete="off" autocorrect="off" spellcheck="false" type="text"  dir="ltr" style="outline: currentcolor none medium;">

    <div class="js-reset-search-icon-container unseen">
      <img id="" class="js-reset-search-icon" src="{{ asset('close.svg', 'misc')}}" alt="clear search input" style="height:19px;">
    </div>

    <div class="">
      <img id="" class="js-filter-search-panel panel-hidden" src="{{ asset('filters.svg', 'misc')}}" alt="open filters" style="height:21px; padding-right: 9px;">
    </div>
    
</div>


  <script>

    $("#search_icon_small_screens").click(function() {

        $(".search-container-bar-sm").removeClass("unseen");
        $("#navbar_sm_search_input").focus();
        $(".search-experience-container").show();
        $("#main-body-container").hide();
        $("#searchbox").css('display','none');

    });

    $(".back_from_search_sm_icon").click(function() {

      $(".search-container-bar-sm").addClass("unseen");
      $(".search-experience-container").hide();
      $("#main-body-container").show();
      window.scrollTo(0, 0);

    });  

    $(".js-filter-search-panel").click(function() {

      if($(this).hasClass('panel-hidden')){
        $('.search-experience-container .left-panel').show();
        $(this).removeClass('panel-hidden');
      } 
      
      else {
        $('.search-experience-container .left-panel').hide();
        $(this).addClass('panel-hidden')
      }

    });

    
    // + see algolia_search_default.js

  </script>

  

  <style>

    .search-container-bar-sm{

      position: fixed; 
      top:0; 
      left:0; 

      width: 100%; 
      height: 59px;
      z-index:100; 

      display: flex; 
      justify-content: space-between; 
      align-items: center; 
                       
      background-color: black; 
      
    }

    .unseen{
      display: none;
    }

    .back-icon-container{
      padding-left: 12px;
    }

    .search-icon-container{
      padding-right: 10px;
    }
 
    #navbar_sm_search_input {
      background-color: transparent;
      padding-bottom: 4px;
      outline: none;
      box-sizing: border-box;
      border: none;
      border-radius: 0;

      color: #e9e2e2;

      border-bottom: 2px solid #e9e2e2;
      text-overflow: ellipsis;
    }

  </style>