{% block stylesheets %}

    {# Algolia Rendering Default Stylesheet #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"
    />

    {# Overiding Some Default Algolia Rendering #}
    <link href="/css/search_page.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}

  {# Algolia Search Engine Default Scripts #}

  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
  
  {# Google Map Inclusion for Geosearch #}
    
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk"></script>

  {# Allow to create infobox on a google map #}

  <script src="/js/infobox.js"></script>

  {# App Custom Default Algolia Search Experience #}

  <script> // Call appropriate urls and index and according to environment

      var domain = '{{url("homepage")}}';
      var app_env = '{{ app.request.server.get("APP_ENV") }}';

  </script>

  {# App custom way to manage search #}

  <script src="/js/algolia_search_default.js"></script>


{% endblock %}

  {# Algolia Search Experience Template #}

  <div class="search-experience-container ais-InstantSearch mt-3 mb-5" >

    <div class="left-panel">
            
      <button type="button" class="js-close-search-experience d-none d-md-block btn btn-primary mt-md-3">Fermer la recherche</button>

      {# Hide left Panel Button (Small Screens Only) #}

      <img id="" class="js-hide-left-panel hide-left-panel-icon d-md-none btn" src="{{ asset('back-dark.svg', 'misc')}}" alt="Hide left panel icon" style="width: 35px; position: absolute; right: 0; padding: 4px; background-color: rgb(231, 231, 231)">

      <script>
            
        $(".js-hide-left-panel").click(function() {

          $(".search-experience-container .left-panel").hide();

          $(".js-filter-search-panel").addClass("panel-hidden");

        });

      </script>

      {# Toggle Map Display - Button (>= medium screens) #}

      <div class="d-none d-md-block">
          
        <button id="" type="button" class="js-toggle-geosearch-map js-hide-geosearch-map btn btn-primary">Masquer la carte</button>

        <button id="" type="button" class="js-toggle-geosearch-map js-show-geosearch-map btn btn-primary">Afficher la carte</button>

      </div>


      <h2 class="filters-categories-title">Tri par catégories</h2>

      <div id="filters-list"></div>

    </div>

    <div class="right-panel">

      <div id="searchbox" class="ais-SearchBox"></div>

      {# Toggle Map Display - Button (small screens) #}

      <div class="d-md-none mb-3">

        <span id="" class="js-toggle-geosearch-map js-hide-geosearch-map text-primary fs-6 me-3">Masquer la carte</span>

        <span id="" class="js-toggle-geosearch-map js-show-geosearch-map text-primary me-3">Afficher la carte</span>     

        <span id=""  class="js-filter-geosearch-map">Filtrer</span>     

      </div>

      {# Search with a Google Map #}

      <div class="ais-GeoSearch">

        <div class="ais-GeoSearch-map">

          <!-- Map element here -->

          <div id="maps">

            <div class="app-maps-info alert alert-success alert-dismissible fade show" role="alert">
              
              Attention ! Certains projets n'apparaissent pas sur la carte (par exemple les projets informatiques).
              
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
            </div>

          </div>
          
        </div>

      </div>

      <div id="hits"></div>

      <div id="pagination"></div>         

    </div>
    
  </div>


  <script>

    // Manage Map Appearance - Disappearance according to clicked button status
      
    $(".js-toggle-geosearch-map").click(function() {

      if($(this).hasClass('js-hide-geosearch-map')){
        $('.js-hide-geosearch-map, .ais-GeoSearch').hide();
        $('.js-show-geosearch-map').show();
        

      } 
      
      else {
        $('.js-hide-geosearch-map, .ais-GeoSearch').show();
        $('.js-show-geosearch-map').hide();
      }

    });


    // Register event when we display projects geo-map
    $(".js-show-geosearch-map").click(function() {

      customEvents.dispatchEvent(

        new CustomEvent('showProjectsGeoMap', {})

      );
    
    });

    // Display a warning : some projects are not listed on the geo-map.
    customEvents.addEventListener(
        
      "showProjectsGeoMap", 

      function(e) { 

        $('.app-maps-info').show();

      }

    );


    $(".js-filter-geosearch-map").click(function() {

      $('.search-experience-container .left-panel').show();

    });




    






  </script>

