
{% block stylesheets %}

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"
    />

    <link href="/css/search_page.css" rel="stylesheet">

{% endblock %}
    
  <div class="search-experience-container ais-InstantSearch mt-3 mb-5" style="display:none;">

    <button class="lol">sfsdfsd</button>

    <div class="left-panel">

      <div id="clear-refinements"></div>

      <h2 class="filters-categories-title">Catégories</h2>

      <div id="filters-list"></div>

    </div>

    <div class="right-panel">

      <div id="searchbox" class="ais-SearchBox"></div>

      <div id="hits"></div>

      <div id="pagination"></div>

    </div>
    
  </div>

