{% block stylesheets %}

    {# Algolia Rendering Default Stylesheet #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"
    />

    {# Overiding Some Default Algolia Rendering #}
    <link href="/css/search_page.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}

  {# Algolia Search Engine Default Scripts #}

  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>

  {# A Google Map is Available to Display Results

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk"></script> #}


  {# App Custom Default Algolia Search Experience #}

  <script>

      var domain = '{{url("homepage")}}';
      var app_env = '{{ app.request.server.get("APP_ENV") }}';

  </script>


  <script src="/js/algolia_search_default.js"></script>
    
{% endblock %}


{# new #}
     

<style>

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .ais-GeoSearch-map {
    height: 500px; /* Make sure that you explicitly set the height of the map container, otherwise it won’t show. (https://www.algolia.com/doc/api-reference/widgets/geo-search/js/?client=js) */
  }

  .infoBox{
    background-color: white;
    padding: 17px 7px;
    border: 1px solid rgb(162, 162, 255);
    border-radius: 3px;
    font-size: 15px;
    width: 286px;
  }

  .infoBox a div{
   display: flex;
   flex-direction: column;
  }

  .infoBox a div .img-container{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
  }

  .infoBox a div .img-container img{
   max-width: 110px;
   max-height: 110px;
   border-radius: 3px;
  }

  .infoBox a .avatar-square-rounded{ /* when no thumbnail available */
   margin-bottom: 10px;
  }

  .infoBox a div .text-container{
   padding-left: 15px;
  }

  .ais-GeoSearch-control {
    display: none;
  }

  @media screen and (max-width: 580px) {

    .ais-GeoSearch-map {
      height: 230px;
    }
  
  }

  
  
</style>


  {# Algolia Search Experience Template #}

  <div class="search-experience-container ais-InstantSearch mt-3 mb-5" >{# new : was style="display:none;" #}

    

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk"></script>{# new #}

  <script src="/js/infobox.js"></script>{# new #}

    <div class="left-panel">

      <div id="clear-refinements"></div>
            
          <button type="button" class="js-close-search-experience d-none d-md-block btn btn-primary mt-md-3">Fermer la recherche</button>

      <img id="" class="js-hide-left-panel hide-left-panel-icon d-md-none btn" src="{{ asset('back-dark.svg', 'misc')}}" alt="Hide left panel icon" style="width: 35px; position: absolute; right: 0; padding: 4px; background-color: rgb(231, 231, 231)">

      <script>
            
        $(".js-hide-left-panel").click(function() {

          $(".search-experience-container .left-panel").hide();

          $(".js-filter-search-panel").addClass("panel-hidden");

        });

      </script>

      <h2 class="filters-categories-title">Tri par catégories</h2>

      <div id="filters-list"></div>

    </div>

    <div class="right-panel">

      <div id="searchbox" class="ais-SearchBox"></div>
      
    <div class="ais-GeoSearch">{# new #}
      <div class="ais-GeoSearch-map">
        <!-- Map element here -->
        <div id="maps"></div>
      </div>

    </div>

      <div id="hits"></div>

      <div id="pagination"></div>         



    </div>
    
  </div>

