
{% block stylesheets %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"
    />

    <link href="/css/search_page.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}

  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>

  <script>

      var domain = '{{url("homepage")}}';
      var app_env = '{{ app.request.server.get("APP_ENV") }}';
      var adminInstance = '{{is_granted("ROLE_ADMIN")}}'

  </script>

  <script src="/js/algolia_search_default.js"></script>
    
{% endblock %}


  {# Template #}

  <div class="search-experience-container ais-InstantSearch mt-3 mb-5" style="display:none;">

    <div class="left-panel">

      <div id="clear-refinements"></div>

      <button type="button" class="js-close-search-experience d-none d-md-block btn btn-primary mt-md-3">Fermer la recherche</button>

      <img id="" class="js-hide-left-panel hide-left-panel-icon d-md-none btn" src="{{ asset('back-dark.svg', 'misc')}}" alt="Hide left panel icon" style="width: 35px; position: absolute; right: 0; padding: 4px; background-color: rgb(231, 231, 231)">

      <script>
            
        $(".js-hide-left-panel").click(function() {

          $(".search-experience-container .left-panel").hide();

          $(".js-filter-search-panel").addClass("panel-hidden");

        });

      </script>

      <h2 class="filters-categories-title">Tri par catégories</h2>

      <div id="filters-list"></div>

    </div>

    <div class="right-panel">

      <div id="searchbox" class="ais-SearchBox"></div>

      <div id="hits"></div>

      <div id="pagination"></div>

    </div>
    
  </div>

