{# Sidebar Items #}

    {% set sidebarItems = [ 

        { 'name': 'result', 'name_Fr': 'Résultat', 'route': 'show_presentation', 'iconName': 'presentation.svg'}, 
        
        { 'name': 'edit', 'name_Fr': 'Modifier', 'route': 'edit_pp_menu', 'iconName': 'edit.svg'},  

        { 'name': 'messages', 'name_Fr': 'Messages', 'route': 'show_presentation', 'iconName': 'messages.svg', 'badge': ''},

        { 'name': 'links', 'name_Fr': 'Liens', 'route': 'show_presentation', 'iconName': 'links.svg'},

        { 'name': 'settings', 'name_Fr': 'Réglages', 'route': 'show_presentation', 'iconName': 'settings.svg'},

    ] %}

{# website sidebar content (togglable on small screens; always visible for medium screens) #}
<div id="sidebar" class="collapse d-md-block no-transition col-4 col-sm-3 col-md-2 bg-warning">

    <div id="menu-list">

        {% for sidebarItem in sidebarItems %}

            <a href="{{path(sidebarItem.route, {'stringId': stringId})}}">

                <div class="menu-item">

                    <img class="menu-icon" src="https://www.place-hold.it/250x250" alt="" loading="lazy" width="25" height="25">

                    <span class="menu-label">

                        {{sidebarItem.name_Fr}}

                    </span>
                    
                </div>
                
            </a>

        {% endfor %}

    </div>

</div>



{# css for sidebar #}


<style>

    #sidebar {

        margin: 0px;
        padding: 0px;

    }

    #sidebar #menu-list{

        margin-top: 20px;

    }

    #sidebar .menu-item{

        margin-bottom: 6px;
        cursor: pointer;

    }

    #sidebar a{

       text-decoration: none;
       color: inherit;

    }

    #sidebar .menu-item:hover{

        font-weight: bold;
        background-color: aliceblue;
        transition: all 0.3s;

    }

    #sidebar .menu-icon{

        width: 25px;
        height: 25px;

        margin-left: 10px;
        margin-right: 3px;
        margin-bottom: 2px;

    }


    
    @media (min-width: 576px) {

            
        #sidebar .menu-item{

            font-size: 1.05em;

        }

    }
    
    @media (min-width: 992px) {

            
        #sidebar #menu-list{

            margin-top: 45px;

        }

            
        #sidebar .menu-item{

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 10px;
            font-size: 1.15em;

        }

        #sidebar .menu-icon{

            width: 30px;
            height: 30px;
    
            margin-right: 7px;
    
        }

    }

    @media (min-width: 1200px) {
            
        #sidebar .menu-item{

            padding-left: 20px;
            font-size: 1.2em;

        }
    }


</style>