{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "businessCard", 'title': "Nous contacter",} %}


{% block editButtons %}

    {# Add business card button (triggers a modal) #}

    <button type="button" data-bs-toggle="modal" data-bs-target="#add_business_card_form_modal" class="btn btn-lg btn-sm">+ Ajouter</button>

    {# Add business card form (in a modal) #}

    {% include 'project_presentation/edit/other_components/businessCards/_add_business_card_modal.html.twig' with {'form': addBusinessCardForm} %}

{% endblock %}

{% block mainContent %}
        
    {% set bcs = presentation.getOC('businessCards') %}

    {% if bcs | length > 0 %}

        <div id="businessCards" class="js-elements-list">

            {% for bc in bcs %}

                <div id="{{bc.id}}" class="js-sortable-element position-relative cursor-pointer bg-success mb-2" style="width:300px; display: inline-block;">

                    <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'businessCards', 'item_id':bc.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                        <div class="p-2 text-white">

                            <!-- Contact Card Content -->

                            {% include 'project_presentation/edit/other_components/businessCards/_display_business_card.html.twig' with {'context': 'editionMode'} %}
                            
                           
                
                        </div>
                
                    </a>

                    {# delete website (Red Cross) button #}

                    <button type="button" data-elements-type="businessCards" class="js-delete-element pp-edition-mode position-absolute btn btn-danger" data-id="{{bc.id}}" style="top:0; right:0;"><span class="fw-bold">&times</span></button>

                </div>
                
            {% endfor %}

        </div>

    {# No business card, placeholder for userPresenter #}

    {% elseif userPresenter %}

        <div class="h-100 d-flex align-items-center justify-content-center">

            <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

        </div>
        
    {% endif %}

{% endblock %}


    
{% endembed %}