
{% block stylesheet %}

    <link href="/css/document_representation.css" rel="stylesheet">

{% endblock %}

{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "documents", 'title': "Documents Attachés",} %}

    {% block editButtons %}

        {# Add document button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#addDocumentFormModal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block mainContent %}

        <div id="documents" class="js-elements-list pp-struct-content sm-horiz-scroll row ps-4 ps-md-5" style="margin-right: 0 !important;">{# margin 0 otherwise documents overflow container #}

            {% for document in presentation.documents %}
                
            <!-- Document Representation with Title -->

                {# bordered container with delete icon (outer representation) #}

                <div id="{{document.id}}" class="js-sortable-element document-outer me-3" >

                    {# document inner representation #}

                    {% include 'project_presentation/edit/documents/_inner_representation.html.twig' %}

                    {# Display document in a new tab #}

                    <a href="{{ vich_uploader_asset(document)}}" class="pp-consultation-mode coverable-link"></a>

                    {% if userPresenter %}

                        {# Access item edit page on click #}

                        <a href="{{path('update_document', {'stringId': stringId, 'id_element' : document.id })}}" class="pp-edition-mode coverable-link"></a>

                        {# Delete document (Red Cross) button #}

                        <button type="button" data-elements-type="documents" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{document.id}}">&times</button>

                    {% endif %}

                </div>
                
            {% endfor %}

        </div>

    <style>
                
        @media screen and (max-width: 580px) {

            .sm-horiz-scroll{
                flex-wrap: nowrap;
                overflow-x: auto;
            }          

        }


    </style>

    {% endblock %}

{% endembed %}





