


{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "donations", 'title': "Donations",} %}

    {% block editButtons %}{% endblock %}

    {% block deleteElementsButtons %}{% endblock %}

    {% block mainContent %}

        <div id="donations" class="js-elements-list pp-struct-content row m-0">

            {% if bankAccount | length == 0 %}

                <div class="cta container" data-bs-toggle="modal" data-bs-target="#donationSetupFormModal">
                    
                    <div class="row disabled">
                        
                        <div class="col-2 present-donations-img-cta">

                            <img id="" class="no-donations" src="{{ asset('no_donation.png', 'pp_wysiwyg')}}"  alt="A face where on eye is represented with an hearth and the other with a coin.">

                        
                        </div>

                        <div class="col-10 present-donations-text-cta">

                            <div class="text-container">Activez les donations pour recevoir des financements.</div>
                        
                        </div>
                    
                    </div>
                
                </div>          
                
                <style>

                    #donations{

                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    #donations .cta{

                        cursor: pointer;
                        margin-bottom: 25px;

                    }

                    .present-donations-text-cta{
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }

                    .present-donations-text-cta .text-container {
                        padding: 5px 10px;
                        border-radius: 5px;
                        color: #7d464e;
                        background-color: #fff8fd;
                        border: 1px solid #f9c1cb;
                    }

                    .present-donations-img-cta{

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        padding: 0;
                        padding-left: 5px;
                    }
                                    
                    img.no-donations {
                        max-width: 94px;
                        border-radius: 4px;
                    }

                    @media screen and (max-width: 580px) {

                        #donations .cta{

                           padding: 15px 10px;
                           margin-bottom: 10px;
                           background-color: #f1f3ff;
                           border-radius: 6px;
                           
                        }

                        .present-donations-text-cta{
                            padding-right: 0;
                        }

                        .present-donations-text-cta .text-container {
                            padding: unset;
                            border-radius: unset;
                            color: #296429;
                            background-color: unset;
                            line-height: 1.2;
                            font-size: 14px;
                        }

                        .present-donations-img-cta{

                            padding: 0;
                            padding-left: 5px;
                        }

                        img.no-donations {
                            max-width: 100%;
                            padding: 0;
                        }

                    }
                
                </style>

            {% else %} {# one bank account #}

                {% if bankAccount.status == "TO_CHECK" %}

                    <div class="pp-edition-mode container border text-center rounded p-3">Votre demande d'activation des donations a été envoyée. Notre équipe procède à sa validation dans les plus brefs délais, vous serez averti par e-mail.</div>

                    <div class="pp-consultation-mode container border text-center rounded p-3">L'auteur de cette page a demandé l'activation des donations, revenez dans quelques jours pour effectuer une donation.</div>

                {% elseif bankAccount.status == "VALIDATED" %}

                    <div class="pp-edition-mode container border text-center rounded p-3">Les donations sont activées, pour modifier votre compte bancaire de donations, cliquez <a href="">ici</a>.</div>

                    <div class="{# pp-consultation-mode  #}container"><button class="btn btn-success" data-get-chunk='{"name": "donation", "target": "#donation-form-container" }'>Soutenir</button></div>

                    <div id="donation-form-container"></div>

                    {% include "/utilities/make_donation_form.html.twig" %}
                
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}

                    <div class="alert d-flex justify-content-center ps-0 mt-4">

                        <div class="menu-button py-3 fw-bold">

                            <h6 class="text-primary text-center fw-bold" style="font-size: normal;">Valider les donations</h6>

                            <div class="d-flex justify-content-center">

                                <div>

                                    <span class="">Non</span>
                            
                                    <input type="checkbox" id="admin-validation-donations-switch" class="toggle-switch" {% if bankAccount.status == "VALIDATED" %} checked {% endif %} /><label class="toggle-switch-label" for="admin-validation-donations-switch">Admin validate donations</label>
                                
                                    <span class="ps-2">Oui</span>

                                </div>
                                
                            </div>

                        </div> 
                        
                    </div>

                {% endif %}

                
            {% endif %}

        </div>


        <style>

            #donations{

                display: flex;
                justify-content: center;
                padding-left: 0;

            }


        </style>

    {% endblock %}
    
{% endembed %}
