{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "needs", 'title': "Participer",} %}


{% block editButtons %}

    {# Add a need button (triggers a modal to select need type) #}

    <button data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal" class="pp-edition-mode btn btn-light btn-sm">+ Ajouter</button>

    {# Select need type in a Modal Box #}

    {% include "project_presentation/edit/needs/_select_need_type_modal.html.twig" %}

{% endblock %}

{% block mainContent %}

    {% if presentation.needs | length > 0 %}

        <div id="needs" class="js-elements-list">
            
            {% for need in presentation.needs %}

                <div id="{{need.id}}" class="js-sortable-element position-relative cursor-pointer bg-success mb-2">

                    <a href="{{path("update_need", {'stringId': stringId, 'need_id': need.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                        <div class="p-3 text-white">
                            
                            <span class="fw-bold">
                
                                {{ need.title }}
                
                            </span>

                        </div>
                
                    </a>


                    {# delete need (Red Cross) button #}

                    <button type="button" data-elements-type="needs" class="js-delete-element pp-edition-mode position-absolute btn btn-danger" data-id="{{need.id}}" style="top:0; right:0;"><span class="fw-bold">&times</span></button>

                </div>
            
        {% endfor %}

        </div>

    {# No website, placeholder for userPresenter #}

    {% elseif userPresenter %}

        <div class="h-100 d-flex align-items-center justify-content-center">

            Aucun besoin présenté

            <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

        </div>
        
    {% endif %}

{% endblock %}


    
{% endembed %}