
{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "news", 'title': "Actualités",} %}

      {% block editButtons %}

        {# Add a news button (triggers a covering footer to create the news) #}

        <button class="js-footer-news pp-edition-mode plus-btn btn btn-light btn-sm me-3">+</button>


    {% endblock %}

    {% block deleteElementsButtons %}

        {% if countNews > 0 %}
        
            {{ parent() }}
        
        {% endif %}

    {% endblock %}

    {% block mainContent %}

        <div id="news" class="">

            {% if countNews > 0 %}

                <link href="/css/news_card.css" rel="stylesheet">
            
                {% for news in presentation.news | reverse %}

                    {% set newsTextContent = news.textContent %}

                    {% include "project_presentation/_show/_news_card.html.twig" %}

                {% endfor %}  

                {% if countNews > 1 %} {# More than one news, we use a slider #}
                            
                    {# News slider controls #}

                    <div class="newsSliderControls">

                        <a class="item previousNewsSlide" onclick="plusSlidesNews(-1)">&#10094;</a>
                        <a class="item nextNewsSlide" onclick="plusSlidesNews(1)">&#10095;</a>
                    
                    </div>

                    {# News slider script #}
                    <script>
                        
                        let slideIndexNews = 1;

                        // Next/previous controls
                        function plusSlidesNews(n) {
                        showSlidesNews(slideIndexNews += n);
                        }

                        function showSlidesNews(n) {
                        let i;
                        let slides = document.getElementsByClassName("news-card");
                        
                        if (n > slides.length) {slideIndexNews = 1}
                        if (n < 1) {slideIndexNews = slides.length}
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }
                        slides[slideIndexNews-1].style.display = "block";
                        } 
                        
                        
                    </script>

                {% endif %}
                
                <style>

                    {# Here we overide some news_card.css default styles #}

                    {# initialize news cards slider #}

                    .news-card{
                        display: none;
                    }

                    .news-card:first-of-type{
                        display: block;
                    }

                    {# end of initialize news cards slider #}

                    .news-card{
                        margin-bottom: 30px;
                    }


                    .newsSliderControls{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        position: absolute;
                        top: 45%;
                    }


                    .newsSliderControls .item{

                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        font-size: 20px;
                        border-radius: 50%;
                        background-color: #a1baba;
                        color: white;
                        text-decoration: none;
                        cursor: pointer;  
                        font-weight: bold;  
                        transition: 0.6s ease;
                        user-select: none;
                        border: 1px solid orange;

                    }


                    .newsSliderControls .item:hover{

                        background-color: rgba(0,0,0,0.8);

                    }


                    @media screen and (max-width: 1280px) {

                        .newsSliderControls .item{

                            margin-left: -10px;
                            margin-right: -10px;

                        }


                    }



                    @media screen and (max-width: 580px) {

                        .news-card{
                            margin-bottom: 10px;
                        }

                        .newsSliderControls{

                            display: none;

                        }

                    }
                
                </style>

                {# Show more news text content #}

                <script>

                    $(document).ready(function(){

                        $('.show-more span').on('click', function(e){
                            e.preventDefault();
                            var $this = $(this); 
                            var $content = $this.closest('.news-card').find('.text-content');
                            $content.removeClass("hideContent").addClass("showContent");
                            $(this).parent().hide();
                            

                        });

                    })
                </script>

            {% endif %}


        </div>

        <style>
        
            #news{

                position: relative;
            }

            @media screen and (max-width: 580px) {

                .news-card {
                    display: block;
                }

            }
        
        
        </style>

    {% endblock %}

{% endembed %}