{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "donationSetupFormModal", 'modal_title': "Activer les donations"} %}
    
{% block modalBody %}



        <div class="mb-3">

            <h5>Conditions d'utilisation</h5>
            
            <div class="">Propon vous permet de recevoir des donations pour votre projet. Pour activer les donations, vous devez résider en France et remplir ce formulaire. Après vérification de vos informations bancaires, le bouton donation sera activé au bout de 3 jours environ. Les donations pour votre projet sont reversées chaque semaine sur votre compte bancaire. Propon se rémunère en prenant 4% de commission sur le montant des donations que vous recevez.</div>
        
        </div>

        

        {{ form_start(form) }}

        <div class="form-control">

            <div class="h5 my-3">Informations bancaires</div>

            {{ form_widget(form) }}
        
        </div>

        

    {% endblock %}

    {% block footerButtons %}

        <button type="submit" class="btn btn-validate">✔️ Valider</button>

        {{ form_end(form) }}

    {% endblock %}


    {% block formErrors %}
        
        {% if not form.vars.valid %}

            <script>
            
                $(document).ready(function(){
            
                    $('#{{modal_id}}').modal('show');
            
                });
            
            </script>

        {% endif %}
    
    {% endblock %}

{% endembed %}