{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "pp-share", 'modal_title': "Partager cette présentation", 'modal_size': "modal-lg"} %}

    {% block modalBody %}

        <div class="share-whole-content">

            <div class="row">

                <div class="col-12 col-lg-7 px-0">

                    <div class="text-container">

                        <div>

                            <p class="mb-3">
                            Pour faire connaître ce projet, copiez son adresse et partagez-là.  
                            </p>

                            <div class="mb-4">Voici son adresse :</div>

                            {# "Copy link" do not work on mobile so we hide copyable textarea on mobile and we use a simple div instead #}

                            <div class="d-md-none mb-3">{{ url ('show_presentation', {"stringId": presentation.stringId}) }}</div>

                            {# Filled copyable textarea displayed for > medium screens #}

                            <textarea id="presentationAbsoluteURL" class="d-none d-md-block" resize="none">{{ url ('show_presentation', {"stringId": presentation.stringId}) }}</textarea>

                            <div class="mb-4">
                                    
                                <button type="button" onclick="copyToClipboard('presentationAbsoluteURL', 'copyURLFeedbackBox', 'Adresse copiée ✅')" class="d-none d-md-inline btn btn-light fw-bold me-3" style="border:2px solid orange !important">Copier cette adresse</button>

                                <span id="copyURLFeedbackBox" class="d-block d-md-inline fw-bold"></span>

                            </div>

                        </div>


                        {# Edit StringId Button #}

                        {% if userPresenter and overallQualityAssessment > 1 %}

                            <div class="pp-edition-mode">

                                <a href="{{ path('edit_pp_string_id', {'stringId': presentation.stringId}) }}">

                                    <button type="button" class="btn btn-light">

                                        Modifier cette adresse

                                    </button>

                                </a>

                            </div>
                        
                        {% endif %}

                    </div>
 
                </div>

                <div class="col-12 col-lg-5 px-0">

                    <div class="image-container">

                        <img src="{{asset('share_object.svg', 'pp_consult')}}" alt="Un cercle de personnes en interactions" width="200">

                    </div>

                </div>

            </div>
            
        </div>

    {% endblock %}

{% endembed %}


<script>

    function copyToClipboard(elementId, feedbackId, feedbackMessage) {

        /* Get the text field */
        var copyText = document.getElementById(elementId);
    
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/
    
        /* Copy the text inside the text field */
        document.execCommand("copy");
    
        var feedback = document.getElementById(feedbackId);
        feedback.innerHTML = feedbackMessage;   

    } 

</script>

<style>
    
    #pp-share textarea {

        width: 90%;
        max-height: 250px;
        resize: none;

        margin-bottom: 10px;

        border: none;
        background-color: inherit;
        font-weight: bold;
        

        
    }


    .share-whole-content{
        margin-bottom: 21px;
        padding:  0 8px;
    }

    .share-whole-content .row{
        margin-bottom: 21px;
    }

    .share-whole-content .image-container{

        display:flex;
        justify-content: center;
        align-items: center;

        height:100%;

        padding: 15px;

        background-color: #f8f9fa;

        border-radius: 8px;
        
    }

    .share-whole-content .image-container img{

        max-width: 100%; 
        height: auto;
    }

    .share-whole-content .text-container{

        height:100%;
        
        padding: 15px 8px;

        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;

        background-color: rgb(255, 255, 255);

    }



    @media screen and (max-width: 768px) {

        .share-whole-content .text-container{

            font-size: 18px;

        }

    }


    @media screen and (max-width: 580px) {

        .share-whole-content .text-container{

            font-size: 15px;

        }

    }


</style>
