{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "text_description", 'title': "Description du Projet",} %}

    {% block editButtons %}

        {# Edit Text Description Button #}

        <a class="pp-edition-mode text-decoration-none" href="{{ path('edit_pp_text_description', {'stringId': presentation.stringId}) }}">
                
            <img class="edit-icon" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >
            
        </a>

    {% endblock %}

    {% block showDeleteElementsButtons %}{% endblock %}

    {% block mainContent %}

        <!-- Project Text Description Display -->

        <div id="text_description" class="pp-struct-content">

            {% set textDescription = presentation.textDescription %}

            {# Text Description Display (2 cases : short text description; collapsible long text description) #}

            <!-- Case 1: short Text: entire text is displayed by default-->

            {% if textDescription | length < 300 %}
            
                <div class="container pp-text-description">
                    
                    {{ textDescription | sanitize_html }}

                </div>

            <!-- Case 2: long Text: we use a collapsible text -->
                
            {% else %}
                
                <div class="long-text container px-0 pl-md-3">

                    <!-- Text Description (Display) -->

                    <div id="collapseTextDescription" class="pp-text-description collapse no-transition" aria-expanded="false">

                        {{ textDescription | sanitize_html }}

                    </div>

                    <!-- Toggle Collapse Button -->

                    <div class="mt-4 mb-2">

                        <button class="collapsed btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseTextDescription"></button>
                        
                    </div>
                    
                </div>
                    
            {% endif %}

        </div>

        <style>
                    
            .long-text button.collapsed:after {
                content: 'Afficher +';
            }
            
            .long-text button:not(.collapsed):after {
                content: 'Réduire';
            }
            
            .long-text #collapseTextDescription.collapse:not(.show) {
                
                display: block;
                
                height: 4.9em; /* height = lineheight * no of lines to display */

                overflow: hidden;

            }   

            .pp-text-description{
                font-size:1.15em;
            }

            @media screen and (max-width: 580px) {


                .long-text #collapseTextDescription.collapse:not(.show) {

                    height: 3em;

                }

                .pp-text-description{

                    font-size: 1.03em;
                }

            }
            
        </style>    

    {% endblock %}

{% endembed %}
