<div class="pp-upper-box row border boder-success">

    <div class="container">

        {# Title Displayed at the top only on small screens #}

        <div class="row d-md-none">

            {% include 'project_presentation/_show/_upper_box/_title.html.twig' %}

        </div>

        {# Logo Column and Goal Column #}

        <div class="row ">

            {# a logo is displayed in two case : it already exists; or we display a fake logo placeholder for user presenters only #}

            {% if presentation.logo or userPresenter %}
                
                {# Logo Column #} {# when fake logo placeholder, it is only displayed for userPresenter (so we add pp-edition-mode class) #}

                <div class="pp-logo-container col-4 col-md-3 col-lg-2 border border-success {% if not presentation.logo and userPresenter %} pp-edition-mode {% endif %}">

                    <div class="">
                        {% include 'project_presentation/_show/_upper_box/_logo.html.twig' %}
                    </div>

                </div>

            {% endif %}

            {# Goal Column (+ Title & Keywords >= Medium screens) #}

            <div class="col border border-success d-flex align-items-center">

                <div class="container">

                    {# Title Display only >= Medium Screens #}

                    <div class="row d-none-d-md-block">

                        {% include 'project_presentation/_show/_upper_box/_title.html.twig' %}
        
                    </div>
        
                    <div class="row">

                        {% include 'project_presentation/_show/_upper_box/_goal.html.twig' %}
                        
                    </div>

                    {# Keywords Display only >= Medium Screens #}

                    <div class="row d-none d-md-block">
        
                        {% include 'project_presentation/_show/_upper_box/_keywords.html.twig' %}

                    </div>


                </div>


            </div>

        </div>

        {# Keywords Display only Small Screens #}

        <div class="row d-md-none">

            {% include 'project_presentation/_show/_upper_box/_keywords.html.twig' %}

        </div>

    </div>

</div>