

{% macro accessComments(countComments) %}
    
    
    <a class="" href="#comments-struct-container">

        <div class="d-flex align-items-center lh-1">
            
            <img class="commentIcon me-2" src="{{ asset('dialog.svg', 'misc')}}" alt="an icon representing a dialog">

            <span class="">Commentaires ({{countComments}})</span> 
        
        </div>
    
    </a>
    
{% endmacro %}           
            
<div class="pp-upper-box pp-struct-container row"> 

    <div class="container left-col-md col-lg-9">

        {# Status Displayed at the top (only for small screens) #}

        <div class="d-md-none mb-3">

            {% include 'project_presentation/_show/status/_view.html.twig' %}

        </div>

        {# Title Displayed at the top (only for small screens) #}

        <div class="row d-md-none">

            {% include 'project_presentation/_show/_upper_box/_title.html.twig' %}

        </div>

        {# Logo Column & {Title + Goal + keywords} Column #}

        <div class="row">

            {# a logo is displayed in two case : it already exists; or we display a fake logo placeholder for user presenters only #}

            {% if presentation.logo or userPresenter %}
                
                {# Logo Column #} {# when fake logo placeholder, it is only displayed for userPresenter (so we add pp-edition-mode class) #}

                <div class="pp-logo-container edit-hoverable-item {% if not presentation.logo and userPresenter %} pp-edition-mode {% endif %}">

                    {% include 'project_presentation/_show/_upper_box/_logo.html.twig' %}

                </div>

            {% endif %}

            {# Goal Column (+ Title & Keywords only for >= Medium screens) #}

            <div class="col d-flex align-items-center">

                <div class="container px-0 ps-md-2">

                    {# Title & Status Display only >= Medium Screens #}

                    <div class="d-none d-md-flex align-items-center mb-2">

                        {# Project Title Display #}

                        {% include 'project_presentation/_show/_upper_box/_title.html.twig' %}

                        {# Project Status Display #}
        
                        {% include 'project_presentation/_show/status/_view.html.twig' %}
        
                    </div>

                    {# Goal Display #}
        
                    <div class="">

                        {% include 'project_presentation/_show/_upper_box/_goal.html.twig' %}
                        
                    </div>

                    

                    <div class="d-none d-md-flex align-items-center">

                        {# Keywords Display only >= Medium Screens #}
        
                        {% include 'project_presentation/_show/_upper_box/_categories_keywords.html.twig' %}

                    </div>


                </div>
                
            </div>

        </div>

        {# Categories & Keywords Display & Thumbnail Access Display- only Small Screens #}

        <div class="keywords-container row d-md-none text-center">

            {% include 'project_presentation/_show/_upper_box/_categories_keywords.html.twig' %}

        </div>

        {# Project status or progression Edition Icon ; presentation's comments - only Small Screens #}

        <div class="edit-status-button-container d-flex justify-content-center d-lg-none text-center">

            {% include 'project_presentation/_show/status/_edit_button.html.twig' %}

        </div>

        <div class="d-flex justify-content-center mt-0 mt-lg-2 d-lg-none">
        
            {{ _self.accessComments(countComments) }}
        
        </div>

    </div>

    {# Right column (only >= lg screens) #}

    <div class="container right-col-md col-lg-3 d-none d-lg-flex flex-column justify-content-start">
        
        {# Project status or progression icon in edition mode #}

        {% if userPresenter %}


                {% include 'project_presentation/_show/status/_edit_button.html.twig' %}

                <div class="px-2 pt-2 pb-0 pt-lg-0 pb-lg-3" style="border: none; border-bottom: 1px solid #ddddb1;">
                
                    {{ _self.accessComments(countComments) }}

                </div>


        {% endif %} 

    </div>


</div>


<style>

    .right-col-md{
        display: flex;
        justify-content: center;
        padding-left: 10px;
        border-left: 1px solid rgb(204, 204, 161);
    }

    .pp-placeholder-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .pp-upper-box {
        margin-bottom: 40px;
    }

    .pp-logo-container{

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        flex: 0 0 auto;
        
        width: 19%;

        padding-right: 0;

    }


    .commentIcon{

        width: 22px;

    }

        
    @media screen and (min-width: 520px) {
            
        .pp-upper-box {

            margin-left: auto;
            margin-right: auto;

            padding: 20px 12px 20px 12px; /* Overriding some pp-struct-container defaults */

        }

    }
        
    @media screen and (max-width: 990px) {
            
        .pp-logo-container{

            width: 21%;

        }
    }
        
    @media screen and (max-width: 580px) {

        .pp-upper-box { /* Overriding some pp-struct-container defaults */
            margin-bottom: 10px;
            padding: 0;
            padding-bottom: 20px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
        }
   
        .keywords-container{

            margin-top: 11px;
            
        }

        .pp-logo-container{

            display: flex;
            align-items: center;

            width: 25%;

        }

        .commentIcon{
            width:25px;
            height: 25px;
        }

    }

</style>