{% block stylesheet %}

    <link href="/css/website_card.css" rel="stylesheet">

{% endblock %}


{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "websites", 'title': "Adresses Web",} %}

    {% block editButtons %}

        {# Add website button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#newWebsiteFormModal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block mainContent %}

        <div id="websites" class="js-elements-list pp-struct-content row m-0">

            {% set websites = presentation.getOC('websites') %}

            {% for website in websites %}

                    {% if loop.index == 3  and not userPresenter %}
                    
                        <div class="collapse no-transition px-0" id="collapse-websites">

                    {% endif %}
                
                    <div id="{{website.id}}" class="js-sortable-element pp-website-card d-flex align-items-center">

                        {% include "project_presentation/edit/other_components/websites/_card_content.html.twig" %}

                        {# Display website on click in a blank tab #}

                        <a data-website-link="{{website.id}}" href="{{website.url}}" target="_blank" rel="noopener noreferrer" class="pp-consultation-mode coverable-link"></a>

                        {% if userPresenter %}
                            
                            {# Delete website (Red Cross) button #}

                            <button type="button" data-elements-type="websites" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{website.id}}">&times</button>                  
                        
                        {% endif %}


                    </div>

                    {% if loop.index > 2 and loop.last and not userPresenter %}

                        </div>
                        
                        <div class="js-elements-list show-more-button-container container px-0 mt-3 mb-2" onclick="this.style.display = 'none'">

                            <span class="show-more-button" data-bs-toggle="collapse" data-bs-target="#collapse-websites" aria-expanded="false" aria-controls="collapse-websites">Afficher plus</span>
                        
                        </div>
                    
                    {% endif %}
                
            {% endfor %}

        </div>


        <style>

            #websites{
                
                display: flex;
                justify-content: center;

                padding-left: 0;

            }

        </style>

    {% endblock %}
    
{% endembed %}
