
{% block stylesheet %}

    <link href="/css/website_card.css" rel="stylesheet">

{% endblock %}


{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "websites", 'title': "Sites Web",} %}

    {% block editButtons %}

        {# Add website button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#newWebsiteFormModal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block mainContent %}
            
        {% set websites = presentation.getOC('websites') %}

        <div id="websites" class="js-elements-list pp-struct-content row m-0">

            {% for website in websites %}
            
                    <div id="{{website.id}}" class="js-sortable-element pp-website-card d-flex align-items-center">

                        {% include "project_presentation/edit/other_components/websites/_card_content.html.twig" %}

                        {# Display website on click in a blank tab #}

                        <a data-website-link="{{website.id}}" href="{{website.url}}" target="_blank" class="pp-consultation-mode coverable-link"></a>
                        
                        {% if userPresenter %}
                            
                            {# Delete website (Red Cross) button #}

                            <button type="button" data-elements-type="websites" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{website.id}}">&times</button>                  
                        
                        {% endif %}


                    </div>
                
            {% endfor %}

        </div>



        <style>

            

            @media screen and (max-width: 580px) {

                #websites{

                    padding-left: 0;

                }

            }

        </style>

    {% endblock %}
    
{% endembed %}
