
{% if countPlaces == 0 %}

    <div class="pp-edition-mode placeholder-container col-4 col-md-2">

        {% set route = path('manage_places', {'stringId': stringId}) %}
    
        {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName':"add_place", 'route': route, 'label': "Lieux"} %} 

    </div>

{% endif %}