{# 
    
    Placeholder "Skeleton", only displayed for user presenter, in edition mode, when a presentation structure is void (example: no websites; or no documents; etc.)
    
#}

    <div class="h-100 d-flex align-items-center justify-content-center">

        <img class="placeholder-image img-fluid" src="{{ asset(iconName ~'.svg', 'pp_wysiwyg')}}" alt="Placeholder for {{entityType | default ("an empty structure")}}" width="200" height="200">

    </div>


    <style>

    </style>
