{# 
    
Skeleton to display a presentation structure content (ex : display websites; display needs; ...)
    
It contains :

    - structure icon
    - structure title
    - some buttons related to this structure (ex: add a website button)
    
#}

{% block structureTitle %} {# Title container with logo and edit button #}

    <div class="pp-struct-title-container {{additionalClasses ?? ""}}"> {# editionMode is empty or pp-consultation-mode #}

        <h3 class="pp-struct-title">
            
            {% block icon %}

                <img 
                
                    src= "{{ asset(iconName ~ '.svg', 'pp_consult') }}"
                    class= "pp-struct-icon"  
                    height= "27" 
                    width= "27" 
                    alt= "{% block iconName %}{% endblock %}"
                    
                >

            {% endblock %}

            {% block title %}<span class="me-2">{{title}}</span>{% endblock %}

            {% if userPresenter %}

                {% block editButtons %}{% endblock %}

                {% block deleteElementsButtons %}

                    <button type="button" class="pp-edition-mode show-delete-items-buttons inactivated btn btn-light btn-sm" aria-label="Show delete element buttons">

                        <img src="{{ asset('trash.svg', 'pp_wysiwyg')}}"  alt="trash icon">

                        <span class="fw-bold">...</span>

                    </button>

                {% endblock %}
                    
            {% endif %}

        </h3>

    </div>

{% endblock %}

    {% block mainContent %}{% endblock %}

{% block specificStyles %}{% endblock %}