
{# Note : Google Map js Inclusion for Geosearch and google Places Usage is done in base.html.twig template #}

<script>

    $(document).ready(function(){

        $('#feedbackBox').hide();

        // Initialize Google Places Input Field

        var input = document.getElementById('autocomplete');
                        
        var options = {
            //types: ['(regions)'],
        };

        var autocomplete = new google.maps.places.Autocomplete(input, options);

    // Add a Project Place

    google.maps.event.addListener(autocomplete, 'place_changed', function(){
            
        var place = autocomplete.getPlace().address_components;
            
        place_type = place[0].types[0];
        place_name = place[0]['long_name'];

        latitude = autocomplete.getPlace().geometry.location.lat(),
        longitude = autocomplete.getPlace().geometry.location.lng();
    
        var componentMap = {
            
            street_number:'',
            route:'',
            sublocality_level_1:'',
            postal_code : '',
            locality: '',
            administrative_area_level_2 : '',
            administrative_area_level_1 : '',
            country: '',
        };

        console.log(place_type);
        console.log(place_name);
        console.log(place);

        // getting places components

        for(var i = 0; i < place.length; i++){
    
            var types = place[i].types; // get types array of each component 
    
            for(var j = 0; j < types.length; j++){ // loop through the types array of each component as types is an array and same thing can be indicated by different name.As you can see in the json object above 
    
                var component_type = types[j];
                
                // check if this type is in your component map. If so that means you want this component
    
                if(componentMap.hasOwnProperty(component_type)){
                
                    componentMap[component_type]=place[i]['long_name'];
    
                }
            }
        }

        // Creating a readable name if place type is just a street number

        if(place_type == 'street_number'){

            place_name = componentMap['street_number'] + ' ' + componentMap['route'];

        }

        // add a place in db (with ajax request)

        // feedback wainting for answer
            
            
        $('#feedbackBox').html('<div class="loader me-2"></div><span class="h5">Demande en Cours...</span>');

        $('#feedbackBox').show();

        $.ajax({
            url: "{{path('ajax_add_place', {'stringId': stringId}) }}",
            type:       'POST',   
            dataType:   'json',
            data: {
                "latitude": latitude,
                "longitude": longitude,
                "type":  place_type,
                "name":  place_name,
                "postalCode": componentMap.postal_code,
                "country": componentMap.country,                 
                "administrativeAreaLevel1": componentMap.administrative_area_level_1,
                "administrativeAreaLevel2": componentMap.administrative_area_level_2,
                "locality": componentMap.locality,                 
                "sublocalityLevel1": componentMap.sublocality_level_1,
                //"route": componentMap.route,                 

            },

            async: true,  
            
            success: function(data, status) {                

                $('#projectPlacesTable').show();

                var placeName = place_name;
                var placeType_fr='';

                switch(place_type) {
                    case 'locality':
                        placeType_fr='Ville';
                        break;
                    case 'sublocality_level_1':
                        placeType_fr='Section de Ville';
                        break;
                    case 'administrative_area_level_2':
                        placeType_fr='Département'
                            break;
                    case 'administrative_area_level_1':
                        placeType_fr='Région'
                            break;
                    case 'country':
                        placeType_fr='Pays'
                            break;
                    case 'route':
                        placeType_fr='Adresse'
                        break;
                    case 'street_number':
                        placeType_fr='Adresse'
                        break;
                    case 'postal_code':
                        placeType_fr='Ville'
                        break;
                    default:
                        // code block
                    } 


                $('#autocomplete').val("");

                $('#feedbackBox').html("✅ Le lieu "+placeName+" a été ajouté </br>↪ Vous pouvez ajouter d'autres lieux si vous voulez");
                
                $('#projectPlacesTable > tbody:last-child').append(
                    '<tr>'
                        +'<td>'+placeType_fr.toUpperCase()+'</td>'
                        +'<td>'+place_name.toUpperCase()+'</td>'
                        +'<td class="py-2"><button data-id="'+ data.placeId+'" data-cityname="'+ place_name+'" type="button" class="js-remove-place btn btn-danger btn-sm rounded fw-bold" data-dismiss="alert">&times;</button></td></tr>');

                $('#autocomplete').focus();
                
                $('#noResult').hide();
            
            },  

            error : function(xhr, textStatus, errorThrown) {  
                // alert('Ajax request failed.');  
            }  
        });
    })

            // Remove a Place

            $('#projectPlacesTable').on('click', '.js-remove-place', function (){

                $('#feedbackBox').show();

                var placeId = $(this).attr("data-id");
                //alert(idCityProject);
                //alert(cityName);

                if (confirm("Confirmez-vous retirer ce lieu ?"))
                { 
                    $('#feedbackBox').html('<div class="loader me-2"></div><span class="h5">Demande en Cours...</span>');

                    $(this).html('<div class="loader"></div>');
                    
                    $.ajax({  

                        url: "{{path('ajax_remove_place', {'stringId': stringId}) }}",
                        type:       'POST',   
                        dataType:   'json',
                        data: {
                        "placeId": placeId,
                        },

                        async: true,  
                        
                        success: function(data, status) {

                            $('#feedbackBox').html("✅ Le lieu sélectionné a été retiré de la présentation");

                            $("#projectPlacesTable").find("[data-id="+placeId+"]").closest('tr').remove();
                        
                        },  

                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                    }); 
                        
                }


            });


            $(document).on({
                'DOMNodeInserted': function() {
                    $('.pac-item, .pac-item span', this).addClass('needsclick');
                }
            }, '.pac-container');
            
    });  

</script>