
<div class="modal" id="add_qa_form_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Ajouter une Question / Réponse</h5>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">

                {{ form_start(form) }}

                {{ form_widget(form) }}

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-info sharp" data-bs-dismiss="modal">Retour</button>         

                <button class="btn btn-success sharp">Valider</button>
                
            </div>

            {{ form_end(form) }}

        </div>

    </div>

</div>