{% extends 'base.html.twig' %}

{% block title %}Réponses au sondage{% endblock %}

{% block body %}


<div class="container">

    <pre>
        {{dataSet }}
    </pre>
    
</div>



{% endblock %}
