{% embed "utilities/notification.html.twig" %}

    {% block class %}notif-help alert-success col-lg-10{% endblock %}

    {% block dismissCross %}{% endblock %}

    {% block header %}{% endblock %}

    {% block body %}

        <div class="d-flex align-items-center">

            <div class="img-container flex-shrink-0">

                <img class="img-fluid" src="{{asset ("presentation_helper/magic.svg", 'larger')}}" alt="magic icon">

            </div>

            <div class="text-container flex-grow-1 ms-0 ms-md-4 ps-2 ps-md-3">

                <h5 class="fw-bold mb-3">🙋 Participez à l’amélioration du site :-)</h5>

                <h5 class="mb-3">Remplir le questionnaire en 4 questions prend 2 minutes et <b>nous aide beaucoup</b> ❤️</h5>

                <div class="buttons-container">
                                        
                    <button class="btn btn-validate me-2" type="button">Je donne mon avis</button>

                </div>

            </div>

        </div>

        <style>

            .notif-help{
                background-color: #e6f6ef;
            }

            .notif-help .img-container{
                width: 130px;
            }

            @media screen and (max-width: 580px) {

                .notif-help .img-container{
                    width: 60px;
                }

                .notif-help .text-container h5{
                    font-size: 1.05rem;
                }

            }

        </style>
    
    {% endblock %}
        
{% endembed %}

{# Modal box containing some temporary advices #}
{% include 'project_presentation/edit/_helper_level_2.html.twig' %}
