<div id="feedbackFormInvite" class="container px-1 pe-md-4 my-4 mb-md-5" style="display:none">

    <a href="{{ path ('fill_basic_pool_form') }}">

        {% include 'pools/notification_invite.html.twig' %}

    </a>

</div>

{# manage a basic feedback form appearing #}

<script>

    var showPoolInvitation;

    // has user already filled the pool form ?

    if(localStorage.getItem('filledPoolForm') === null ){

        localStorage.setItem('filledPoolForm',"no");

    }

    var filledPoolForm = localStorage.getItem('filledPoolForm');

    if(pageViews > 2 && pageViews < 20 && filledPoolForm =="no"){ //pageViews is defined and counted in base template.

        showPoolInvitation = true;

    } else {showPoolInvitation = false}

    
    if(showPoolInvitation){

        $("#feedbackFormInvite").show(); 

    }

</script>