
<div class="diag-jumbotron-4">

  {# Upper decoration : diagonal box #}

  <div class="diagonal-box">

    <div class="diag">🤔 En panne d'inspiration ?</div>

  </div>

  <div class="row inner-jumbo">

    {# Left Column : an image #}
  
    <div class="img-ctn col-12 col-md-7 d-flex align-items-center justify-content-center">
    
      <img class="" src="{{asset('misc/advices.webp', 'larger')}}" alt="Une jeune femme debout qui plie son coude et tend son doigt vers le haut." loading="lazy">

    </div>

    {# Right Column : some text #}

    <div class="text-ctn col-12 col-md-5 px-0 fs-5">

      <h4 class="text-center fw-bold mt-5 mb-4">Utilisez les suggestions ;-)</h4>
      
      <div class="d-none d-md-block">
        
        <p class="text-justify px-3" >

          <b>Présenter son projet n'est pas toujours facile</b>. Quelles informations recherchent les visiteurs ?

        </p>
      
        <p class="text-justify px-3 mb-4" >
          
          Pour réussir votre présentation, <b>remplissez simplement notre modèle de page</b>. Vous pouvez aussi utiliser nos suggestions.

        </p>

      </div>
      
      <div class="d-md-none">
        
        <p class="text-center px-3" >

          Présenter son projet n'est pas toujours simple. Avec Propon, c'est facile, <b>il suffit de remplir notre modèle de page</b>. Vous pouvez aussi utiliser nos suggestions.

        </p>

      </div>


      <div class="col text-center">
      
        <a href="{{ path ('create_presentation') }}"><button class="btn btn-outline-success" style="" type="button">Je présente facilement mon projet</button></a>
      
      </div>

    </div>
  
  </div>

  {# Bottom decoration : waved box #}   

  <div class="wave-container">

    <div class="wave"></div>

  </div>

</div>

<style>

  .diag-jumbotron-4{
    margin-bottom: 70px;
  }

  .diag-jumbotron-4 .diagonal-box {
    height:200px;
    background-color: #bedcfa;
    transform: skewY(-6deg);

  } 

  .diag-jumbotron-4 .diag { 	
    display: flex;
    align-items: center;
    justify-content:center;
    transform: skewY(6deg);
    font-size: 40px;
    font-weight: bold;
    padding-top: 65px;
  }

  .diag-jumbotron-4 .inner-jumbo > * {
    z-index:2;
  }

  .diag-jumbotron-4 .inner-jumbo img {
    margin-top: -20px;
    width: 380px;
    border-radius: 0.25rem;
  }

  .diag-jumbotron-4 .inner-jumbo .text-ctn {
    margin-left: -40px;

  }

  .diag-jumbotron-4 .separation-line{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    height: 10px;
    background-color: blue;
  }

  .diag-jumbotron-4 .wave-container {
    position: relative;
    background: #bedcfa;
    height: 23vh;
    margin-top: -73px;
  }

  .diag-jumbotron-4 .wave {
    position: absolute;
    height: 70px;
    width: 100%;
    background: #bedcfa;
    bottom: 0;
  }

  .diag-jumbotron-4 .wave::before, .diag-jumbotron-4 .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }

  .diag-jumbotron-4 .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  
  .diag-jumbotron-4 .wave::after {
    width: 55%;
    height: 100%;
    background-color: #bedcfa;
    top: 33%;
  }

  
  @media screen and (max-width: 580px) {

    
    .diag-jumbotron-4{
      margin-bottom: 46px;
    }
          

    .diag-jumbotron-4 .diagonal-box {
      height: 60px;
      transform: skewY(-3deg);
      margin-bottom: 32px;
    }

    .diag-jumbotron-4 .inner-jumbo img {
      width: 50%;
      margin-bottom: 10px;
    }

    .diag-jumbotron-4 .diag {
      transform: skewY(3deg);
      padding-top: 16px;
      font-size: 21px; 
    }
      
    .diag-jumbotron-4 .inner-jumbo .text-ctn {
      font-size: 17px !important;
      margin-left: 0px;

    }
      
    .diag-jumbotron-4 .text-ctn h4  {

      display: none;

    }
      
    .diag-jumbotron-4 .text-ctn .btn-sm  {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.2rem;
    }

    .diag-jumbotron-4 .wave-container {
      height: 5vh;
      margin-top: 20px;
    }

    .diag-jumbotron-4 .wave {
      height: 30px;
    }
      

  }

</style>