
<div class="diag-jumbotron-1">

  {# Upper decoration : diagonal box #}

  <div class="diagonal-box">

    <div class="diag">

      <span class="d-none d-md-inline">🙋‍♀️ Si vous cherchez des participants</span>
      <span class="d-md-none">🙋‍♀️ Besoin d'aide pour votre projet ?</span>

    
    </div>

  </div>

  <div class="row inner-jumbo">

    {# Left Column : an image #}
  
    <div class="img-ctn col-md-7 d-flex align-items-center justify-content-center">
    
      <img class="d-none d-md-inline" src="{{asset('misc/resources_types_choices.png', 'larger')}}" alt="types de ressources que vous pouvez demander" loading="lazy">
    
      <img class="d-md-none" src="{{asset('misc/planting_trees.svg', 'larger')}}" alt="Des petits arbres à côté d'une pelle" loading="lazy">

    </div>

    {# Right Column : some text #}

    <div class="text-ctn col-12 col-md-5 px-0 fs-5">
    
      <h4 class="text-center fw-bold mt-5 mb-4">Présentez vos Besoins</h4>
    
      <p class="d-none d-md-block text-justify px-3 mb-4" >Faites la liste de vos besoins et <b>trouvez de l'aide pour faire progresser votre projet</b>. Les visiteurs intéressés peuvent vous contacter par messages privés. Service gratuit ;-)</p>
    
      <p class="d-block d-md-none text-center px-3 mb-4 mb-md-2" >Vous recherchez des compétences, du matériel, des conseils ? Faites-le savoir gratuitement et trouvez des participants bénévoles ou payés.</p>

      <div class="col text-center">
      
        <a href="{{ path ('create_presentation') }}"><button class="btn btn-outline-success" style="" type="button">Je présente mon projet avec mes besoins</button></a>
      
      </div>

      </div>
  
  </div>

  {# Bottom decoration : waved box #}   

  <div class="wave-container">

    <div class="wave"></div>

  </div>

</div>

<style>

  .diag-jumbotron-1{
    margin-bottom: 70px;
  }

  .diag-jumbotron-1 .diagonal-box {
    height:200px;
    background-color: #bedcfa;
    transform: skewY(-6deg);

  } 

  .diag-jumbotron-1 .diag { 	
    display: flex;
    align-items: center;
    justify-content:center;
    transform: skewY(6deg);
    font-size: 40px;
    font-weight: bold;
    padding-top: 65px;
  }

  .diag-jumbotron-1 .inner-jumbo > * {
    z-index:2;
  }

  .diag-jumbotron-1 .inner-jumbo img {
    margin-top: -20px;
    width: 520px;
    border: 1px solid #7c84ac;
    border-radius: 0.25rem;
  }

  .diag-jumbotron-1 .inner-jumbo .text-ctn {
    margin-left: -40px;

  }

  .diag-jumbotron-1 .separation-line{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    height: 10px;
    background-color: blue;
  }

  .diag-jumbotron-1 .wave-container {
    position: relative;
    background: #bedcfa;
    height: 23vh;
    margin-top: -73px;
  }

  .diag-jumbotron-1 .wave {
    position: absolute;
    height: 70px;
    width: 100%;
    background: #bedcfa;
    bottom: 0;
  }

  .diag-jumbotron-1 .wave::before, .diag-jumbotron-1 .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }

  .diag-jumbotron-1 .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  
  .diag-jumbotron-1 .wave::after {
    width: 55%;
    height: 100%;
    background-color: #bedcfa;
    top: 33%;
  }


  @media screen and (max-width: 580px) {
    
    .diag-jumbotron-1{
      margin-bottom: 51px;
    }

    .diag-jumbotron-1 .diagonal-box {
      height: 60px;
      transform: skewY(-3deg);
      margin-bottom: 38px;
    }

    .diag-jumbotron-1 .diag {
      transform: skewY(3deg);
      padding-top: 16px;
      font-size: 21px; 
    }
      
    .diag-jumbotron-1 .inner-jumbo img {
      margin-top: -26px;
      margin-bottom: 19px;
      max-width: 50%;
      border: none;
      border-radius: 0.25rem;
    }

        
    .diag-jumbotron-1 .inner-jumbo .text-ctn {
      font-size: 17px !important;
      margin-left: 0px;

    }
      
    .diag-jumbotron-1 .text-ctn h4  {

      display: none;

    }
      
    .diag-jumbotron-1 .text-ctn .btn-sm  {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.2rem;
    }

    .diag-jumbotron-1 .wave-container {
      height: 5vh;
      margin-top: 20px;
    }

    .diag-jumbotron-1 .wave {
      height: 30px;
    }
 

  }

</style>