<div class="hit_faq_container row border py-lg-5 my-4">
    
      <style>

        @media screen and (max-width: 580px) {
        
          .hit_faq_container {

            border: none !important;

          }

        }
      
      </style>


      <div class="how-it-works col-12 col-lg-6">

        <h4 class="text-center fw-bold mb-4">Comment ça marche ?</h4>

        <div class="container col-lg-10">
        
          <div class="row">
          
            <div class="col-2 d-flex align-items-center px-0 px-md-2">

              <img class="img-fluid" src="{{asset('misc/montain_representing_a_goal.png', 'larger')}}" alt="Une montagne qui symbolise l'objectif d'un projet." loading="lazy">
            
            </div>

            <div class="col-10 d-flex align-items-center justify-content-center">

              <div class="">
                
                <h5 class="intermediate-title">Décrivez rapidement votre projet en répondant à des questions simples.</h5>

              </div>
            
            </div>
          
          </div>

          <hr>
        
          <div class="row">
          
            <div class="col-2 d-flex align-items-center px-0 px-md-2">

              <img class="img-fluid" src="{{asset('misc/summarize.png', 'larger')}}" alt="Une montagne qui symbolise l'objectif d'un projet." loading="lazy">
            
            </div>

            <div class="col-10 d-flex align-items-center justify-content-center">

              <div class="">
                
                <h5 class="intermediate-title">Obtenez l'annonce qui résume votre projet avec son adresse personnalisée.</h5>

              </div>
            
            </div>
          
          </div>

          <hr>
        
        
          <div class="row">
          
            <div class="col-2 d-flex align-items-center px-0 px-md-2">

              <img class="img-fluid" src="{{asset('misc/business_card_tiny_screens.webp', 'larger')}}" alt="Dessin d'une main qui tend une carte de visite" loading="lazy">
            
            </div>

            <div class="col-10 d-flex align-items-center justify-content-center">

              <div class="">
                
                <h5 class="intermediate-title">Partagez-la sur des forums et des réseaux sociaux pour trouver des participants.</h5>
                
              </div>
            
            </div>
          
          </div>
        
        
        </div>
      
      </div>

      <style>

        @media screen and (max-width: 580px) {
        
          .how-it-works h5 {

            font-size: 15px;
            margin-bottom: 0px;

          }

        }
      
      </style>

      <div class="col pe-lg-4 mt-5 mt-lg-0">

        <h4 class="text-center fw-bold mb-4">💫 Foire aux questions</h4>

        <div class="wrapper bg-white rounded shadow">
            
          <div class="accordion accordion-flush border-top border-start border-end" id="myAccordion">
          

            {# qa #}
            
            <div class="accordion-item">
            
              <h2 class="accordion-header" id="flush-headingOne">
                
                <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Pourquoi Propon est gratuit ?</button> 
              
              </h2> 
              
              <div id="flush-collapseOne" class="accordion-collapse collapse border-0" aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion"> 
                
                <div class="accordion-body p-4"> 
                  
                  <p class="mb-0">

                    Propon est une initiative visant à accélérer la réussite des projets en les présentant "tous". Nous nous rémunérerons grâce à des services personalisés entièrement optionnels.
                  
                  </p>
                
                </div> 
                
              </div> 
            
            </div> 
          

            {# qa #}

            <div class="accordion-item">
            
              <h2 class="accordion-header" id="flush-heading-2">
                
                <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="flush-collapse-2">Qu'obtient-on d'intéressant avec Propon ?</button> 
              
              </h2> 
              
              <div id="flush-collapse-2" class="accordion-collapse collapse border-0" aria-labelledby="flush-heading-2" data-bs-parent="#myAccordion"> 
                
                <div class="accordion-body p-4"> 

                  <p>Avec Propon, vous obtenez :</p>
                  
                  <ul class="mb-0">

                    <li>La possibilité de présenter vos besoins pour trouver des participants;</li>
                    <li>Une présentation de votre projet simple et rapide;</li>
                    <li>Une adresse personnalisée à partager sur les forums et les réseaux sociaux;</li>
                    <li>Une meilleure visibilité sur le web !</li>
                  
                  </ul>

                  <p class="mt-3">Tout ceci gratuitement.</p>
                
                </div> 
                
              </div> 
            
            </div> 


            {# qa #}

            <div class="accordion-item">
            
              <h2 class="accordion-header" id="flush-heading-3">
                
                <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-3" aria-expanded="false" aria-controls="flush-collapse-3">Combien de temps pour présenter mon projet sur Propon ?</button> 
              
              </h2> 
              
              <div id="flush-collapse-3" class="accordion-collapse collapse border-0" aria-labelledby="flush-heading-3" data-bs-parent="#myAccordion"> 
                
                <div class="accordion-body p-4"> 

                  <p class="mb-0">On essaie de battre des records de vitesse ! Quelques minutes suffisent à présenter votre projet !</p>
                
                </div> 
                
              </div> 
            
            </div> 


            <style>
            
              @media screen and (max-width: 580px) {

                .accordion-button {
                  padding: 1rem 0.8rem;
                }

                .accordion-button::after {

                  width: 12px;
                  height: 12px;
                  background-size: unset;
                }


              }
            
            </style>
          
            
          </div> 
        
        </div>
      
      </div>

    </div>