{% embed "utilities/jumbotron_skeleton.html.twig" %}

    {% block image %}

    {#

        <img src="{{asset ('misc/homepage_jumbotron.svg', 'larger')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="380" height="330">#}

        {% include "home/_demo_video.html.twig" %}

        <style>

            @media screen and (max-width: 580px) {

                .jumbotron-img-ctn{
                    padding:0; /* increase available width for better video experience on mobile */
                }

            }

        </style>

    {% endblock %}

    {% block text %}

        <h1 class="jumbotron-title display-5 lh-1">La carte de visite web de votre projet.</h1>

        <p class="lead">
        Vous présentez un projet ? Créez sa carte de visite sur le web. <b>Elle concentre toutes les informations utiles à partager, et s'affiche correctement sur différents écrans. C'est simple, rapide, et gratuit</b>.
        </p>

        <div class="d-md-flex justify-content-md-start pt-3">

            <a href="{{path('create_presentation')}}"><button type="button" class="jumbotron-btn btn btn-primary">Ajouter un Projet</button></a>

        </div>
    
    {% endblock %}

{% endembed %}