{% embed "utilities/jumbotron_skeleton.html.twig" %}

    {% block image %}

   
        <img src="{{asset ('misc/homepage_hands_volunteers.png', 'larger')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" style="border-radius:0.65rem;" alt="Raised hands from people who Want to volunteer" width="500" loading="lazy">


    {% endblock %}

    {% block text %}

        <h1 class="jumbotron-title display-5 lh-1 mb-lg-4 text-center">L'Encyclopédie des Projets</h1>

        <p class="text-center text-md-start lead"><b>Propon est une initiative gratuite visant à répertorier les projets pour la réussite de tous. Résumez votre projet, rendez-le plus visible, et trouvez de l'aide grâce à notre outil simple, rapide, et 100 % gratuit à utiliser</b>. 

        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center justify-content-md-start pt-3">

            <a href="{{path('create_presentation')}}">

                <button class="jbtr-cta-btn btn d-flex justify-content-center align-items-center px-3 pt-2 me-md-4 mb-3 mb-md-0" data-track-click='{"key":"clicked-jumbotron-create-presentation"}'>
        
                  <img class="mb-2" src="{{ asset('add_presentation.svg', 'misc')}}" alt="bucket with a plus icon">
                  
                  <span class="fw-bold ps-2">Présenter un projet</span>
              
                </button>
        
              </a>

              <a class="" href="{{path('static', {'page_name': "short_manifesto",})}}">
  
                  <button class="jbtr-cta-btn fw-bold btn d-flex justify-content-center align-items-center pt-2 pe-4" style=" height:50px; padding-bottom: 10px;" data-track-click='{"key":"read-the-pop-manifesto"}'>

                    <span class="ps-1 h5 mb-1">> </span>
                    <span class="ps-1">Lire le Manifesto</span>
                
                  </button>
          
                </a>

        </div>

        <style>

            .jumbotron-title{

                font-size: 34px;
                
            }

            .jbtr-cta-btn{

                min-width: 202px;
                border-color: rgb(216, 216, 201);
                
            }

            .jbtr-cta-btn:hover{

                background-color: rgb(245, 255, 243);

            }
            
            @media screen and (max-width: 580px) {

                .jumbotron-title{

                    font-size: 24px;
                    
                }

                .jbtr-cta-btn{

                    min-width: 230px;
                    
                }

            }

        </style>

    
    {% endblock %}

{% endembed %}