{% embed "utilities/jumbotron_skeleton.html.twig" %}

    {% block image %}

   
        <img src="{{asset ('misc/homepage_global_network.webp', 'larger')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" style="border-radius:0.65rem;" alt="A world map with a network of projects" loading="lazy" width="300" height="300">


    {% endblock %}

    {% block text %}

        <h1 class="jumbotron-title display-5 lh-1">L'Encyclopédie des Projets</h1>

        <p class="text-center text-md-start lead">Nous construisons <b>un grand répertoire des projets prévus ou en cours</b>. <b>Chaque projet compte</b>. <b>Présentez le vôtre</b>.</p>

        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center justify-content-md-start pt-3">

            <a href="{{ path ('edit_presentation_as_guest_user') }}">

                <button class="jbtr-cta-btn btn light-button d-flex justify-content-center align-items-center px-3 pt-2 me-md-4 mb-3 mb-md-0" style="border-color: rgb(216, 216, 201);" data-track-click='{"key":"clicked-jumbotron-create-presentation"}'>
        
                  <img class="mb-2" src="{{ asset('add_presentation.svg', 'misc')}}" alt="bucket with a plus icon">
                  
                  <span class="fw-bold ps-2">Ajouter un Projet</span>
              
                </button>
        
              </a>

              <a class="" href="{{path('static', {'page_name': "short_manifesto",})}}">
  
                  <button class="jbtr-cta-btn fw-bold btn d-flex justify-content-center align-items-center light-button pt-2 pe-4" style="border-color: rgb(216, 216, 201); height:50px; padding-bottom: 10px;" data-track-click='{"key":"read-the-pop-manifesto"}'>

                    <span class="ps-1 h5 mb-1">> </span>
                    <span class="ps-1">Lire le Manifesto</span>
                
                  </button>
          
                </a>

        </div>

        <style>

            .light-button:hover{

                background-color: rgb(233, 233, 233);

            }

            .jbtr-cta-btn{

                min-width: 202px;
                
            }
            
            @media screen and (max-width: 580px) {

                .jbtr-cta-btn{

                    min-width: 230px;
                    
                }

            }

        </style>

    
    {% endblock %}

{% endembed %}