<div class="last-cta-container mb-5 p-0 p-md-5 text-center">

  <div class="row">

    <div class="last-cta-container-img-col col-12 col-md-4">

      <img class="img-fluid" src="{{asset('misc/cool_people_looking_at_you.webp', 'larger')}}" alt="Un groupe de personnes cool en face de la plage nous regarde" loading="lazy">
    
    </div>

    <div class="last-cta-container-text-col left-col col-12 col-md-4 py-4 py-md-0">
    
      <p class="pb-4">

        Présentez votre projet pour améliorer sa visibilité ou trouver des contributeurs.

      </p>

            
      <a href="{{ path ('create_presentation') }}">

        <button class="btn px-3 px-md-4 py-2 py-md-3" data-track-click='{"key":"clicked-bottom-create-presentation"}'>

          <img class="mb-2" src="{{ asset('add_presentation.svg', 'misc')}}" alt="bucket with a plus icon">
          
          <span class="h5 fw-bold ps-2">Je présente mon projet</span>
      
        </button>

      </a>



    </div>

    <div class="last-cta-container-img-col right-col col-12 col-md-4">

      <img class="img-fluid" src="{{asset('misc/montains_at_golden_hours.webp', 'larger')}}" alt="Des montagnes lors du lever du soleil." loading="lazy">
    
    </div>
  
  </div>

</div>


  <div class="last-moto row fs-5 mt-5 fw-bold">

    <div class="text-center mb-3">Propon est une initiative gratuite dédiée à la promotion des projets pour la réussite de tous.</div>
  
  </div>

<style>

  .last-cta-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 50%, 0, transparent 100%), linear-gradient(-135deg, #ceffff, #fff);
    border-radius: 2px;
  }


  .last-cta-container-img-col{

    display: flex;
    align-items: center;
    justify-content: center;

  }

  .last-cta-container-text-col{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .last-cta-container-text-col h4 {
    font-size: 36px;
    font-weight: 900;
    color: rgb(29, 112, 57);
  }

  .last-cta-container-text-col p {
    font-size: 22px;
  }

  .last-cta-container-img-col img{

    border-radius: 4px;

  }

  .last-cta-container button{
    border-color: rgb(216, 216, 201);
  }

  .last-cta-container button :hover{
    background-color: white;
  }

  @media screen and (max-width: 580px) {

    .last-cta-container {
      
	    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 50%, 0, transparent 100%);

    }

    .last-cta-container-text-col h4 {
      font-size: 26px;
    }

    .last-cta-container-text-col p {
      padding: 0 8px;
      font-size: 17px;
    }
    
    .last-moto {
      font-size: 15px !important;

    }
    
    .last-cta-container a {
      margin-top: 20px;
    }

    .last-cta-container-img-col.right-col img {
      height: 130px;
      width: 100%;
    }



  }


</style>