{% include "/search/index.html.twig" %}

<div id="" class="right-right-panel">
  

</div>


{# Overide some default styles #}

<style>

  .ais-InstantSearch{

    margin: unset; /* decenter original content to let place for a right panel*/
    max-width:100%;
    
  }

  .right-panel{

    float: left;
    width: 700px;
    margin-left: unset;

  }

  .right-right-panel{

    float: right;
    width: 350px;
    min-height: 600px;
    border: 1px solid black;
    margin: 1em 0;
    padding: .3rem 1.7rem;
    border: 1px solid #c4c8d8;
    border-radius: 5px;

  }

  .right-right-panel .ais-Hits-item{

    width: 100%;
  }

  


</style>





<script>

   

   // ajax elements reordering & deletion

    $(document).ready(function(){


       


      
      $('.ais-InstantSearch').append($('.right-right-panel'));
    

      $('.right-right-panel').sortable({

        animation: 150,
        

        group: {
          name:'results-to-selection',
          pull: 'clone',
        },

        ghostClass: 'blue-background-class',

        filter: ".disabled",

        onMove: function (evt) {
          return evt.related.className.indexOf('disabled') === -1;

        },

        // drag and drop implies elements positions updates (ajax call)

        onEnd: function (evt) {

            var entityType = evt.srcElement.id;

            //console.log(evt.oldDraggableIndex);
            //console.log(evt.newDraggableIndex);
            //console.log(evt.item);

            // an array storing elements id position

            var elementsPositions = [];

        },

      });


    });

</script>