
    {{ form_start(form) }}

   

    <div class="mb-3">
        {{ form_errors(form.title) }}
    </div>
    
    {{ form_widget(form.title) }}

    <button id="submit-title-form" type="submit" class="btn btn-success">Ok</button>

    {{ form_end(form) }}





    <style>

        

        #title_title{
            display: inline;
            width: 85%;
        }

        #submit-title-form{
            vertical-align: baseline;
        }

        
        @media (max-width: 580px) {

            #title_title {
                width: 80%;
                margin-right: 3px;
            }

        }


    </style>
