
    {{ form_start(form) }}

    <div class="mb-3">

        {{ form_errors(form.stringId) }}

    </div>

    <div class="mb-4">
        
        {{ form_widget(form.stringId) }}

    </div>
    
    {# Action Possibilities #}

    <div class="">

        <button type="submit" class="btn btn-validate me-3">Valider</button>

        <a href="">
            <button type="button" class="btn btn-go-back me-3">Retour</button>
        </a>

    </div>


    {{ form_end(form) }}

