
{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}


{% block title %}Contributeurs externes (sponsors, etc){% endblock %}

{% block mainContentTitle %}Contributeurs externes (sponsors, partenaires, etc){% endblock %}

{% block sidebar %}{% include '_partials/sidebar.html.twig' %}{% endblock %}


{% block moreInfoButtonLabel %}

    Info

{% endblock %}

{% block moreInfoContent %}
    
    <p class="h5">

       Pour modifier l'ordre des titres, utilisez le glisser-déposer.

    </p>

{% endblock %}


{% block mainContent %}

    <!-- Add an external contributor structure button (triggers a modal with a form) -->

    <div class="mb-5">

        <button type="button" data-bs-toggle="modal" data-bs-target="#add_ecs_form_modal" class="btn btn-success me-1">+ Ajouter</button> 

    </div>

    <!-- Add an ecs form modal -->

    {% include 'project_presentation/edit/contributor_structures/ecs/_form_modal.html.twig' %}


    <!-- ECS List -->

    <div id="elements-list" data-elements-type="contributorStructures" class="">
     
        {% for cs in ecs %}

            <!-- contributor structure item -->

                <div id="{{cs.id}}" class="js-sortable-element fw-bold position-relative cursor-pointer mb-4" style="word-wrap: break-word; max-width: 500px; border: 2px solid #40409f;">

                    <a href="{{path('manage_one_cs', {'stringId': stringId, 'id_cs': cs.id  })}}" class="text-body text-decoration-none">

                        <div class="p-4">

                            {{cs.title}}

                        </div>

                    </a>

                    <!-- Remove a cs (Button with Red Cross) -->
            
                     <button type="button" class="js-delete-element position-absolute btn btn-danger" data-id="{{cs.id}}" style="top:0; right:0;"><span class="font-weight-bold">&times</span></button>
        
                </div>

            </a>

        {% endfor %}

    </div>

{% endblock %}


{% block seeResultAnchor %}externalContributorsDisplay{% endblock %}


{% block specificStyles %}


{% endblock %}


{% block specificJavascripts %}

<script>


</script>

{% endblock %}


{% endembed %}
