{% embed "project_presentation/edit/update_element_skeleton.html.twig" %}

    {% block mainContentTitle %}Modifier le titre{% endblock %}

    {% block collapsibleMoreInfo %}{% endblock %}

    {% block mainContent %}

        <div class="mt-3 mb-3">

            {{ form_widget(form.title) }}

        </div>

        <div class="d-none">

            {{ form_rest(form) }}

        </div>
    
    {% endblock %}

    {% block seeResultAnchor %}cs-{{csId}}{% endblock %}

{% endembed %}