{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 style="color: green;">Bienvenue !</h1>

        <section>

                <p>
                    <b>Le Projet des Projets est une initiative qui vise à présenter les projets à grande échelle</b>. Nous pensons que cette initiative permettrait d'<b>accélérer la réalisation de projets importants à nos yeux</b>, par exemple lutter contre le changement climatique.
                </p>

                <p>
                    <b>Recenser, présenter, et trier les projets, c'est déjà favoriser leur découverte par des individus susceptibles de participer à leur réalisation</b>. Chaque projet compte, présentez le vôtre.

                </p>

                <p>
                    À ce jour le Projet des Projets est porté par Laurent GAILLARD. Pour en savoir plus sur mes motivations, vous pouvez consulter le <a href="{{path('static', {'page_name': "short_manifesto",})}}"><b>Manifeste du Projet des Projets</b></a>.
                </p>

        </section>

        <section>

            <h2 style="color: green;">Participer</h2>

            <p class="">

               <b>Rejoignez-nous ! Le Projet des Projets a besoin de vous pour être amélioré</b>. Toutes vos idées, critiques, et remarques sont bienvenues. Si vous souhaitez participer plus activement à cette aventure, vous pouvez <a class="fw-bold" href="https://www.propon.org/projet-des-projets" target="_blank" rel="noopener noreferrer" >consulter nos besoins ici</a>, ou suggérer vos propres propositions de participation et <a class="fw-bold" href="{{path('contact_website')}}">nous contacter ici</a>. 
    
            </p>

        </section>

    </div>

{% endblock %}
