{% extends 'base.html.twig' %}


{% block headTag %}

    <meta name="description" content="Nous créons LA plateforme de présentation de projets. On est très demandeurs de vos suggestions et propositions de participation. Rejoignez-nous !">

{% endblock %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 style="color: green;">Bienvenue !</h1>

        <section>

                <p>
                    <b>Propon est une initiative qui vise à présenter les projets à grande échelle</b>. Nous pensons que cette initiative permettrait d'<b>accélérer la réalisation de projets importants à nos yeux</b>, par exemple lutter contre le changement climatique.
                </p>

                <p>
                    <b>En effet, recenser, présenter, et trier les projets, c'est déjà favoriser leur découverte</b> par des personnes susceptibles de <b>participer à leur réalisation</b>. <b>Chaque projet compte, présentez le vôtre</b>. 

                </p>

                <p>
                    À ce jour le Projet des Projets est porté par Laurent GAILLARD. Pour en savoir plus sur mes motivations, vous pouvez consulter le <a href="{{path('static', {'page_name': "short_manifesto",})}}"><b>Manifeste du Projet des Projets</b></a>.
                </p>

        </section>

        <section>

            <h2 style="color: green;">Participer</h2>

            <p class="">

               <b>Propon a besoin de vous pour être amélioré</b>. Toutes vos idées, critiques, et remarques sont bienvenues. Si vous souhaitez participer plus activement à cette aventure, vous pouvez <a class="fw-bold" href="https://www.propon.org/projet-des-projets" target="_blank" rel="noopener noreferrer" >consulter nos besoins ici</a> ou suggérer vos propres propositions de participation en <a class="fw-bold" href="{{path('contact_website')}}">nous contacter ici</a>. 
    
            </p>

        </section>

    </div>

{% endblock %}
