{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 style="color: green;">Qui sommes-nous ?</h1>

        <section>

                <p>
                    Le Projet des Projets est une initiative visant à <b>présenter les projets à grande échelle, pour favoriser leur découverte par des individus susceptibles de participer à leur réalisation</b>. Nous pensons que cette activité permettrait d'<b>accélérer la réalisation de projets importants à nos yeux</b>, par exemple lutter contre le dérèglement climatique. Chaque projet compte, présentez le vôtre sur propon.org.

                </p>

                <p>
                    Actuellement, le Projet des Projets est portée par Laurent GAILLARD. Pour en savoir plus sur mes motivations, vous pouvez consultez le <a href="https://propon.org/projet-des-projets/#documents-struct-container"><b>Manifeste du Projet des Projets</b></a>.
                </p>

        </section>

        <section>

            <h2 style="color: green;">Contribuer</h2>

            <p class="">

               <b>Le Projet des Projets a besoin de vous pour être amélioré</b>. Toutes vos idées, critiques, et propositions sont bienvenues. Contactez-nous avec le formulaire accessible <a href="{{path('contact_website')}}"> <span class="badge bg-primary fw-bold" >ici</span></a>
    
            </p>

        </section>

    </div>

{% endblock %}
