{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 style="color: green;">Qui sommes-nous ?</h1>

        <section>

                <p>
                    Je m'appelle Laurent GAILLARD et je pense que <b>la présentation des projets à grande échelle</b> nous permettrait d'<b>accélérer la réalisation de projets importants à nos yeux</b>, par exemple pour lutter contre le déreglement climatique qui nous fait face. C'est pourquoi je souhaite créer un <b>"Wikipédia des Projets"</b>. Tous les projets comptent.
                </p>

                <p>
                    Pour en savoir plus sur mes motivations, vous pouvez consultez le <a href="https://propon.org/projects/qzihor/#documents-struct-container"><b>Manifeste du Projet des Projets</b></a>.
                </p>

        </section>

        <section>

            <h2 style="color: green;">Contribuer</h2>

            <p class="">

               <b>Le Projet des Projets a besoin de vous pour être amélioré</b>. Toutes vos idées, critiques, et propositions de participations sont les bienvenues. N'hésitez pas à me contacter en utilisant le formulaire de contact accessible <a href="{{path('contact_website')}}"> <span class="badge bg-primary fw-bold" >ici</span></a>
    
            </p>

        </section>

    </div>

{% endblock %}
