{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 style="color: green;">Qui sommes-nous ?</h1>

        <section>

                <p>
                    Je m'appelle Laurent GAILLARD et pense que <b>la présentation des projets à grande échelle</b> nous permettrait d'<b>accélérer la réalisation de projets importants à nos yeux</b>, par exemple contrer le déreglement climatique qui nous fait face. C'est pourquoi je souhaite créer un <b>"Wikipédia des Projets de l'Humanité"</b>, et c'est pourquoi j'ai décidé de créer ce site. 
                </p>

                <p>
                    Pour en savoir plus sur ce qui me motive à y arriver, vous pouvez consultez le <a href="#" target="_blank"><b>Manifeste du Projet des Projets</b></a>.
                </p>

        </section>

        <section>

            <h2 class="">Contribuer</h2>

            <p class="">

               <b>Le Projet des Projets à besoin de vous pour être amélioré</b>. Toutes vos remarques, critiques, idées, et propositions de participations sont les bienvenues. N'hésitez pas à me contacter avec le formulaire accessible <a href="{{path('contact_website')}}"> <span class="badge bg-info fw-bold">ici</span></a>.
    
            </p>

        </section>

    </div>

{% endblock %}
