{% extends 'base.html.twig' %}

{% block title %}Crédits et Remerciements{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 class="mt-md-4" style="color: green;">Crédits et remerciements</h1>

        <section>

            <h2>Remerciements</h2>

                <div class="ps-md-3">

                    <p>
                        ❤️❤️❤️ Merci à toutes les personnes qui rendent possible la création et l'utilisation de ce site. Merci également à tous les contributeurs du web qui partagent des outils qu'ils ont créés. Ce site n'existerait pas sans vous.
                    </p>

                </div>

        </section>

        
        <section>

            <h2 class="">Technologies utilisées</h2>

            <div class="ps-md-3">

                <p>
                Ce site web est fabriqué avec le <a href="https://symfony.com/" target="_blank" class="fw-bold"> Framework PHP Symfony 🚀</a>
                </p>

            </div>

        </section>


        <section>

            <h2 class="">Crédits images</h2>

            <div class="ps-md-3">
    
                {# Flaticon #}

                <h5 class="mb-3">Images en provenance du site <a href="https://www.flaticon.com" target="_blank" rel="noopener noreferrer"><b>flaticon.com</b></a></h5>

                <ul class="mb-5">
                    <li>freepik</li>
                    <li>DinosoftLabs</li>
                    <li>Vitaly Gorbachev</li>
                    <li>pixelmeetup</li>
                    <li>smalllikeart</li>
                    <li>mynamepong</li>
                    <li>reading book by mangsaabguru</li>
                </ul>

                {# The noun project #}

                <h5 class="mb-3">Images en provenance du site <a href="https://www.thenounproject.com" target="_blank" rel="noopener noreferrer"><b>thenounproject.com</b></a></h5>

                <ul>
                    <li>shashank singh</li>
                    <li>shwepes</li>
                </ul>

            </div>

        </section>

    </div>

{% endblock %}
