{% extends 'base.html.twig' %}

{% block title %}Crédits et Remerciements{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1 class="mt-md-1" style="color: green;">Crédits & Remerciements</h1>

        <section>

            <h2><span class="h4">👉</span> Remerciements</h2>

                <div class="ps-md-3">

                    <p>Plusieurs personnes ont données de leur temps et de leurs conseils pour améliorer ce site, ou pour qu'il trouve des utilisateurs. Qu'elles en soient ici sincèrement remerciées. Ce site n'existerait pas sans vous.</p>

                    <p>Merci également à tous les contributeurs du web qui partagent des outils qu'ils ont créés, qui enseignent leurs compétences, et qui offrent de leur temps pour résoudre des problèmes. Ici encore, ce site n'existerait pas sans vous.</p>

                </div>
        </section>

        
        <section>

            <h2 class=""><span class="h4">👉</span> Technologies Utilisées</h2>

            <div class="ps-md-3">

                <p>
                Ce site web est fabriqué avec le <a href="https://symfony.com/" target="_blank" class="fw-bold"> Framework PHP Symfony 🚀</a>.
                </p>

            </div>

        </section>


        <section>

            <h2 class=""><span class="h4">👉</span> Crédits Images</h2>

            <div class="ps-md-3">
    
                {# Flaticon #}

                <div class="mb-3">

                    <h5 class="d-inline">• Images en provenance du site <a href="https://www.flaticon.com" target="_blank" rel="noopener noreferrer"><b>flaticon.com</b></a></h5><span class="fs-6"> (Thanks @ : freepik, DinosoftLabs, Vitaly Gorbachev, pixelmeetup, smalllikeart, mynamepong, reading book by mangsaabguru, Broadcast icon by azmianshori, Finance icon (euro) by Darius San).</span>

                </div>

                {# The noun project #}

                <div class="mb-3">

                    <h5 class="d-inline">• Images en provenance du site <a href="https://www.thenounproject.com" target="_blank" rel="noopener noreferrer"><b>thenounproject.com</b></a></h5><span class="fs-6"> (CC BY 3.0) (Thanks @ : shashank singh, shwepes, Erik Bagossy, Helmi Salam Said).</span>

                </div>

                {# Other images credits #}

                <div class="mb-3">

                    <h5 class="mb-2">• Images en provenance d'autres sources : Thanks @ :</h5>

                    <ul>
                    
                        <li>Nenad Stojkovic - Two embracing lonely teddy bears look out the window. - CC BY 2.0 Deed - flickr.com</li>
                    
                    </ul>

                </div>



            </div>

        </section>

    </div>

{% endblock %}
