{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1>Politique de confidentialité</h1>

        <section>
                
            <h2>Utilisation des données personnelles</h2>

            <section>
           
                <h3>Images et avatars téléversés</h3>

                <p>
                    Si vous êtes un utilisateur ou une utilisatrice enregistré·e et que vous téléversez des images sur le site web, nous vous conseillons d’éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les visiteurs peuvent télécharger et extraire des données de localisation depuis ces images.
                </p>

            </section>


            <section>
                    
                <h3>Cookies</h3>

                <p>

                Si vous avez un compte et que vous vous connectez sur le site, un cookie temporaire sera créé afin de persister votre état de connexion. Ce cookie sera automatiquement détruit lorsque vous vous déconnectez du site.

                </p>

                <p>

                Des cookies peuvent être créés à des fins statistiques. Vous avez la possibilité de les choisir ou les refuser lorsque vous vous connectez pour la première fois sur le site avec un navigateur web. 

                </p>

            </section>

            <section>

                <h3>Contenus embarqués depuis d’autres sites</h3>

                <p>
                    Certaines pages de ce site peuvent inclure des contenus intégrés depuis d’autres domaines du web (par exemple des vidéos youtube). Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivi tiers, et suivre vos interactions avec ces contenus embarqués.
                </p>

            </section>

            <section>
                
                <h3>Statistiques et mesures d’audience</h3>

                <p>
                    Les données utilisées sont anonymisées.
                </p>

            </section>

        </section>


        <section>

            <h2>Durées de stockage des données personnelles</h2>

            <p>
                Pour les utilisateurs et utilisatrices qui s’enregistrent sur le site, nous stockons les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment. Seul les administrateurs du site peuvent voir et modifier les informations non publiques.
            </p>

        </section>

        <section>

            <h2>Les droits que vous avez sur vos données</h2>

            <p>
                Si vous avez un compte sur le site, vous pouvez demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou de sécurité.
    
                Si vous avez un compte et que vous souhaitez supprimer vos informations, vous pouvez le faire automatiquement depuis votre compte en cliquant sur le bouton supprimer.
            </p>

        </section>

        <section>

            <h2>Transmission de vos données personnelles</h2>

            <p>Vos données stockées sur le site ne sont pas partagées avec des tiers.</p>

        </section>

        <section>

            <h2>Informations supplémentaires</h2>

            <section>

                <h3>Comment nous protégeons vos données</h3>

                <p>
                    Afin que les données stockées à caractère personnel ne soient ni perdues, ni divulguées par des tiers non autorisés, nous avons mis en place les mesures nécessaires proportionnellement à la sensibilité des données stockées.
                </p>

            </section>

            <section>

                <h3>Procédures mises en œuvre en cas de fuite de données</h3>

                <p>
                    Conformément à la procédure prévue par le règlement général sur la protection des données en cas de fuite ou d’anomalie concernant les données personnelles en notre possession, nous vous avertirons de la nature des données ayant fuitées et la nature du risque qui peut être engendrée, si cela peut entamer vos droits et libertés (données sensibles) dans un délai maximal de 72 heures après constat du problème.
                </p>

            </section>

        </section>

    </div>

{% endblock %}
