{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1>Conditions générales d'utilisation</h1>

        <p>Date de dernière mise à jour : le 1er novembre 2022.</p>

        <section>

            <h2>Exactitude et complétude des informations présentées</h2>

            <p>
                Propon souhaite fournir une information de qualité à tous ses utilisateurs, mais ne saurait garantir l'exactitude et la complétude des informations présentées sur le site par ses rédacteurs ou ses utilisateurs. En particulier, des données peuvent évoluer dans le temps et ne pas être mises à jour sur le site.
            </p>

            <p>
                Soyez prudents dans vos interprétations des contenus, vérifiez les sources, recoupez les informations, et informez-vous avec d'autres supports ou adresses.
            </p>

        </section>

        <section>
                
            <h2>Publication de projets sur le site</h2>

                <p>
                    La présentation d’un projet est possible pour tout utilisateur inscrit sur le site. Seuls les projets dont l'objectif est destiné à avoir des résultats au-delà de la sphère privée sont autorisés sur le site. Ainsi, à titre d'exemple, les projets de voyages personnels ou d'achats ou vente d'objets (sauf pour objectif mécénat) ne sont pas acceptés sur le site.
                </p>

                <p>La publication de chaque projet est en revanche soumise à une étape de validation préalable, effectuée pas des administrateurs du site, qui décident, de manière discrétionnaire, rétroactive, et sans indemnité aucune, si le projet peut ou non faire l’objet d’une publication sur le site, sans obligation de justifier leur décision. Ainsi, Les administrateurs se réservent le droit d'accepter ou de refuser la publication de présentations de projets sur le site.</p>
                

                <p>

                    Les administrateurs du site se réservent le droit de demander aux présentateurs de projets tous les compléments et précisions qu’ils estiment nécessaires pour décider si la présentation de projet est publiable ou non sur le site.

                </p>

        </section>

        <section>

            <h2>Exemples de projets non acceptés sur le site</h2>

            <ul>
                
                <li class="">Projets dont l'objectif est évasif, vague, ou indéfini.</li>

                <li class="">Projets qui ne sont pas en conformité avec la loi française et les règlements français en vigueur, ou en conformité avec la loi ou les réglementations en vigueur dans le pays d'utilisation du site.</li>

                <li class="">Projets qui contiennent un objectif ou une procédure visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française, ou en conformité avec la loi en vigueur dans le pays d'utilisation du site.</li>

                <li class="">Projets dangereux pour les participants.</li>

                <li class="">Projets dont l'objectif est d'acheter ou de vendre un ou plusieurs objets matériels ou immatériels (sauf sur dérogation demandée au préalable aux administrateurs du site, par exemple à des fins d'oeuvres de mécénat. Pour effectuer une demande de dérogation, utilisez le formulaire général de contact du site, accessible à partir du bas de page du site).</li>

                <li class="">Projets qui contiennent un objectif ou une procédure qui sont susceptibles d'engendrer un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, et cela envers tout individu; groupe d'individus; ou organisations de toutes sortes. 

                    <br><br>
                    En particulier, sont refusés les projets qui contiennent au moins une incitation à la violence ou à la haine; ou des menaces, envers une personne ou un groupe en raison de son origine ethnique, ses idées, sa religion, son handicap, son sexe, son genre, son orientation sexuelle, son âge, sa nationalité, ou son apparence physique.

                </li>

            </ul>

        </section>

        <section>
            
            <h2>Exemples de présentations de projets non acceptées</h2>

            <ul>
                <li>Les présentations de projets qui délivrent une information incomplète, partielle, inexacte, incohérente, ou incompréhensible. Par exemple les "projets" sans objectif ou sans aucune description.

                </li>
            </ul>

        </section>


        <section>

            <h2>Contenus non acceptés dans les présentations de projets</h2>

            <p>
                Les contenus des présentations de projets, sous toutes formes et médias possibles (y compris textes; images; vidéos; liens hypertexte; et fichiers numériques), y compris les éventuels commentaires apportés par des tiers, ne sont pas acceptés sur le site lorsqu'ils contiennent des éléments parmi les suivants :
            </p>

            <ul>
                        
                <li class="">

                    Contenus qui ne sont pas en conformité avec la loi française, ou la loi en vigueur dans le pays d'utilisation du site.

                    <br><br>

                    En particulier les contenus qui contiennent au moins une incitation à la violence ou à la haine; ou des menaces, envers une personne ou un groupe en raison de son origine ethnique, ses idées, sa religion, son handicap, son sexe, son genre, son âge, sa nationalité, son orientation sexuelle, son identité sexuelle, ou son apparence physique.

                </li>

                <li class="">Contenus qui sont susceptibles de déclencher un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, envers un ou plusieurs individus; groupes d'individus; ou organisations de toute sorte. 

                </li>

                
                <li class="">

                    Contenus visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française ou la loi du pays d'utilisation du site.

                </li>

                <li class="">
                    Contenus qui contiennent de la pornographie, de la nudité, et plus généralement contenus à caractère sexuels, sauf lorsque ces contenus sont utilisés à des fins éducatives et dans le cadre de la loi française, ou de la loi en vigueur dans le pays d'utilisation du site.
                </li>

                <li class="">
                    Contenus qui ne respectent pas les droits d'auteurs (utilisez seulement des contenus que vous avez créés ou que vous êtes autorisés à utiliser). 
                </li>

                <li class="">
                    Contenus trompeurs : sont refusés les titres de projets; descriptions de projets; mot-clés; images et autres médias utilisés qui engendrent l'ambiguïté, la tromperie, ou la confusion, par exemple pour attirer plus d'utilisateurs, ou attirer certains types d'utilisateurs.
                </li>

                <li class="">
                    Contenus qui contiennent des informations inexactes.
                </li>

                <li class="">
                    Contenus qui divulguent des informations privées ou confidentielles.
                </li>

                <li class="">
                    Contenus qui mettent en danger le bien-être émotionnel ou physique des mineurs. Un mineur est une personne n'ayant pas atteint l'âge minimum légal de la majorité, c'est-à-dire ayant moins de 18 ans en France.
                </li>

            </ul>


        </section>

        <section>

            <h2>Modification de présentations de projets par des administrateurs du site</h2>

            <p>
                Les catégories dans lesquelles un projet est présenté sont susceptibles d'être changées par des administrateurs du site. De même, l'ensemble des mots-clés d'un projet est susceptible d'être modifié par des administrateurs du site. Ces mesures visent à faciliter la découverte et le tri de projets qui intéressent les utilisateurs du site, elles sont effectuées sans avertissement préalable.
            </p>

            <p>

                Par exemple, un projet de création d'avion électrique est suceptible d'être intégré dans la catégorie "fabriquer" s'il ne l'était pas déjà. De même, ce projet est suceptible d'être associé au mot-clé "aviation" s'il ne l'était pas déjà.

            </p>


            <p>
            
                L'orthographe, et plus généralement les textes de toute présentation de projet sont également susceptibles d'être modifiés par des administrateurs du site. Cette mesure vise à améliorer la lisibilité, la cohérence, et la qualité générale des présentations de projets présentes sur le site. Cette mesure est effectuée sans avertissement préalable.
            
            </p>

            <p>

                Si votre présentation de projet ne possède aucune image d'illustration, ou si leur qualité est jugée insuffisante par des administrateurs du site, alors des administrateurs du site peuvent ajouter une image d'illustration à votre présentation de projet. Cette image reflètera le thème de votre projet. Cette mesure vise à améliorer et rendre plus agréables à consulter les présentations de projet sur le site. Cette mesure est effectuée sans avertissement préalable, mais avec notification lorsqu'elle est effectuée. Vous pouvez vous opposer à sa continuation sur simple demande en réponse à cette notification.

            </p>

            <p>

                Si votre présentation de projet ne possède pas de vignette (= thumbnail), des administrateurs du site sont susceptible de lui en ajouter une. La vignette d'une présentation de projet est une image qui donne accès à la présentation de votre projet. Elle est susceptible d'apparaître sur la page d'accueil du site, dans le moteur de recherche, et dans les suggestions de présentations de projets. Cette mesure vise à rendre plus intuitive et plus agréable l'utilisation du site. Cette mesure est effectuée sans avertissement préalable, mais avec notification lorsqu'elle est effectuée. Vous pouvez vous opposer à sa continuation sur simple demande en réponse à la notification.

            </p>

        </section>

        <section>

            <h2 class="">Usurpations d'identités</h2>

            <p class="">

                Les comptes créés; ainsi que les contenus présentés, qui usurpent l'identité d'un individu; d'une organisation; ou d'un groupe d'individus; ou qui crééent l'ambiguïté, la tromperie, ou la confusion avec un individu; une organisation; ou un groupe d'individus, par exemple par imitation de logo; ou imitations de noms, sont supprimés conformément à nos règles en matière d'usurpation d'identité.

            </p>

            <p class="">
            
                Exemples : 

            </p>

            <ul>

                <li> 
                    
                    Comptes dont le nom ou les images sont identiques à ceux d'un autre compte, la seule différence étant par exemple un espace inséré dans un nom; ou un zéro remplaçant la lettre O.
                    
                </li>
    
                <li>

                    Créations de comptes avec utilisation d'images ou autres informations personnelles d'une tierce personne ou organisation, dans le but de tromper le public et de se faire passer pour cette personne ou cette organisation. 	
                
                </li>

            </ul>

        </section>

        <section>

            <h2 class="">Suspensions et suppressions de présentations de projets</h2>

            <p class="">

                Les administrateurs se réservent le droit de suspendre provisoirement, ou de supprimer, sans préavis ni indemnité, ni droit à remboursement, toute présentation de projet qui ne serait pas conforme aux présentes conditions d'utilisation du site.

            </p>

            <h2 class="">Suppressions de présentations de projets non mises à jour</h2>

            <p class="">

                Au bout de 2 ans de non modification d'une présentation de projet, les administrateurs du site se réservent le droit de supprimer cette présentation de projet. Des e-mails préalables sont susceptibles d'être envoyés au créateur de la présentation, et cela plusieurs jours avant la date de suppression prévue, afin qu'il confirme la validité et renouvelle la publication de sa présentation de projet, s'il le souhaite.

            </p>

        </section>


        <section>

            <h2 class="">Suspensions et suppressions de comptes utilisateurs</h2>

            <p class="">

                Les administrateurs du site se réservent le droit de suspendre ou de supprimer tout compte utilisateur dont au moins une activité contrevient aux règles mentionnées dans les présentes conditions générales d'utilisation.
    
            </p>

        </section>

        <section>

            <h2 class="">Signaler des abus</h2>

            <p class="">

                Signaler des contenus abusifs est possible et encouragé :
    
            </p>

            <ul class="">
                
                <li class="">

                    soit en cliquant sur le bouton "signaler un abus" situé sur chaque page de projet.
                
                </li>

                <li class="">

                    soit en écrivant à l'administration du site, en utilisant le formulaire général de contact accessible en bas de page du site.


                </li>

            </ul>

        </section>

        <section>

            <h2>Tierces présentations de projets</h2>

            <h3>Définitions :</h3>

            <ul>
                <li>une tierce présentation de projet est une présentation qui n'est pas créée par l'équipe de ce projet.</li>

                <li>un présentateur tiers est un présentateur de projet qui ne fait pas directement partie de l'équipe de ce projet.</li>

            </ul>

            <h3>Autorisations :</h3>

            <p>
                
                Les tierces présentations sont autorisées sur le site lorsque l'équipe dirigeante du projet concerné donne son accord au moins implicite concernant le maintien de cette présentation. Autrement dit :
                
            </p>

            <ul>

                <li>L'équipe dirigeante du projet est informée que son projet a été présenté sur le site.</li>

                <li>et cette équipe, à défaut d'avoir donné explicitement son accord, n'a exposée aucune opposition concernant la publication de cette tierce présentation.</li>

            </ul>

            <p>
                Toute équipe de projet peut demander la suppression d'une tierce présentation qui la concerne. Cette demande sera étudiée par la modération du site.
            </p>

            <p>
                La possibilité de créer des tierces présentations peut conduire à des projets qui sont présentés plusieurs fois sur le site (doublons de présentations). Dans ce cas, les règles concernant les doublons de présentation s'appliquent. Ces règles sont présentées dans les présentes conditions d'utilisation du site.
            </p>
             
        </section>

        <section>

            <h2 class="">Doublons de présentations de projets</h2>

            <h3>Définition :</h3>

            <p> Est appelée "Doublon de présentation de projet" toute présentation d'un projet déjà présenté sur le site.</p>

            <h3>Règles concernant les doublons de présentations :</h3>

            <p class="">

                Lorsque qu'un même projet est présenté plusieurs fois sur le site, les administrateurs du site se réservent le droit de sélectionner une seule de ces présentations, ou fusionner plusieurs de ces présentations, ou en recréer une qui remplace toutes les autres, afin de maintenir une base de données la plus qualitative et utile pour tous.

                Cette politique peut conduire à retirer de la publication, sur le site, des doublons de présentation de projets.

            </p>

        </section>

    </div>

{% endblock %}
