{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block stylesheets %}<link href="/css/static_content.css" rel="stylesheet">{% endblock %}

{% block body %}

    <div class="page-container static-content container px-0 col-md-11 col-lg-7">
        
        <h1>Conditions générales d'utilisation</h1>

        <section>
                
            <h2>Types de projets acceptés</h2>

                <p>
                    La présentation d’un projet sur le site est soumise à une étape d'acceptation préalable, effectuée pas des administrateurs du site, qui décident, de manière discrétionnaire, rétroactive, et sans indemnité aucune, si le projet peut ou non faire l’objet d’une publication sur le site.
                </p>

                <p>

                    Les administrateurs du site se réservent le droit de demander aux présentateurs de projets tous les compléments et précisions qu’ils estimeront nécessaires pour décider si la présentation de projet est publiable ou non.

                </p>

                <p>

                    Les administrateurs se réservent le droit d'accepter ou de refuser la publication de présentations de projets sur le site, sans indemnités ni droit à remboursement, et sans obligation de justifier leur décision.

                </p>

        </section>

        <section>

            <h2>Exemples de projets non acceptés sur le site</h2>

            <ul>
                
                <li class="">Projets dont l'objectif est évasif, vague, ou indéfini.</li>

                <li class="">Projets qui ne sont pas en conformité avec la loi française et les règlements français en vigueur, ou en conformité avec la loi ou les réglementations en vigueur dans le pays d'utilisation du site.</li>

                <li class="">Projets qui contiennent un objectif ou une procédure visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française, ou en conformité avec la loi en vigueur dans le pays d'utilisation du site.</li>

                <li class="">Projets dangereux pour les participants.</li>

                <li class="">Projets dont l'objectif est d'acheter ou de vendre un ou plusieurs objets matériels ou immatériels (sauf sur dérogation demandée au préalable aux administrateurs du site, par exemple à des fins d'oeuvres de mécénat. Pour effectuer une demande de dérogation, utilisez le formulaire général de contact du site, accessible à partir du bas de page du site).</li>

                <li class="">Projets qui contiennent un objectif ou une procédure qui sont susceptibles d'engendrer un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, et cela envers tout individu; groupe d'individus; ou organisations de toute sorte. 

                    <br><br>
                    En particulier, sont refusés les projets qui contiennent au moins une incitation à la violence ou à la haine; ou des menaces, envers une personne ou un groupe en raison de son origine ethnique, de ses idées, sa religion, son handicap, son sexe, son genre, son orientation sexuelle, son âge, sa nationalité, ou son apparence physique.

                </li>

            </ul>

        </section>

        <section>
            
            <h2>Exemples de présentations de projets non acceptées</h2>

            <ul>
                <li>Les présentations de projets qui délivrent une information incomplète, ou partielle, ou inexacte, ou incohérente, ou incompréhensible. Par exemple les "projets" sans objectif ou sans aucune description.

                </li>
            </ul>

        </section>


        <section>

            <h2>Contenus non acceptés dans les présentations de projets</h2>

            <p>
                Les contenus des présentations de projets, sous toutes formes et médias possibles (textes; images; vidéos; liens hypertexte; fichiers numériques), y compris les éventuels commentaires apportés par des tiers, ne sont pas acceptés sur le site lorsqu'ils contiennent des éléments parmi les suivants :
            </p>

            <ul>
                        
                <li class="">

                    Contenus qui ne sont pas en conformité avec la loi française, ou la loi en vigueur dans le pays d'utilisation du site.

                    <br><br>

                    En particulier les contenus qui contiennent au moins une incitation à la violence ou à la haine; ou des menaces, envers une personne ou un groupe en raison de son origine ethnique, ses idées, sa religion, son handicap, son sexe, son genre, son âge, sa nationalité, son orientation sexuelle, son identité sexuelle, ou son apparence physique.

                </li>

                <li class="">Contenus qui sont susceptibles de déclencher un ou plusieurs des comportements suivants : violence; haine; aggression; menace; insulte; intimidation; harcèlement; discrimination; diffamation; non respect de la vie privée, envers un ou plusieurs individus; groupes d'individus; ou organisations de toute sorte. 

                </li>

                
                <li class="">

                    Contenus visant à soutenir des individus ou des organisations qui ne sont pas en conformité avec la loi française ou la loi du pays d'utilisation du site.

                </li>

                <li class="">
                    Contenus qui contiennent de la pornographie, de la nudité, ainsi que les contenus à caractère sexuels, sauf sur dérogation demandée au préalable à des fins pédagogiques et dans le cadre de la loi française, ou de la loi en vigueur dans le pays d'utilisation du site.
                </li>

                <li class="">
                    Contenus qui ne respectent pas les droits d'auteurs (utilisez seulement des contenus que vous avez créés ou que vous êtes autorisés à utiliser). 
                </li>

                <li class="">
                    Contenus trompeurs : sont refusés les titres de projets; descriptions de projets; mot-clés; images et autres médias utilisés qui engendrent l'ambiguïté, la tromperie, ou la confusion, par exemple pour attirer plus d'utilisateurs, ou attirer certains types d'utilisateurs.
                </li>

                <li class="">
                    Contenus qui contiennent des informations inexactes.
                </li>

                <li class="">
                    Contenus qui divulguent des informations privées ou confidentielles.
                </li>

                <li class="">
                    Contenus qui mettent en danger le bien-être émotionnel ou physique des mineurs. Un mineur est une personne n'ayant pas atteint l'âge minimum légal de la majorité, c'est-à-dire ayant moins de 18 ans en France, ainsi que dans d'autres pays.
                </li>

            </ul>


        </section>

        <section>

            <h2 class="">Doublons de présentations de projets</h2>

            <p class="">

                Les administrateurs se réservent le droit de refuser, ou de retirer de la publication des présentations de projets qui sont déjà publiés sur le site, en copie exacte, ou en substance. Les doublons de présentations sont refusés à la publication sans avertissement préalable.

            </p>

        </section>

        <section>
            <h2 class="">Usurpations d'identités</h2>

            <p class="">

                Les comptes créés; ainsi que les contenus présentés, qui usurpent l'identité d'un individu; d'une organisation; ou d'un groupe d'individus; ou qui crééent l'ambiguïté, la tromperie, ou la confusion avec un individu; une organisation; ou un groupe d'individus, par exemple par imitation de logo; ou imitations de noms, sont supprimés conformément à nos règles en matière d'usurpation d'identité.

            </p>

            <p class="">
            
                Exemples : 

            </p>

            <ul>

                <li> 
                    
                    Comptes dont le nom ou les images sont identiques à ceux d'un autre compte, la seule différence étant par exemple un espace inséré dans un nom; ou un zéro remplaçant la lettre O.
                    
                </li>
    
                <li>

                    Créations de comptes avec utilisation d'images ou autres informations personnelles d'une tierce personne ou organisation, dans le but de tromper le public et de se faire passer pour cette personne ou cette organisation. 	
                
                </li>

            </ul>

        </section>

        <section>

            <h2 class="">Suspensions et suppressions de présentations de projets</h2>

            <p class="">

                Les administrateurs se réservent le droit de suspendre provisoirement, ou de supprimer, sans préavis ni indemnité, ni droit à remboursement, toute présentation de projet qui ne serait pas conforme aux présentes conditions d'utilisation du site.

            </p>

            <h2 class="">Suppressions de présentations de projets non mises à jour</h2>

            <p class="">

                Au bout de 2 ans de non modification d'une présentation de projet, les administrateurs du site se réservent le droit de supprimer cette présentation de projet. Des emails préalables sont susceptibles d'être envoyés au créateur de la présentation, et cela plusieurs jours avant la date de suppression prévue, afin qu'il confirme et renouvelle la validité de sa présentation de projet, s'il le souhaite.

            </p>

        </section>


        <section>

            <h2 class="">Suspensions et suppressions de comptes utilisateurs</h2>

            <p class="">

                Les administrateurs du site se réservent le droit de suspendre ou de supprimer tout compte utilisateur dont au moins une activité contrevient aux règles mentionnées dans les présentes conditions générales d'utilisation.
    
            </p>

        </section>

        <section>

            <h2 class="">Signaler des abus</h2>

            <p class="">

                Signaler des contenus abusifs est possible et encouragé :
    
            </p>

            <ul class="">
                
                <li class="">

                    soit en cliquant sur le bouton "signaler un abus" situé sur chaque page de projet.
                
                </li>

                <li class="">

                    soit en écrivant à l'administration du site, en utilisant le formulaire général de contact accessible en bas de page du site.


                </li>

            </ul>

        </section>

    </div>

{% endblock %}
