{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "add_business_card_form_modal", 'modal_title': "Nouvelle carte de visite", 'modal_size' : "modal-lg"} %}
        
    {% block modalBody %}

        {% include "project_presentation/edit/other_components/businessCards/_form.html.twig" %}

    {% endblock %}

    {% block footerButtons %}

        <button type="submit" class="btn btn-success">Valider</button>

        {{ form_end(form) }}

    {% endblock %}


    {% block formErrors %}
        
        {% if not form.vars.valid %}

            <script>
            
                $(document).ready(function(){
            
                    $('#{{modal_id}}').modal('show');
            
                });
            
            </script>

        {% endif %}
    
    {% endblock %}

{% endembed %}