{% embed "utilities/backdrop_modal_skeleton.html.twig" with {'modal_dialog_utils': " modal-dialog-centered"} %}

    {% block titleContent %}{{currentItem.repeatableMessage}}{% endblock %}

    {% block bodyContainer %}

        {% block bodyContent %}

            <img class="img-fluid" src="{{asset ("presentation_helper/repeat_question.svg", 'larger')}}" alt="Symbol of a new element" loading="lazy" width="480" height="370">
        
        {% endblock %}

    {% endblock %}
    
    {% block footerContent %}

        <button id="add-another-item" type="button" class="btn btn-validate me-4">✔️ oui</button>
        
        <button id="dismiss-add-another-item" type="button" class="btn btn-go-back">❌ non</button>
    
    {% endblock %}


    {% block js %}

        <script>

            $(document).ready(function(){
                    
                var confirmationModal = new bootstrap.Modal(document.getElementById("backdropModal"), {});
    
                $('#validate-button').click(function(event) {
    
                    event.preventDefault();
                    
                    confirmationModal.show();
    
                    $(this).unbind(event);
    
                });
    
                $('#add-another-item').click(function(event) {
    
                    confirmationModal.hide();
    
                    //alert($('#presentation_helper_nextPosition').val());
    
                    $('#presentation_helper_repeatedInstance').val('true');

                    //alert($('#presentation_helper_repeatedInstance').val());
    
                    $('#validate-button').click();
                    
                });
    
                $('#dismiss-add-another-item').click(function(event) {

                    $('#presentation_helper_repeatedInstance').val('false');
    
                    $('#validate-button').click();
                    
                });
    
            });
    
        </script>
    
    {% endblock %}

{% endembed %}