
{# This is an email content: 

    About user email verification: asking user to click on a link so that we validate the provided email address
    
#}

<p style="font-size:17px;">

    <b>Pour valider votre inscription sur propon.org, cliquez sur le lien ci-dessous :</b>
    
    <br><br>
    
    <a href="{{ confirmationURL }}">Je confirme mon inscription</a>

</p>

<p>
    À bientôt !
</p>

<p>
    Ceci est un message automatique. Merci de ne pas y répondre.
</p>
