
{# This is an email content: 

    About user email verification: we ask user to click on a link in order to validate the email address he provided
    
#}

<p style="font-size:17px;">

    <b>Pour valider votre inscription sur propon.org, cliquez sur le lien suivant : </b>

    {# Unique url with token user have to click on in order to validate their email address #}
    
    <a href="{{ confirmationURL }}">confirmer mon inscription.</a>

</p>

<p>
    À bientôt !
</p>

<p>
    Ceci est un message automatique envoyé par propon.org, plateforme spécialisée dans la présentation de projets. Merci de ne pas répondre à ce message.
</p>
