

<h3>Merci pour votre inscription sur le site du Projet des Projets</h3>

<p>

    Pour valider votre inscription, merci de cliquer sur le lien suivant :<br><br>
    <a href="{{ confirmationURL }}">Confirmer mon inscription</a>

</p>

<p>
    À bientôt !
</p>
