


<p style="font-size:17px;">

    <b>Pour valider votre inscription sur le site du Projet des Projets, veuillez cliquer sur le lien suivant :</b>
    
    <br><br>
    
    <a href="{{ confirmationURL }}">Confirmer mon inscription</a>

</p>

<p>
    À bientôt.
</p>
