{% extends "base.html.twig" %}

{% block body %}

<div class="container col-xxl-8 px-4">

  <div class="row align-items-center g-5 py-5">

    <div class="col-lg-6">

      <h3 class="display-5 fw-bold lh-1 mb-3">Merci pour votre inscription</h3>

      <p class="lead">Un e-mail de confirmation vous a été envoyé à l'adresse <br>

        <span class="fs-4"><b>{{userEmailToConfirm}}</b></span>

      <p>

        Note : si vous ne recevez pas votre e-mail d'ici à quelques minutes :

      </p>

      <ul>

        <li>vérifiez vos spam</li>

        <li>vérifiez ci-dessus si votre adresse e-mail a été correctement écrite lors de votre inscription</li>

        <li>si vous ne pouvez pas résoudre le problème, veuillez contacter {{websiteSupportEmail}}</li>

      </ul>

    </div>
    
    <div class="col-12 col-lg-6">

      <img src="https://www.place-hold.it/700x500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
        loading="lazy" width="700" height="500">

    </div>


  </div>

</div>



{% endblock %}