{% extends "base.html.twig" %}

{% block body %}

<div class="container col-xxl-8 px-4">

  <div class="row align-items-center g-5 py-5">

    <div class="col-md-6">

      <h4 class="fw-bold lh-1 mb-3">Dernière étape : confirmer votre adresse e-mail</h4>

      <p class="lead">Un e-mail vous a été envoyé à l'adresse <br>

        <span class="fs-4"><b>{{userEmailToConfirm}}</b></span> <br>

        Ouvrez le pour vous connecter sur le site. 

      </p>

      <p>
        
        Note : si vous ne recevez pas votre e-mail d'ici à quelques minutes :

      </p>

      <ul>

        <li>vérifiez vos spam</li>

        <li>vérifiez si votre adresse e-mail a été correctement écrite lors de votre inscription (elle est écrite ci-dessus)</li>

        <li>si vous ne pouvez pas résoudre le problème, veuillez contacter {{websiteSupportEmail}}</li>

      </ul>

    </div>
    
    <div class="col-12 col-md-6" style="background-color: #c9dfe7;">

      <img src="{{ asset('account/confirm_email.png', 'larger')}}" class="d-block mx-lg-auto img-fluid" alt="Person receive an email"
        loading="lazy" width="350" height="350">

    </div>

  </div>

</div>

<script>

  mixpanel.track(

    "Create Account",

    {"step": "confirm email page"}

  );

</script>

{% endblock %}