{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "pp-edit-help", 'modal_title': "Aide", 'modal_size': "modal-lg"} %}

    {% block modalBody %}

    <div class="help-content container">

        <div class="row g-4">

          <div class="col-6 ps-0">

            <div class="image-container">

                <img src="{{ asset('drag_and_drop.png', 'tutorial')}}" alt="drag and drop image">

            </div>

          </div>

          <div class="col-6 pe-0">

            <div class="text-container">

                Pour changer l'ordre des éléments, restez appuyer sur un élément puis déplacez-le à l'endroit désiré. 

            </div>
            
          </div>

        </div>

    </div>

    {% endblock %}

{% endembed %}

<style>

    .help-content .image-container{

        display:flex;
        justify-content: center;
        align-items: center;

        height:100%;

        padding: 15px;

        background-color: #f8f9fa;

        border-radius: 8px;
        
    }

    .help-content .image-container img{

        max-width: 100%; 
        height: auto;
    }

    .help-content .text-container{

        display:flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        height:100%;

        padding: 15px 20px;

        font-size: 1.18em;
        font-weight: bold;

        background-color: rgb(233, 255, 227);


    }


</style>
