{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "pp-edit-helper-level-2", 'modal_title': "Merci pour votre retour. Votre souhait sera pris en considération.", 'modal_size': "modal-lg"} %}


    {% block modalBody %}

    <div class="help-level-2-content px-2">

        <div class="">

            <p class="fs-6">
                En attendant, voici des suggestions pour présenter votre projet : 
            </p>

            <ul class="custom-list">

                <li class="">Comment est née l'idée du Projet ?</li>

                <li class="">Votre projet a t-il déjà progressé ? Si oui, comment ? Avez-vous fait des premiers essais ?</li>

                <li>Pourquoi ce projet vous tient à coeur, pourquoi souhaitez-vous le réaliser ? Qu'est-ce qui vous motive avec ce projet ?</li>

                <li>Votre projet a t-il des différences par rapport à ce qui existe déjà ?</li>

                <li>Utilisez-vous certains outils, méthodes, ou logiciels pour réaliser votre projet ? Si oui, lesquels ?</li>

                <li>Quelle est votre ambition avec ce projet ?</li>

                <li>Pourquoi participer à votre projet ?</li>

            </ul>
            
        </div>

    </div>

    {% endblock %}

{% endembed %}

<style>

    .help-level-2-content{
        margin-bottom: 0px;
    }

    .custom-list li {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 23px;
        line-height: 1.2;
    }

    .custom-list li:last-of-type {
        
        margin-bottom: 0px;
        
    }

    @media screen and (max-width: 768px) {

        .help-level-2-content{

            font-size: 18px;

        }

    }


    @media screen and (max-width: 580px) {

        .help-level-2-content{

            font-size: 15px;

        }

        .custom-list li {
            font-size: 17px;
            margin-bottom: 16px;
        }

    }


</style>
