{# Modal Box for Project Presentation Parameters #}

{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "pp-settings", 'modal_title': "Réglages"} %}

    {# Menu Button Display #}

    {% block modalBody %}

        <div class="container">

            <div class="row justify-content-around">
                
                <div class="menu-button py-3 fw-bold">

                    <h6 class="text-primary text-center fw-bold" style="font-size: normal;">Publier la présentation</h6>

                    <div class="d-flex justify-content-center">

                        <div>

                            <span class="">Non</span>
                    
                            <input type="checkbox" id="publish-presentation-switch" class="toggle-switch" {% if presentation.isPublished %} checked {% endif %} /><label class="toggle-switch-label" for="publish-presentation-switch">Publish presentation switch</label>
                        
                            <span class="ps-2">Oui</span>

                        </div>
                        
                      

                    </div>


                </div> 

                <div class="menu-button row">
                    
                        <!-- Icon first Column-->
                                        
                        <div class="icon-container col-auto">
                            
                            <a href="{{path ('delete_presentation', {'stringId': stringId})}}" class="text-decoration-none">
                            
                                <img class="" src="{{ asset("delete.svg", 'pp_edit')}}" alt="Delete symbol" width="30" height="30">
                            </a>

                        </div>

                        <!-- Title Second Column -->
                        
                        <div class="title-container col">

                            
                            <a href="{{path ('delete_presentation', {'stringId': stringId})}}" class="text-decoration-none">

                                Supprimer la présentation
                            
                            </a>

                        </div>

                </div>

            </div>

        </div>

    {% endblock %}

    {% block footerButtons %}

    {% endblock %}

{% endembed %}

{% block javascripts %}

<script>

    $(document).ready(function(){ 

        $('input[type=checkbox].toggle-switch').change(

            function(event){

                var settingItem = $(this).attr('id');

                var switchState;

                if (this.checked) {

                    switchState = true;
                }

                else {

                    switchState = false;

                }

                 
                $.ajax({

                    url: "{{path ('ajax_switch_presentation_setting', {'stringId': presentation.stringId}) }}",
                    type:       'POST',   
                    dataType:   'json',
                    
                    data: {
                        "settingItem": settingItem,
                        "switchState": switchState,
                    },

                    async: true,  
                    
                    success: function(data, status) {

                    },  

                    error : function(xhr, textStatus, errorThrown) {  
                        console.log('Ajax request failed.');  
                    }  

                });

            }

        );
        
    });  

</script>

{% endblock %}