{# Modal Box for Menu Buttons #}

{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "project_status_edition", 'modal_title': "Statut - Progression", 'modal_size': "modal-xl"} %}

    {% set status = [ 

        { 
            'uniqueName': "idea",
            'description_fr' : "À l'étude, Idée, Réflexion",
        }, 

        { 
            'uniqueName': "production",
            'description_fr' : "Réalisation démarrée",
        }, 

        { 
            'uniqueName': "pause",
            'description_fr' : "En pause",
        }, 

        { 
            'uniqueName': "cancel",
            'description_fr' : "Annulé ou abandonné",
        }, 

        { 
            'uniqueName': "done",
            'description_fr' : "Terminé",
        }, 

        
    ]%}


    {# Project Status Selection Buttons Display #}

    {% block modalBody %}

        <div class="container">

            <div class="row">

                {% for item in status %}
                    
                    <div 
                    
                        id="" 
                    
                        class="cat-button"                    
                    >

                        {# Button Icon #}

                        <div class="bt-left-col">

                            <img class="category-icon" src="{{asset ("project_status/"~ item.uniqueName ~".svg", 'icons')}}" alt="{{item.uniqueName}}" loading="lazy" width="35" height="35">

                        </div>

                        {# Button Description #}

                        <div class="bt-right-col">

                            {{item.description_fr}}

                        </div>

                    </div>

                {% endfor %}
                
           
            </div>

        </div>

    {% endblock %}

    {% block footerButtons %}

    {% endblock %}

{% endembed %}

<style>
  
.cat-button{

    float: left;
    width: 100%;
    max-width:230px;
    height: 61px;

    margin-right: 15px;
    margin-bottom: 15px;

    font-size:1.1em;
    line-height:1.4em !important;
    font-weight:700;
    
    border: 1px solid black !important;
    border-radius: 4px;
    background-color: white;
    cursor:pointer;
}

.cat-button:hover{
    background-color:rgb(234, 245, 255);
}

.cat-button .category-icon{
    width: 35px;
    height: 35px;
}

/* La selection de la classe parente Permet un Override du Hover */
#cat-grid .selectedCategory, #cat-grid .selectedCategory:hover {
    background-color: yellow !important;
}

.bt-left-col{
    width: 58px;
    height: 100%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt-right-col{
    height: 100%;
    display: flex;
    align-items: center;
    
}

</style>