{# skeletton for each project presentation structure edition page (ex : edit presentation categories; websites; needs; ...
    
here is skeletton structure :

    - ui page title
    - more information collapsible
    - edition content
    
#}

{% extends 'base.html.twig' %}

    {% block stylesheets %}

        <link rel="stylesheet" href="/css/app_forms.css" />
        
    {% endblock %}

    {% block title %}{% endblock %}

    {% block sidebar %}{% include '_partials/sidebar.html.twig' %}{% endblock %}

    {% block body %}

        <div class="edit-structure-container">

            <div class="main-title-container">

                <!-- ui Page Title -->	
                
                <h4 class="main-title me-3">
                    {% block mainContentTitle %}{% endblock %}
                </h4>

                <!-- collapsible "More Informations Box" -->

                {% block collapsibleMoreInfo %}

                    <!-- trigger button -->
                    
                    <a class="my-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvices" aria-expanded="false" aria-controls="collapseAdvices">
                        
                        <span class="btn btn-light fs-15 h5 sharp fw-bold p-1 px-2" style="letter-spacing: 2px;">
                            
                            {% block buttonLabel %}{% endblock %}
                        
                        </span>
                        
                    </a>
                    
                    <!-- Advices Content -->

                    <div id="collapseAdvices" class="info-box collapse no-transition col-md-8 col-lg-6">
                                
                        {% block content %}{% endblock %}

                    </div>
             
                {% endblock %}

            </div>


            <div class="main-content-container">

                {% block mainContentContainer %}{% endblock %}

            </div>

        </div>
    
        {# styles for this skeleton #}
    
        <style>
    
            .edit-structure-container{
    
                padding-top: 19px;
                padding-bottom: 60px;
    
            }
    
            .edit-structure-container .main-title-container {
    
                margin-bottom: 20px;
    
            }
    
            .edit-structure-container .main-title {
    
                display: inline-block;
                font-weight: bold;
    
            }
    
            .info-box{
                border-left: 7px solid purple;
                padding-bottom: 2px;
                font-size: 1em;
                margin-top: 8px;
            }
    
            .info-box ul{
            
                padding-left: 25px;
                margin-bottom: 0;
            }
    
            
    
            @media (min-width: 576px) {
        
                .edit-structure-container{
    
                    padding-top: 29px;
                    padding-left: 15px;
    
                }
                    
                .edit-structure-container .main-title-container {

                    margin-bottom: 20px;

                }
                          
                .info-box{
                    margin-left: 20px;
                }
    
            }
    
            @media (min-width: 992px) {
        
                .edit-structure-container{
    
                    padding-top: 40px;
                    padding-left: 35px;
    
                }
          
                .edit-structure-container .main-title-container {

                    margin-bottom: 30px;

                }
    
                .info-box{
                    font-size: 1.15em;
                }
    
            }
    
    
        </style>

        {# specific styles for childs of this skeleton #}
        
        {% block specificStyles %}{% endblock %}
        
        {% endblock %}
        
        
{% block javascripts %}

        
    {# specific javascripts for childs of this skeleton #}

    {% block specificJavascripts %}


    {% endblock %}  
        
{% endblock %}



