
{% embed "manage_presentation_structure/skeleton.html.twig" %}

    {% form_theme addPollForm 'bootstrap_4_layout.html.twig' %}

    {% block title %}

        Questionnaires et Sondages
    
    {% endblock %}


    {% block uiPageTitle %}

        Questionnaires et sondages
                    
    {% endblock %}


    {% block collapsedInfo %}

        <div>
                
            <p class="h5">

                Les questionnaires sont un excellent moyen de recueillir les attentes et les avis des individus.

            </p>

            <p class="h5">

                Pour insérer un questionnaire dans votre page de projet, voici les étapes :

            </p>

            <ol class="h5">

                <li>Créez un questionnaire sur un site web spécialisé (exemple : SurveyMonkey; Google Forms; Drag’n Survey; etc)</li>
                <li>Copiez l'adresse web du questionnaire créé (cette adresse vous sera fournie par le site web utilisé)</li>
                <li>Cliquer sur "Ajouter un questionnaire"</li>

            </ul>

        </div>
 
    {% endblock %}


    {% block manageContent %}

        <!-- Add a Poll Button -->

        <div class="mb-4">

            <button type="button" data-toggle="modal" data-target="#newPollFormModal" class="btn btn-lg btn-success bg-green sharp p-3 font-weight-bold mr-1">+ Ajouter un questionnaire</button> 

        </div>


        <!-- Add a Poll Form Display (in a Modal Box) -->

        {% include 'polls/_new_poll_modal_form.html.twig' %}


        <!-- Project Polls List (it is a list of websites links) -->

        <div class="container mb-2">

            <div id="elementsList" data-elements-type="website" class="row col-md-10 pl-0">

                {% if polls | length > 0 %}

                    {% for poll in polls %}

                        <!-- Thumbnails -->

                        {% include 'websites/_website_thumbnail_display.html.twig' with {'website': poll} %}

                    {% endfor %}

                {% endif %}

            </div>

        </div>

    {% endblock %}

    {% block seeResultAnchor %}pollsDisplay{% endblock %}

    
{% endembed %}
