
<div id="categories-structure-container" class="clearfix" style="margin-top:15px; margin-bottom: 40px;">

    <h4 class="fw-bold">

        Choisir des Catégories

    </h4>
        
    <div id="cat-grid"  class=""style="margin-top:30px;">
        
        {% include "project_presentation/edit/categories/_categories_list.html.twig" %}

    </div>

</div>

<div id="keywords-structure-container" style="margin-top: 48px; margin-bottom: 28px">


    <h4 class="fw-bold" style="margin-bottom: 30px">

        Compléter avec des mots-clés

    </h4>

    <div class="" id="" style="padding-left: 17px;">
        
        {% include "project_presentation/edit/categories/_manage_keywords.html.twig" %}

    </div>

</div>

{% include "project_presentation/edit/categories/_css_inclusions.html.twig" %}

{% include "project_presentation/edit/categories/_js_inclusions.html.twig" %}
