
{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}

{% block title %}Catégories du Projet{% endblock %}

{% block stylesheets %}

    {% include "project_presentation/edit/categories/_css_inclusions.html.twig" %}

{% endblock %}

{% block javascripts %}

    {% include "project_presentation/edit/categories/_js_inclusions.html.twig" %}

{% endblock %}


{% block mainContentTitle %}Catégories du Projet{% endblock %}


    {% block moreInfoButtonLabel %}
    
        Conseils
    
    {% endblock %}

    {% block moreInfoContent %}
                            
        <ul class="h5">

            <li><strong>Choisissez des catégories</strong> pour que des visiteurs intéressés découvrent votre projet</li>

            <li>On peut <strong>combiner les catégories</strong></li>

            <li>Par exemple : Environnement <strong>ET</strong> Construction</li>

            <li>Maximum recommandé : 6</li>

            <li><strong>Compléter avec des mots-clés est efficace</strong></li>

        </ul>

    {% endblock %}


    {% block mainContent %}

        <div id="cat-grid" class="col-xxl-10 clearfix">

            {% include "project_presentation/edit/categories/_categories_list.html.twig" %}
        
        </div>

        <div id="keywords-struct-container" class="">
            
            <h4 class="h3 fw-bold mb-3">Mots-clés</h4>

            {% include "project_presentation/edit/categories/_manage_keywords.html.twig" %}
        
        </div>

        <style> /* Overide some embeded default spacings */

            .main-content-container {
                margin-bottom: 25px; /* Reduced default margin to reduce result button vertical spacing */
            }

            .edit-structure-container {
                padding-top: 20px !important; /* Reduced default padding to see keywords bellow */
            }

            #keywords-struct-container{
                margin-top: 20px;
            }

        </style>
        

    {% endblock %}

{% endembed %}