
{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}

{% block title %}Catégories du Projet{% endblock %}

{% block stylesheets %}

    <link href="/css/select_categories_keywords.css" rel="stylesheet">

    {# JQuery ui for keywords autocomplete#}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" type="text/css" />

{% endblock %}

{% block javascripts %}

    <!-- jquery autocomplete for keywords (wikipedia) -->
    <script src="/js/jquery-ui.min.js"></script>

    <!-- sortable plugin to reorder keywords -->
    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for above sortable plugin -->
    <script src="/js/sortable/jquery-sortable.js"></script>

    <!-- manage categories and keywords app variables -->
        
    <script> 

        var ajaxUpdateCategoriesRoute = "{{path('ajax_select_category', {'stringId': presentation.stringId}) }}";

        var ajaxUpdateKeywordsRoute = "{{path('ajax_update_keywords', {'stringId': stringId})}}";

    </script>

    <!-- manage categories and keywords app -->

    <script src="/js/select_categories_keywords.js"></script>

{% endblock %}


{% block mainContentTitle %}Catégories du Projet{% endblock %}


    {% block moreInfoButtonLabel %}
    
        Conseils
    
    {% endblock %}

    {% block moreInfoContent %}
                            
        <ul class="h5">

            <li><strong>Choisissez des catégories</strong> pour que des visiteurs intéressés découvrent votre projet</li>

            <li>On peut <strong>combiner les catégories</strong></li>

            <li>Par exemple : Environnement <strong>ET</strong> Construction</li>

            <li>Maximum recommandé : 6</li>

            <li><strong>Compléter avec des mots-clés est efficace</strong></li>

            <li>Séparez les mots-clés <span>avec des virgules</span></li>

        </ul>

    {% endblock %}


    {% block mainContent %}

        <div id="cat-grid" class="col-xxl-10 clearfix">

            {% include "project_presentation/edit/categories/_list.html.twig" %}
        
        </div>


        <div id="manage-keywords-container">

            <h4 class="h3 fw-bold mb-3">Mots-clés</h4>

            <form class="mb-4" method="get">

                <input id="tagInput" class="me-2 mb-3" type="search" placeholder="Écrire ici" />

                <button id="tag-submit-button" class="btn btn-validate mb-3" type="submit" style="vertical-align: baseline !important;">Ajouter</button>

            </form>

            <div id="keywords-display">

                {% if presentation.keywords | length > 0 %}

                    {% set keywords = presentation.keywords | split(',') %}

                    {% for keyword in keywords %}
                        
                        <div class="keyword-wrapper">

                            {# left column contains text #}

                            <div class="left-col d-inline-block">{{keyword}}</div>

                            {# right column contains remove button #}

                            <div class="right-col d-inline-block">
                                <div class="remove-keyword">&times</div>
                            </div>

                        </div>

                    {% endfor %}

                {% endif %}

            </div>

            <div id="keywords-string" class="d-none">{{presentation.keywords}}</div>

        </div>

        
        <style> /* Overide some embeded default spacings */

            #manage-keywords-container{
                margin-top: 30px;
            }

            .main-content-container {
                margin-bottom: 25px; /* Reduced default margin to reduce result button vertical spacing */
            }

            .edit-structure-container {
                padding-top: 20px; /* Reduced default padding to see keywords bellow */
            }

        </style>
        

    {% endblock %}

{% endembed %}