{% extends 'base.html.twig' %}

{% block title %}Hello AIPresentationHelperController!{% endblock %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}


{% block body %}

{# Font Awesome CDN inclusion (we list advice to user, we use FA icons to illustrate bullet points#}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container px-0 px-md-2 my-4 my-md-5">

    {% if generalAdvice is defined and generalAdvice is not null %}{# If we have an AI answer we display it raw (it should be approprietly formatted thanks to the precise prompt we provided to AI) #}
    
        {{generalAdvice | raw}}

        {# Try again button #}
    
        <div class="mt-5 text-center"><a href="{{path ('ai_presentation_helper_origin')}}"><button class="btn btn-outline-success">Réutiliser l'outil gratuitement</button></a></div>

        {# Feedback form #}

        <div class="mt-4 mt-md-5">

            {% import "utilities/_macro_feedback_form.html.twig" as feedbackForm %}
            {{feedbackForm.feedbackForm("AI Coach Presentation Helper")}}
        
        </div>

    {% else %}{# Case user arrives on this page without having filled the form #}

        Veuillez utiliser l'assistant de présentation de projet avant de vous rendre sur cette page.
    
    {% endif %}


{# Styles for AI answer #}

{# Classes are defined in the prompt we use#}

<style>

    .generalAdvice h2, .generalAdvice h3, .generalAdvice h4 {

        margin-bottom: 50px;
        text-align: center;

    }

    .generalAdvice ul {

        column-count: 2;
        column-gap: 55px;
        list-style-type: none;
        font-size: 1.15em;

    }

    .generalAdvice li {

        margin-bottom: 20px;
        break-inside: avoid;
        line-height: 1.25;

    }

    .generalAdvice li .fas {
        margin-right: 5px;
    }

    .generalAdvice p {

        font-size: 1.15em;
	    text-align: center;

    }

    
    @media screen and (max-width: 580px) {

        .generalAdvice h2, .generalAdvice h3, .generalAdvice h4 {
            padding-top: 9px;
            margin-bottom: 40px;
            font-weight: bold;
        }

        .generalAdvice ul {

            column-count: unset;
            padding-left: 10px;
            font-size: 1.1em;

        }

        .generalAdvice li {
            margin-bottom: 25px;
        }

    }

</style>



{% endblock %}
