
{% embed "project_presentation/edit/update_element_skeleton.html.twig" %}

    {% set title %}

        {% if context == 'new' %}

            Ajouter

        {% else %}

            Modifier

        {% endif %}
        
        une vidéo youtube
    
    {% endset %}

    {% block title %}{{title}}{% endblock %}

    {% block mainContentTitle %}{{title}}{% endblock %}

    {% block moreInfoButtonLabel %}Comment faire ?{% endblock %}

    {% block moreInfoContent %}
    
        <h5 class="fw-bold mb-3">Sur la page Youtube de la vidéo désirée, recopier son code (zone encadrée en rouge dans l'exemple ci-dessous).</h5>

        <p class="h5 fw-bold mb-3">https://www.youtube.com/watch?v=<span
                class="px-1 border border-2 border-danger rounded">xxxxxxxxxx</span></p>

        <p class="h5 fw-bold">!!! Youtube peut désactiver l'affichage de vidéos avec copyright (par exemple certains clips musicaux).</p>
    
    {% endblock %}

    {% block mainContent %}

        <!-- Youtube Video Code Input-->

        <div class="mb-4">

            {{form_row(form.address)}}

        </div>

        <!-- Youtube Video Caption Input-->

        <div class="mb-5">

            {{ form_row(form.caption) }}

        </div>
   
    {% endblock %}

    {% block seeResultAnchor %}slides{% endblock %}

{% endembed %}