
{% embed "project_presentation/edit/update_element_skeleton.html.twig" %}

    {% block title %}Modifier une image ou sa légende{% endblock %}

    {% block mainContentTitle %}Modifier une image ou sa légende{% endblock %}

    {% block collapsibleMoreInfo %}{% endblock %}

    {% block mainContent %}
        
        <div class="">
            
            <span class="fw-bold h5"> 
                Modifier l'image ?
            </span>

            <div class="">

                {{ form_errors(form.file) }}

            </div>
            
            <div class="mt-2">
                
                {{ form_widget(form.file) }}

            </div>
            
            <div class="mt-5">

                {{ form_row(form.caption) }}
                
            </div>

        </div>

    {% endblock %}

    {% block seeResultAnchor %}slides{% endblock %}

{% endembed %}


