{% block stylesheet %}

<link href="/css/slideshow.css" rel="stylesheet">

{% endblock %}

{% if userPresenter %}

	{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "slideshow", 'title': "Diaporama", 'editionMode': "pp-edition-mode"} %}

		{% block editButtons %}
		
			{# Add an image button (triggers a modal with a form) #}
		
			<button type="button" data-bs-toggle="modal" data-bs-target="#addImageSlideFormModal"
			class="pp-edition-mode btn btn-light btn-sm me-3">+ Image</button>

			{# Add a video button (triggers a modal) #}

			<a class="text-decoration-none" href="{{ path('add_youtube_slide', {'stringId': presentation.stringId}) }}">

				<button class="pp-edition-mode btn btn-light btn-sm me-3">+ Video</button>

			</a>

			{% if countSlides > 0 %}

				{# Access manage slides CRUD ui #}

				<a id="manage-slides" href="{{ path('manage_slides', {'stringId': presentation.stringId}) }}" class="text-decoration-none me-3">
                        
					<button type="button" class="pp-edition-mode btn btn-light btn-sm" aria-label="Manage Order and Titles Button">

						<img src="{{ asset('settings.svg', 'pp_wysiwyg')}}" alt="Manage Order and Titles Icon" height="17px">

					</button>

				</a>
			
			{% endif %}
		
		{% endblock %}

	{% endembed %}

{% endif %}

<!-- Project Presentation Slideshow Display -->
<!-- Structure Container -->

	<!-- Slideshow Container -->

	<div id="slides" class="">

		<!-- Caption Container -->

		{# If at least one caption is set, we display caption container #}					
		<div 
		
			class="caption-container col-lg-9 d-none"

				{% for slide in presentation.slides %}

					{% if slide.caption is not empty %}
											
						style="display: flex !important; align-items: center;"

					{% endif %}
				
				{% endfor %}
		>

			{# caption are displayed from clicks on slides thumbnails (thumbnail alt attribute) #}	
	
			<p id="caption" class="">

				{# when only one slide with caption, we display its caption by default #}	

				{% if countSlides == 1 %}

					{% set slide = presentation.slides | first %}

					<div class="ps-md-3">{{ slide.caption[:1] | upper ~ slide.caption[1:] }}</div>

				{% endif %}
						
			</p>
		
		</div>
		
		<div class="row m-0">
				
				
			<!-- Slides Container -->

			{% include "project_presentation/_show/slides/_slides_container.html.twig" %}

	
			{% include "project_presentation/_show/slides/_thumbnails_container.html.twig" %}

		</div>	

	</div>

<script>

	var slideIndex = 1;

	showSlides(slideIndex);

	function plusSlides(n) {

		showSlides(slideIndex += n);
		
	}

	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {

		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("SlideImageThumbnail");
		var thumbnail = document.getElementsByClassName("thumbnail");
		var captionText = document.getElementById("caption");
		
		if (n > slides.length) {slideIndex = 1}
		
		if (n < 1) {slideIndex = slides.length}
		
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
			thumbnail[i].className = thumbnail[i].className.replace(" active", "");
		}
		
		slides[slideIndex-1].style.display = "block";
		
		dots[slideIndex-1].className += " active";
		thumbnail[slideIndex-1].className += " active";
		
		captionText.innerHTML = dots[slideIndex-1].getAttribute('data-caption');

	}


	// displaying appropriate image or video when hovering its thumbnail

	$( ".thumbnail" ).mouseover(function() {

		currentSlide($(this).data("loop-index"));
		
	});

</script>
