
    <div class="cta container col-md-6 border p-2 mt-4">
    
        <div class="text-center"><b>Service gratuit et sans inscription</b> fournit par <span class="text-success"><a href="http://www.propon.org" target="_blank" rel="noopener noreferrer">propon.org</a></span>, le site de présentation de projets.</div>
    
        <div class="gdpr">

            <h3 class="fs-6 text-center">La protection de vos données personnelles est une priorité. <span class="learn-more">Afficher plus</span></h3> 

            <div class="more-content border m-1 m-md-3 p-3">

                <p>Les données que nous collectons sont <b><u>anonymisées</u></b>; <b><u>conservées au maximum 15 jours</u></b>; <b><u>exclusivement pour améliorer l'outil à votre disposition</u></b>.</p>

                <p>Ce service utilise un ou plusieurs outils fournis par la société <a href="https://openai.com/">OpenAI</a>. Notre service envoie à OpenAI de manière anonymisée des données transmises par nos utilisateurs pour utiliser ces services. Ces données anonymes sont susceptibles d'être collectées par OpenAI.</p>

            </div>

            <style>

                /* Initially hide the "Learn More" content */
                .more-content {
                    display: none;

                }

                /* Styles for the "Learn More" button */
                .learn-more {
                    color: #0073e6;
                    cursor: pointer;
                    text-decoration: underline;
                }

                /* Style on hover for the "Learn More" button */
                .learn-more:hover {
                    text-decoration: none;
                }

            </style>

            <script>
            // Select HTML elements
            const learnMoreButton = document.querySelector('.learn-more');
            const moreContent = document.querySelector('.more-content');

            // Add an event listener to show/hide the "Learn More" content
            learnMoreButton.addEventListener('click', () => {
                if (moreContent.style.display === 'block') {
                moreContent.style.display = 'none';
                } else {
                moreContent.style.display = 'block';
                }
            });
            </script>

        </div>
        
    </div>