
<div id="logo-type-image" class="struct-container isHidden">
    
    <div class="">
    
        <label for="logo-type-image-hidden" class="form-label big-title">Choisis le type d'image à intégrer</label>
    
    </div>

    <div id="logo-type-image-container" class="selectable-container">


        <div class="selectable-square logo-type-image" data-logo-type-image="abstraction">

            <h4 class="title">Formes abstraites</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/abstraction.png', 'larger')}}" loading="lazy">
        
        </div>
    

        <div class="selectable-square logo-type-image" data-logo-type-image="figurative-objects-description">

            <h4 class="title">Objets ou vivants</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/symbols.png', 'larger')}}" loading="lazy">
        
        </div>
        

        <div class="selectable-square logo-type-image" data-logo-type-image="unknown" >

            <h4 class="title">Je ne sais pas</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/question-mark.png', 'larger')}}" loading="lazy">
        
        </div>
    
    </div>

    {# posted logo type #}

    <input type="hidden" id="logo-type-image-hidden" value="">

</div>




    <div id="abstraction-description" class="struct-container isHidden">
        
        <div class="">
        
            <label for="abstraction-description" class="form-label big-title">Décris la forme ou les formes à intégrer dans ton Logo</label>

            <h5 class="big-title">Conseil : ajoute des détails pour obtenir un meilleur résultat.</h5>

        </div>

        <textarea id="abstraction-description-textarea" class="form-control" cols="30" rows="7" Placeholder="Ex : vagues, cercle, triangle, carré, etc"></textarea>
    
    </div>

    <div id="figurative-objects-description" class="struct-container isHidden">
        
        <div class="">
        
            <label for="figurative-objects-description-textarea" class="form-label big-title">Décris l'objet ou l'être vivant à intégrer dans ton Logo</label>

            <h5 class="big-title">Conseil : ajoute des détails pour obtenir un meilleur résultat.</h5>
      
        </div>

        <textarea id="figurative-object-description-textarea" class="form-control" name="" cols="30" rows="7" placeholder="to do"></textarea>
    
    </div>
        
    <div id="image-colors" class="struct-container isHidden">
        
        <div class="">
        
            <label for="image-colors-textarea" class="form-label big-title">Choisis la ou les couleurs que tu souhaites utiliser pour l'image de ton logo</label>

        </div>


        <div class="color-shades">
        
            <ul>

                <li class="gradient--0" data-color="blue">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--1" data-color="red">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--2" data-color="green">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--3" data-color="yellow">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--4">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--5">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--6">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--7">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--8">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--9">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--10">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--11">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--12">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--13">
                    <div class="gradient"></div>
                </li>
                <li class="gradient--14">
                    <div class="gradient"></div>
                </li>

            </ul>
        
        </div>

        <input type="hidden" id="logo-image-main-colors-hidden" value="">

        <script>

            //change background-color of a "color shades square" when user select it   
            $(".color-shades li").on('click', function (e){

                $(this).toggleClass("activated");

                var mainColors = "";

                $( ".color-shades li.activated" ).each(function() {
                    mainColors = mainColors+" "+$(this).attr("data-color");
                    console.log(mainColors);
                });


                $("#logo-image-main-colors-hidden").val(mainColors);

            });
        
        
        
        
        
        
        </script>








        <h5 class="big-title">Si tu veux ajouter des détails sur les couleurs que tu souhaites, fais-le ici</h5>

        <textarea id="image-colors-textarea" class="form-control" placeholder="Ex : Je veux ceci en rouge, je veux cela en beige, etc."></textarea>

    </div>
