<div id="first-display-box">

    <div id="start-page-content">

        <div class="structurer w-100">

            <h1 id="main-title">Assistant de création de logo</h1>

            <h2>Un voyage créatif en mode pas à pas ouvert à tous.</h2>

            <p class="fs-4">Créez <span class="fw-bold">le</span> logo qui reflète <span class="fw-bold">vos attentes</span> et <span class="fw-bold">vos valeurs</span>.</p>   

            <div id="start-button-container">
                
                <button class="pushable">

                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                        <img class="img-fluid mb-1 me-1" width="30" src="{{asset ('logo_creation/play-button.svg', 'larger')}}" loading="lazy" alt="an cercled triangle icon representing a play icon"> Démarrer maintenant
                    </span>

                </button>
            
            </div>

            <p class="mt-3 fs-5">Service <span class="fw-bold">gratuit</span> et <span class="fw-bold">sans inscription</span> offert par Propon, le site de présentation de projets.</p>

            <p>
            
                Les logos présentés à titre d'exemples sont soumis à des copyrights détenus par leurs ayants droits respectifs.

            
            </p>


            <div class="gdpr container col-md-12">

                <div class="text-center mb-1">Propon respecte votre vie privée, <span class="learn-more">cliquez ici pour en savoir plus</span>.</div> 

                <div class="more-content border mb-0 mx-md-2 px-1 py-2">

                    <p class="mb-1">Pour améliorer l'outil à votre disposition, Propon est susceptible de sauvegarder de manière anonymisée des données fournies par ses utilisateurs, nécessaires pour créer un logo, pour une durée maximale de 3 mois.</p>

                    <p class="mb-0">Ce service utilise Dall-e, un outil de génération d'image fournit par la société <a href="https://openai.com/">OpenAI</a>. Pour utiliser Dall-e, notre service envoie à OpenAI de manière anonymisée des données utiles pour créer un logo unique.</p>

                </div>

                <style>

                    /* Initially hide the "Learn More" content */
                    .more-content {
                        display: none;

                    }

                    /* Styles for the "Learn More" button */
                    .learn-more {
                        color: #0073e6;
                        cursor: pointer;
                    }

                    /* Style on hover for the "Learn More" button */
                    .learn-more:hover {
                        text-decoration: none;
                    }

                </style>

                <script>
                // Select HTML elements
                const learnMoreButton = document.querySelector('.learn-more');
                const moreContent = document.querySelector('.more-content');

                // Add an event listener to show/hide the "Learn More" content
                learnMoreButton.addEventListener('click', () => {
                    if (moreContent.style.display === 'block') {
                    moreContent.style.display = 'none';
                    } else {
                    moreContent.style.display = 'block';
                    }
                });
                </script>

            </div>

        </div>
            
    </div>

</div>