<script>

$(document).ready(function() {

    //reinitializing forms on refresh
    $("input").val("");
    $("textarea").val("");

    //form Sections is a big object containing logo creation branches so they are splitted in several files
    let formSections = {

        {% include "ai_presentation_helper/logo_creation/_js_big_cats_chunks.html.twig" %}
        {% include "ai_presentation_helper/logo_creation/_js_letters_chunks.html.twig" %}
        {% include "ai_presentation_helper/logo_creation/_js_image_chunks.html.twig" %}
        {% include "ai_presentation_helper/logo_creation/_js_letters_image_chunks.html.twig" %}
        {% include "ai_presentation_helper/logo_creation/_js_ubiquitary_chunks.html.twig" %}

    };

    let userChoices = []; //history of user choices (allow go back button)

    let previousSection = null; //user do not have visited a previous section at first
    let currentSection = 'logo-big-cats'; //this is the first step of logo creation


    $("#intermediate-structurer-container").hide(); // newt and previous buttons are hidden at first

    // Initialize section 1 is visible
    $("button.pushable").on('click', function (e){

        $("#first-display-box").hide();
        $("#intermediate-structurer-container").show();

        //initialize form section 1 is visible
        document.querySelector('#'+currentSection).classList.remove('isHidden');

        $("#controls-container").show();

    });

    
    


    $("#nextStep").on('click', function (e){

        if(formSections[currentSection].length == 1){  // case whereby we got only one next step possibility

           nextSection = formSections[currentSection][0].nextSection;

           console.log("case one possible next step: "+nextSection);

           goToNextSection(nextSection);

           return;

        };

        //else getting user choice
        nextSection = $('#'+currentSection+'-hidden').val();

        if(nextSection==null){ //user don-t have to make a choice, in this case next step is defined in formSections object.

           nextSection = formSections[currentSection][0].nextSection;

           console.log("case no user choice so default next step: "+nextSection);

        };

        goToNextSection(nextSection);

    });

    $("#previousStep").on('click', function (e){

        goToPreviousSection();

    });

    function goToNextSection(nextObjectSection) {

        // Previous button should be visible since we're moving forward
        document.querySelector('#previousStep').classList.remove('isHidden');

        console.log("current section is:"+currentSection);

        let selectedOption = formSections[currentSection].find(option => option.value === nextObjectSection);

        if(!selectedOption) {
            console.error('Option not found');
            return;
        }

        // Hide current section
        document.getElementById(currentSection).style.display = "none";

        // Update the last section before going to the next
        previousSection = currentSection;
        
        let nextSection = getNextValidSection(nextObjectSection);

        console.log("Next valid section is "+nextSection);

        userChoices.push(currentSection + "_" + nextSection);

        console.log("user history is : "+userChoices);

        // Show next section
        currentSection = selectedOption.nextSection;
            
        console.log("current section is : "+currentSection);
        document.getElementById(nextSection).style.display = "block";

        // If this is a final section, hide the next button
        let nextOption = formSections[currentSection];
        console.log("Hep next option is"+nextOption);
        if(!nextOption) {
            document.querySelector('#nextStep').classList.add('isHidden');
            document.querySelector('#previousStep').classList.add('isHidden');
            getLogos(); // get and display logos
        }

    }



    function getNextValidSection(userChoice) {

        console.log("user choice is "+userChoice);

        let selectedOption = formSections[currentSection].find(option => option.value === userChoice);

        console.log("selected Options");
        console.log(selectedOption);

        // If this section should be skipped, recursively find the next section
        if(selectedOption.skipIf && userChoices.some(choice => selectedOption.skipIf.includes(choice))) {

            //console.log(formSections[userChoice][0].nextSection);

            console.log("llllllll"+selectedOption.default);
            //return false;

            //nextCandidate = return selectedOption.default;
            return selectedOption.default;
        } else {
            return selectedOption.nextSection;
        }
        
    }



function goToPreviousSection() {
    // Since we're moving back, the next button should be visible
    document.querySelector('#nextStep').classList.remove('isHidden');

    // Hide current section
    document.getElementById(currentSection).style.display = "none";

    // Get previous section from user choices history
    let previousChoice = userChoices.pop();

    if(previousChoice) {
        // Split the choice string into section and option
        let [section, option] = previousChoice.split("_");
        previousSection = section;
        
        // Swap back to the last section
        let temp = currentSection;
        currentSection = previousSection;
        previousSection = temp;
    }

    // Show previous section
    document.getElementById(currentSection).style.display = "block";

    // If we're at the start of the form, hide the previous button
    if(userChoices.length === 0) {
        document.querySelector('#previousStep').classList.add('isHidden');
    }
}


    function selectItem(className){

        $('.'+className).click(function() {
            
            // Remove the highlight from other items
            $('.'+className).css('background-color', '');
            
            // Highlight the clicked item in yellow
            $(this).css('background-color', '#fbfb0054');
            
            // Fill the hidden field with the 'data-...' attribute of the clicked item
            $('#'+className+'-hidden').val($(this).data(className));
        });

    }

    //initiate select item

    selectItem("logo-big-cats");
    selectItem("logo-type-letters");
    selectItem("logo-type-image");
    selectItem("logo-relative-positions");
    selectItem("logo-font-type");


    const newImagePattern = ({ imageSrc }) => `

        <div class="logo-container"><img src="/${imageSrc}" class="created-logo" alt="ia created logo"></div>
   
    `;

    function getLogos(){

        var data = {};
        data.big_cats = $("#logo-big-cats-hidden").val();
        data.logo_type_letters = $("#logo-type-letters-hidden").val();
        data.logo_relative_positions = $("#logo-relative-positions-hidden").val();
        data.one_letter_user_choice = $("#one-letter-user-choice").val();
        data.several_letters_user_choice = $("#several-letters-user-choice").val();
        data.tangled_letters_user_choice = $("#tangled-letters-user-choice").val();
        data.font_type = $("#logo-font-type-hidden").val();
        data.letter_colors = $("#letters-colors-textarea").val();
        data.image_type = $("#logo-type-image-hidden").val();
        data.figurative_object_description = $("#figurative-object-description-textarea").val();
        data.abstraction_object_description = $("#abstraction-description-textarea").val();
        data.image_colors = $("#image-colors-textarea").val();
        data.user_last_requirements = $("#user-last-requirements-textarea").val();
        data.image_text_relative_height = $("#font-size-slider-hidden").val();

        console.log(data);

        $(".feedback-loader-container").show();

        $.ajax({  

            url: "{{path('ajax_ia_logo_creation_helper')}}",
            type:       'POST',   
            dataType:   'json',
            data: {
                "data": data,
            },

            async: true,  
            
            success: function(data, status) {

                $(".feedback-loader-container").hide();

                $("#prompt").append(data.prompt);
                
                $("#ai-logo-ui-container").addClass("resultInstance");

                var imagesPathsArray = data.imagesPathsArray;

                let i = 0;

                while (i < imagesPathsArray.length) {

                    $("#created-logos-display-container").append([
                        { imageSrc: data.imagesPathsArray[i] },
                    ].map(newImagePattern));

                    i++;
                }

                

            },  

            error : function(xhr, textStatus, errorThrown) {  
                // alert('Ajax request failed.');  
            }  
        }); 

    }

    //trigger logo reception when user clicks on appropriate button
    $("#get-logos-reception").on('click', function (e){

        getLogos();

    });


    //change background-color of a "color shades square" when user select it   
    $(".color-shades li").on('click', function (e){

        $(this).toggleClass("activated");

    });



});
    
    
</script>
