
<div id="logo-type-letters" class="struct-container isHidden">
    
    <div class="">
    
        <label for="logo-type-letters-hidden" class="form-label big-title">Tu aimerais ?</label>
    
    </div>

    <div id="logo-type-letters-container" class="selectable-container">

        <div class="selectable-square logo-type-letters" data-logo-type-letters="one-letter" >

            <h4 class="title">Une seule lettre</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/one-letter.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="selectable-square logo-type-letters" data-logo-type-letters="several-letters" >

            <h4 class="title">Plusieurs lettres</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/several-letters.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="selectable-square logo-type-letters" data-logo-type-letters="tangled-letters">

            <h4 class="title">Des lettres enlacées</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/tangled-letters.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="selectable-square logo-type-letters" data-logo-type-letters="unknown" >

            <h4 class="title">Je ne sais pas encore</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/question-mark.png', 'larger')}}" loading="lazy">
        
        </div>
    
    </div>

    {# posted logo type #}

    <input type="hidden" id="logo-type-letters-hidden" value="">

</div>

<div id="several-letters" class="struct-container isHidden">
    
    <div class="">
    
        <label for="several-letters" class="form-label big-title">Écris les lettres de ton Logo</label>

        <h5 class="big-title">Utilise des majuscules ou pas selon ta préférence.</h5>
    
    </div>

    <input id="several-letters-user-choice" type="text" class="form-control" placeholder="Ex : Propon, WordPress, MICHELIN">

</div>

<div id="one-letter" class="struct-container isHidden">
    
    <div class="">
    
        <label for="one-letter-user-choice" class="form-label big-title">Écris la lettre à intégrer dans ton Logo</label>

        <h5 class="big-title">Utilise une majuscule ou pas selon ta préférence.</h5>
    
    </div>

    <input id="one-letter-user-choice" type="text" class="form-control" placeholder="Ex : M, g, T" maxlength="1">

</div>

<div id="tangled-letters" class="struct-container isHidden">
    
    <div class="">
    
        <label for="tangled-letters" class="form-label big-title">Écris les lettres à enlacer dans ton Logo</label>

        <h5 class="big-title">Utilise des majuscules ou pas selon ta préférence.</h5>

    
    </div>

    <input id="tangled-letters-user-choice" type="text" class="form-control" placeholder="Ex : YSL, LV, CC" maxlength="15">

</div>



<div id="logo-font-type" class="struct-container isHidden">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat|Oswald|Lato|Open+Sans|PT+Sans|Raleway|Ubuntu&display=swap" rel="stylesheet">
    
    <div class="">
    
        <label for="font-type-hidden" class="form-label big-title">On passe aux formes de lettres</label>

            <h2 class="font-heading">Ton logo, ton style</h2>
        
        <!-- Font buttons -->
        <div class="font-container" id="font-container"> </div>
        
        <!-- Text showcase -->
        <p id="logo-text-preview">Logo Text</p>

    </div>

    <input type="hidden" id="logo-font-type-hidden" value="">


    <script>


            const fontsArray = ["Roboto","Montserrat","Oswald","Lato","Open Sans","PT Sans","Raleway","Ubuntu"];
            const logoText = document.getElementById("logo-text-preview");
            const fontContainer = document.getElementById("font-container");

            fontsArray.forEach((font) => {
                const fontButton = document.createElement("button");
                fontButton.className = "font-button selectable-square logo-font-type";
                fontButton.innerText = font;
                fontButton.setAttribute('data-logo-font-type', font);
                fontButton.style.fontFamily = font;
                //fontButton.addEventListener("click", () => { logoText.style.fontFamily = font; });
                fontContainer.appendChild(fontButton);
            });
    
    </script>
  
</div>


<div id="letters-colors" class="struct-container isHidden">
    
    <div class="">
    
        <label for="letters-colors-textarea" class="form-label big-title">Quelle(s) couleur(s) pour les lettres de ton logo ?</label>

        <h5 class="big-title">Sois précis pour obtenir le résultat que tu souhaites.</h5>

    </div>

    <textarea id="letters-colors-textarea" class="form-control" placeholder="Ex : Je veux ceci en rouge, je veux cela en gris, etc."></textarea>

</div>


