
<div id="user-last-requirements" class="struct-container isHidden">
    
    <div class="">
    
        <label for="user-last-requirements-textarea" class="form-label big-title">Si tu as d'autres exigences pour ton logo, ajoute-les ici, elles seront appliquées <u>en priorité</u>.</label>

        <h5 class="big-title">Conseil : ajoute des détails pour obtenir un meilleur résultat.</h5>
    
    </div>

    <textarea id="user-last-requirements-textarea" class="form-control" name="" cols="30" rows="7" placeholder="to do"></textarea>

</div>


<div id="result" class="struct-container isHidden">

Chalut!

</div>