    <div id="logo-big-cats" class="struct-container isHidden">
        
        <div class="">
        
            <label for="logo-big-cats-hidden" class="big-title form-label">Choisis la catégorie de logo que tu souhaites</label>
        
        </div>

        <div id="logo-big-cats-container" class="selectable-container">


            <div class="selectable-square logo-big-cats" data-logo-big-cats="letters" >

                <h4 class="title">Lettres</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/letters.png', 'larger')}}" loading="lazy">
            
            </div>

            <div class="selectable-square logo-big-cats" data-logo-big-cats="image" >

                <h4 class="title">Images</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/image.png', 'larger')}}" loading="lazy">
            
            </div>

            <div class="selectable-square logo-big-cats" data-logo-big-cats="letters-images" >

                <h4 class="title">Lettres et images</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/mixed.png', 'larger')}}" loading="lazy">
            
            </div>
        
        </div>

        {# posted logo big category type #}

        <input type="hidden" id="logo-big-cats-hidden" value="">
    
    </div>





<div id="user-last-requirements" class="struct-container isHidden">
    
    <div class="">
    
        <label for="user-last-requirements-textarea" class="form-label big-title">Si tu as d'autres exigences pour ton logo, ajoute-les ici, elles seront appliquées <u>en priorité</u>.</label>

        <h5 class="big-title">Conseil : ajoute des détails pour obtenir un meilleur résultat.</h5>
    
    </div>

    <textarea id="user-last-requirements-textarea" class="form-control" name="" cols="30" rows="7" placeholder="to do"></textarea>

</div>

<div id="result" class="struct-container isHidden">
    
    Résultat !!!
    
</div>
