
<h1 class="text-center fw-bold fs-4 lh-1 mb-5">{{currentItem.priorQuestion}}</h1>

<div id="invitation-container" class="select-buttons-container container col-md-9">

        <button id="accept-invitation" type="button" class="btn btn-validate border big-select-button me-0 me-md-5" style="color: #0d6efd;">✔️ Oui</button>

        <button type="button" class="btn btn-go-back border big-select-button">

            <a class="d-flex text-body justify-content-center align-items-center w-100 h-100" href="{{ path('presentation_helper', {'stringId': stringId, 'position': nextPosition }) }}">
                ❌ Non
            </a>
            
        </button>

</div>

<style>

    .select-buttons-container{
        display: flex;
        justify-content: center;
    }

    .big-select-button{
        font-size: 1rem;
        padding: 10px 30px;
    }

    .big-select-button:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }

    @media screen and (max-width: 580px) {

        .select-buttons-container{
            justify-content: space-around;
        }
                
        .big-select-button {
            padding: 2px 24px;
            height: 40px;
        }

    }


</style>