
{% block stylesheets %}

    {% include "project_presentation/edit/categories/_css_inclusions.html.twig" %}

{% endblock %}


{% include "project_presentation/edit/categories/_js_inclusions.html.twig" %}


<div id="categories-structure-container" class="clearfix" style="margin-top:60px; margin-bottom: 40px;">

    <a id="categories-collapse-trigger" data-bs-toggle="collapse" href="#cat-grid" role="button" aria-expanded="false" aria-controls="collapseCategories">

        <h4 class="collapse-title">

            Choisir des Catégories

            <img class="chevron-icon" src="{{ asset('chevron-down.svg', 'misc')}}" alt="chevron down icon">

        </h4>

    </a>

    <div id="cat-grid"  class="collapse no-transition"style="margin-top:30px;">
        
        {% include "project_presentation/edit/categories/_categories_list.html.twig" %}

    </div>
    
</div>

<div id="keywords-structure-container">

    <a class="" data-bs-toggle="collapse" href="#collapseKeywords" role="button" aria-expanded="false" aria-controls="collapseKeywords">

        <h4 class="collapse-title">

            Compléter avec des mots-clés

            <img class="chevron-icon ms-1 ms-md-3" src="{{ asset('chevron-down.svg', 'misc')}}" alt="chevron down icon">

        </h4>

    </a>

    <div class="collapse no-transition" id="collapseKeywords" style="margin-top: 48px; padding-left: 17px;">
        
        {% include "project_presentation/edit/categories/_manage_keywords.html.twig" %}

    </div>

</div>

<!-- Action Buttons -->

<div class="action-buttons-container mt-5">

    <a href="{{ path('presentation_helper', {'stringId': stringId, 'position': nextPosition }) }}">
        
        <button id="next-question-button" type="button" class="jumbotron-btn fw-bold sharp" style="background-color:#ecf3ff;">Je ne choisis pas</button>

    </a>

</div>


<script>

    $("#categories-collapse-trigger").on("click", function(event){ 

        //Giving more space to jumbotron left column (> medium screens) because we have a lot of categories to display
        $('#categories-structure-container').css('margin-top', "0");
        $('.collapse-title').css('margin-left', "0");
        $('.jumbotron-title').addClass('d-md-none');
        $('.jumbotron-text').removeClass('col-md-6').addClass('col-md-11');
        $('.jumbotron-img-ctn').removeClass('col-md-6').addClass('col-md-1').find('img').addClass("d-md-none");


        $('#next-question-button').text("J'ai terminé");

        var myCollapse = document.getElementById('collapseKeywords')
        var bsCollapse = new bootstrap.Collapse(myCollapse, {
            show: true,
        })

    });

</script>

<style>
        
    .jumbotron {
        padding-top: 0 !important;
    }
    .jumbotron-title {
        padding-top: 0;
    }

    .collapse-title{
        
        margin-left: 30px;
        padding-left: 14px;
        background-color: inherit;
        color: black;
        font-weight: bold;
        border-left: 6px solid #68a8e1; 
    }

    .collapse-title:hover{
        background-color: inherit;
    }

    .chevron-icon{

        width: 26px; 
        margin-left: 16px; 
        margin-bottom: 2px;
    }

    
    @media screen and (max-width: 820px) {
        
    }
    
    @media screen and (max-width: 580px) {
        
        /* Centering categories buttons on mobile */

        #cat-grid {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        

        .collapse-title{
        
            margin-left: 0px;
            padding-left: 8px;
            border-left: 4px solid #68a8e1;
            font-size: 17px; 
        }

        .chevron-icon{

            width: 22px; 
            margin-left: 4px; 
            
        }
        
    }

</style>
