
{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "introduction-box", 'modal_title': "", 'modal_size': "modal-fullscreen-xl-down modal-lg"} %}

    {% block modalHeader %}{% endblock %}

    {% block modalBody %}

        <div class="row">

            <div class="col-7 col-md-6">

                <div class="fs-4 pt-md-5 ps-md-4 ps-lg-5">

                    <p>
                        ✨ Bienvenue !
                    </p>

                    <p>
                        Je pose des questions et je remplis automatiquement votre page de projet.
                    </p>

                    <p>
                        Si vous faites une erreur, vous pourrez la modifier après ✅
                    </p>

                </div>

            </div>

            <div class="col-5 col-md-6 d-flex align-items-center">

                <img class="img-fluid" src="{{asset ("presentation_helper/interviewer.svg", 'larger')}}" alt="Bootstrap Themes" loading="lazy" width="420" height="430">

            </div>

        </div>
        
        
        

        <style>

            @media screen and (max-width: 580px) {

                .col-5 {
                    padding: 0;
                }
                
                .fs-4 {
                    font-size: 17px !important;
                }
            }
    
        </style>
    

    {% endblock %}

    {% block footerCloseButton %}

        <button type="button" class="btn btn-go-back" data-bs-dismiss="modal">Ok</button>

    {% endblock %}

{% endembed %}

<script>

var introductionModal = new bootstrap.Modal(document.getElementById("introduction-box"), {
});

introductionModal.show();

</script>