{% extends 'base.html.twig' %}

{% block title %}Aide à la présentation de projet{% endblock %}

{% set helperItems = [ 

    { 'uniqueName': "test", 'type': "qa", 'questionFr': "Comment est née l'idée du projet ?"}, 

    { 'uniqueName': "textdescr1", 'type': "textDescription", 'questionFr': "Pouvez-vous décrire en quelques lignes ce que vous souhaitez réaliser ?"}, 

    { 'uniqueName': "test2", 'type': "qa", 'questionFr': "Peut-on essayer votre produit ? Si oui, où ? "}, 

    { 'uniqueName': "websites", 'type': "websites", 'questionFr': "Avez vous un site web ou un réseau social en lien avec votre projet (exemple : Facebook, Discord...) ?", 'askBefore': 'true', 'repeatableMessage': 'Voulez-vous ajouter un autre site web ?'}, 

    { 'uniqueName': "needs", 'type': "needs", 'questionFr': "Recherchez-vous des contributeurs (bénévoles ou payés), acceptez-vous de l'aide ?", 'askBefore': 'true',}, 
    
    { 'uniqueName': "places", 'type': "places", 'questionFr': "Votre projet est-il relié à un pays, un département, ou une ville ?", 'askBefore': 'true',}, 


] %}


{% set currentItem = helperItems[position] %}

{% set currentPosition = position %}

{% set nextPosition = null %}

{% if helperItems[position + 1] is defined %}

    {% set nextPosition = position + 1 %}

{% endif %}

{% set nextItem = null %}

{% if helperItems[position + 1] is defined %}

    {% set nextItem = helperItems[position + 1] %}

{% endif %}


{% block body %}

    <div class="page-container container">

        {% embed "utilities/jumbotron_skeleton.html.twig" %}
        
            {% block image %}

                <img src="{{asset ("presentation_helper/"~ currentItem.uniqueName ~".svg", 'larger')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="380" height="330">

            {% endblock %}

            {% block text %}

                <!-- Question Label -->

                {% if repeatedInstance == "false" %}
                    
                    <h1 class="jumbotron-title display-5 lh-1">{{currentItem.questionFr}}</h1>

                {% endif %}

                {% if currentItem.askBefore is defined and repeatedInstance == "false" %}

                    {% include "presentation_helper/_ask_to_choose.html.twig" %}
                    
                {% endif %}

                <div class="answer-form {{ currentItem.askBefore is defined and repeatedInstance == "false" ? 'hide-me' : '' }}">

                    {% include "presentation_helper/_form.html.twig" %}

                </div>
            
            {% endblock %}

        {% endembed %}

        {% if currentItem.repeatableMessage is defined %}

            {% include "presentation_helper/_ask_to_repeat.html.twig" %}

        {% endif %}

    </div>


    <style>

        .jumbotron-title{ /* Overiding jumbotron default style */
            font-size: 29px;
            margin-bottom: 34px;
        }

        .action-buttons-container{
            margin-top : 34px;
        }

        .hide-me{
            display: none;
        }

    </style>

    <script>

        $(document).ready(function(){

            //alert($('#presentation_helper_nextPosition').val());

            $('#accept-invitation').click(function() {

                $('.hide-me').show();

                $('#invitation-container').hide();
                $('.jumbotron-title').hide();
                $('.answer-form').show();

                needTypesModal.show();
                
            });

        });

    </script>

{% endblock %}
