{% extends 'base.html.twig' %}

{% block title %}Aide à la présentation de projet{% endblock %}

{% set helperItems = [ 

    { 'uniqueName': "progress", 'type': "qa", 'priorQuestion': "Le projet a t-il déjà avancé ?", 'questionFr': "Quel est le travail déjà effectué ?", 'finalRenderingLabel': "Quel est l'avancement du projet' ?"},

    { 'uniqueName': "websites", 'type': "websites", 'priorQuestion': "Avez-vous déjà un site web ou un réseau social en lien avec votre projet", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre site web ?', 'finalRenderingLabel': ""},
    
    { 'uniqueName': "idea", 'type': "qa", 'questionFr': "Comment est née l'idée du projet ?", 'finalRenderingLabel': "Comment est né le projet ?"}, 

    { 'uniqueName': "places", 'type': "places", 'priorQuestion': "Votre projet est-il relié à un pays, un département, ou une ville ?", 'questionFr': "", 'finalRenderingLabel': ""},
    
    { 'uniqueName': "needs", 'type': "needs", 'priorQuestion': "Recherchez-vous des contributeurs (bénévoles ou payés) (acceptez-vous de l'aide) ?", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre besoin ?', 'finalRenderingLabel': ""}, 

] %}


{% set currentItem = helperItems[position] %}

{% set currentPosition = position %}

{% set nextPosition = null %}

{% if helperItems[position + 1] is defined %}

    {% set nextPosition = position + 1 %}

{% endif %}

{% set nextItem = null %}

{% if helperItems[position + 1] is defined %}

    {% set nextItem = helperItems[position + 1] %}

{% endif %}


{% block body %}

{% set hasPriorQuestion = currentItem.priorQuestion is defined %}

    <div class="page-container container">

        {% embed "utilities/jumbotron_skeleton.html.twig" %}
        
            {% block image %}

                <img src="{{asset ("presentation_helper/"~ currentItem.uniqueName ~".svg", 'larger')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="380" height="330">

            {% endblock %}

            {% block text %}

                {% if hasPriorQuestion and repeatInstance == "false" %}

                    {% include "presentation_helper/_ask_to_choose.html.twig" %}

                {% endif %}

                <div class="form {{ hasPriorQuestion and repeatInstance == "false" ? 'hide-me' : '' }}">

                    {% include "presentation_helper/_form.html.twig" %}

                </div>
            
            {% endblock %}

        {% endembed %}

        {% if currentItem.repeatableMessage is defined %}

            {% include "presentation_helper/_ask_to_repeat.html.twig" %}

        {% endif %}

    </div>


    <style>

        .jumbotron-title{ /* Overiding jumbotron default style */
            font-size: 29px;
            margin-bottom: 34px;
        }

        .action-buttons-container{
            margin-top : 34px;
        }

        .hide-me{
            display: none;
        }

    </style>


    <script>

        $(document).ready(function(){

            //alert($('#presentation_helper_nextPosition').val());

            $('#accept-invitation').click(function() {

                $('.hide-me').show();

                $('.invitation-title').hide();
                $('#invitation-container').hide();

                $('.form').show();

                $("#presentation_helper_answer").focus();

                var needTypesModal = new bootstrap.Modal(document.getElementById("selectNeedTypeModal"), {
                    backdrop: 'static'
                });

                needTypesModal.show();

            });

        });

    </script>

{% endblock %}
