{% extends 'base.html.twig' %}

{% block title %}Aide à la présentation de projet{% endblock %}

{% set helperItems = [ 
        
    { 'uniqueName': "title", 'type': "title", 'priorQuestion': "Votre projet a t-il déjà un titre ou un titre temporaire ?", 'questionFr': "Quel est le titre du projet ?",'finalRenderingLabel': ""}, 
        
    { 'uniqueName': "goal_details", 'type': "textDescription", 'questionFr': "Pouvez-vous décrire le résultat final que vous aimeriez atteindre ?",'finalRenderingLabel': ""}, 
    
    { 'uniqueName': "idea", 'type': "qa", 'questionFr': "Comment est née l'idée du projet ?", 'finalRenderingLabel': "Comment est né le projet ?"}, 

    { 'uniqueName': "progress", 'type': "qa", 'priorQuestion': "Le projet a t-il déjà avancé ?", 'questionFr': "Quel est le travail déjà effectué ?", 'finalRenderingLabel': "Quel est l'avancement du projet' ?"},

    { 'uniqueName': "websites", 'type': "websites", 'priorQuestion': "Avez-vous déjà un site web ou un réseau social en lien avec votre projet ?", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre site web ?', 'finalRenderingLabel': ""},

    { 'uniqueName': "places", 'type': "places", 'priorQuestion': "Votre projet est-il relié à un pays, un département, ou une ville ?", 'questionFr': "", 'finalRenderingLabel': ""},
    
    { 'uniqueName': "needs", 'type': "needs", 'priorQuestion': "Recherchez-vous des contributeurs (bénévoles ou payés) (acceptez-vous de l'aide) ?", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre besoin ?', 'finalRenderingLabel': ""}, 

] %}


{% set currentItem = helperItems[position] %}

{% set currentPosition = position %}

{% set nextPosition = null %}

{% set itemsCount = helperItems | length %}

{% if helperItems[position + 1] is defined %}

    {% set nextPosition = position + 1 %}

{% endif %}

{% set nextItem = null %}

{% if helperItems[position + 1] is defined %}

    {% set nextItem = helperItems[position + 1] %}

{% endif %}


{% block body %}

    {% set hasPriorQuestion = currentItem.priorQuestion is defined %}
        
    <div class="page-container container">
        
        {% if currentPosition == 0 %} {# entering interview, displaying a friendly message #}

            {% include "presentation_helper/_introduction_modal.html.twig" %}

        {% endif %}

        {% include "presentation_helper/_jumbotron.html.twig" %}

        {# sometimes we ask user whether he would like an item #}

        {% if currentItem.repeatableMessage is defined %}

            {% include "presentation_helper/_ask_to_repeat.html.twig" %}

        {% endif %}

    </div>

    <style>

        .jumbotron-title{ /* Overiding jumbotron default style */
            font-size: 29px;
            margin-bottom: 34px;
        }

        .action-buttons-container{
            margin-top : 34px;
        }

        .hide-me{
            display: none;
        }


        #flash-messages {
            
            animation: fadeout 3s linear forwards;
            opacity: 1;
        }
                
        @keyframes fadeout {
        100% { opacity: 0; height:0;  }
        }

    </style>

    <script>

        $(document).ready(function(){

            // Giving focus to appropriate input

            function giveFocus(){

                var itemType = $('#presentation_helper_helperItemType').val();
                var relatedInputId;

                switch(itemType) {

                    case 'title':
                        relatedInputId = 'presentation_helper_title';
                        break;
                        
                    case 'qa':
                    case 'textDescription':
                    
                        relatedInputId = 'presentation_helper_answer';
                        break;
                        
                    case 'websites':
                        relatedInputId = 'presentation_helper_websiteDescription';
                        break;
                        
                    case 'needs':
                        relatedInputId = 'presentation_helper_needTitle';
                        break;
                      
                    default:
                        document.getElementById('autocomplete').focus();  // it is an isolated case, see _form.html.twig
                } 

                $("#"+relatedInputId).focus();
            }

            //alert($('#presentation_helper_nextPosition').val());

            $('#accept-invitation').click(function() {

                $('.hide-me').show();

                $('.invitation-title').hide();
                $('#invitation-container').hide();

                $('.form').show();

                giveFocus(); // form was hiden so we have to give it focus again. 

            });

        });

    </script>

{% endblock %}
