{% extends 'base.html.twig' %}

{% block title %}Aide à la présentation de projet{% endblock %}


{# "priorQuestion" is a prior question user can answer with yes or no, so that a form appears or not with an actual Question (questionFr) 
    "finalRenderingLabel" is the label that will be integrated on consultation page, if relevant.
#}

{% set helperItems = [ 
                    
    { 'uniqueName': "title", 'type': "title", 'priorQuestion': "✒️ Votre Projet a t-il déjà un titre ou un titre temporaire ?", 'questionFr': "Quel est le titre du Projet ?",'finalRenderingLabel': ""}, 
        
    { 'uniqueName': "goal_details", 'type': "textDescription", 'questionFr': "🎯 Pouvez-vous décrire le résultat final que vous aimeriez atteindre ?",'finalRenderingLabel': ""}, 

    { 'uniqueName': "progress", 'type': "qa", 'priorQuestion': "🏗️ Votre Projet a t-il déjà avancé ?", 'questionFr': "Quel est le travail déjà effectué ?", 'finalRenderingLabel': "Quel est l'avancement du Projet ?"},

    { 'uniqueName': "websites", 'type': "websites", 'priorQuestion': "🌐 Avez-vous déjà un site web ou un réseau social en lien avec votre Projet ?", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre site web ?', 'finalRenderingLabel': ""},

    { 'uniqueName': "places", 'type': "places", 'priorQuestion': "🌍 Votre Projet est-il relié à un pays, un département, ou une ville ?", 'questionFr': "", 'finalRenderingLabel': ""},
    
    { 'uniqueName': "needs", 'type': "needs", 'priorQuestion': "🙃 Acceptez-vous de l'aide ?", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre besoin ?', 'finalRenderingLabel': ""}, 
    
    { 'uniqueName': "logo", 'type': "logo", 'priorQuestion': "🍋 Avez-vous déjà un logo pour votre projet ?", 'questionFr': "",'finalRenderingLabel': ""}, 
    
    { 'uniqueName': "imageSlide", 'type': "imageSlide", 'priorQuestion': "🖼️ Avez-vous une image ou une photo pour illustrer votre projet ?", 'questionFr': "",'finalRenderingLabel': "", 'repeatableMessage': 'Voulez-vous ajouter une autre image ?'},

] %}

{# For another form...

    { 'uniqueName': "idea", 'type': "qa", 'questionFr': "Comment est née l'idée du projet ?", 'finalRenderingLabel': "Comment est née l'idée du projet ?"}, 
#}


{% set currentItem = helperItems[position] %}

{% set uniqueName = currentItem.uniqueName %}

{% set currentPosition = position %}

{% set nextPosition = null %}

{% set itemsCount = helperItems | length %}

{% if helperItems[position + 1] is defined %}

    {% set nextPosition = position + 1 %}

{% endif %}

{% set nextItem = null %}

{% if helperItems[position + 1] is defined %}

    {% set nextItem = helperItems[position + 1] %}

{% endif %}


{% block body %}

    {% set hasPriorQuestion = currentItem.priorQuestion is defined %}
        
    <div class="container page-container mt-5" data-track-view='{"key":"pres-help-step-{{ currentPosition }}", "attributes":{"uniqueName": "{{uniqueName}}"} }'>

        <h4 class="text-center mb-5">⏱️ La construction de votre page de projet progresse</h4>

        {% include "presentation_helper/_template.html.twig" %}

        {# sometimes we ask user whether he would like an item #}

        {% if currentItem.repeatableMessage is defined %}

            {% include "presentation_helper/_ask_to_repeat.html.twig" %}

        {% endif %}

    </div>

    <style>

        .hide-me{

            display: none;

        }

                

        @media screen and (max-width: 580px) {

            .page-container{

                padding-left: 0px;
                padding-right: 0px;
                padding-top: 40px;

            }

            .fs-4{
                font-size: 19px !important;
            }

        }

    </style>

    <script>

        $(document).ready(function(){

            // Giving focus to appropriate input

            function giveFocus(){

                var itemType = $('#presentation_helper_helperItemType').val();
                var relatedInputId;

                switch(itemType) {

                    case 'title':
                        relatedInputId = 'presentation_helper_title';
                        break;
                        
                    case 'qa':
                    case 'textDescription':
                    
                        relatedInputId = 'presentation_helper_answer';
                        break;
                        
                    case 'websites':
                        relatedInputId = 'presentation_helper_url';
                        break;
                        
                    case 'needs':
                        relatedInputId = 'presentation_helper_needTitle';
                        break;
                      
                    default:
                        document.getElementById('autocomplete').focus();  // it is an isolated case, see _form.html.twig
                } 

                $("#"+relatedInputId).focus();
            }

            //alert($('#presentation_helper_nextPosition').val());

            $('#accept-invitation').click(function() {

                $('.hide-me').show();

                $('.invitation-title').hide();
                $('#invitation-container').hide();

                $('.form').show();

                giveFocus(); // form was hiden so we have to give it focus again. 

            });

        });

    </script>

{% endblock %}
