
.bc-outer{
    position: relative;
    width: 330px;
    max-width: 100%;
    padding: 18px;
    margin-bottom: 22px;
    border: 1px solid rgb(171, 173, 190);
    border-radius: 4px;
    margin-right: 25px;
}



@media screen and (max-width: 768px) {

    .bc-outer{

        width: 290px;

    }

}

@media screen and (max-width: 580px) {

    .bc-outer{

        margin-right:0;

    }
    
}
