
.bc-outer{
    position: relative;
    display: inline-block;
    width: 330px;
    max-width: 100%;
    padding: 18px;
    margin-right: 25px;
    margin-bottom: 16px;
    border: 1px solid rgb(171, 173, 190);
    border-radius: 4px;
    cursor: pointer;
}


@media screen and (max-width: 580px) {

    .bc-outer{

        margin-right:0;

    }
}
