
/* Create news styles */

.proxy-news-creation-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f8fff870;
	border: 1px solid #d1d8fe;
}

.fake-send-button {
	display: flex;
	align-items: center;
	padding: 7px;
	border-radius: 50px;
	background-color: #d8ebf9;
	border: 1px solid #a4a4d8;
}

.fake-send-button img{
    width: 12px;
    padding-right: 1px;
}


.proxy-news-input {
	min-width: 130px;
	padding: 4px 13px 4px 12px;
	margin-right: 12px;
	background-color: #fffffe;
	border-radius: 4px;
	border: 1px solid grey;
}



.news-form-struct-title{

    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #376475;

}

.news-form-struct-title .news-icon{

    margin-bottom: 4px;
    filter: invert(49%) sepia(40%) saturate(2752%) hue-rotate(353deg) brightness(108%) contrast(103%)

}

@media screen and (max-width: 580px) {

    #covering-footer .news-form-struct{
        
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

	
    .news-form-struct-title {
        margin-top: -10px;
        margin-bottom: 23px;
        font-size: 18px;
    }

    .news-form-struct-title img{

        width: 16px;
        height: 16px;
        margin-bottom: 0;

    }

	.news-form-container .tox-tinymce {
       
        height: 217px !important;

    }



}