
/* Generalities */

body {
  font-family: Montserrat, sans-serif;
  text-align: center;
}


#ai-logo-ui-container{

  height: 88vh;
  padding: 40px;
  margin-top: 12px;

}

#ai-logo-ui-container input, #ai-logo-ui-container textarea{

  margin-top: 33px;
  margin-bottom: 33px;

}

#ai-logo-ui-container button{

  outline: none;

}

#controls-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 580px) {

  #ai-logo-ui-container{

    height: 86vh;
    padding: 0px;
  
  }
}

/* End of Generalities */




/* Introduction Container (CTA) */

#first-display-box{

  height: 100%;
  border-radius: 5px;
  border: 1px solid green;
  padding: 15px;

}

#start-page-content{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  border: 1px solid green;
  border-radius: 5px;

}

#main-title{

  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;

}

.sub-subtitle{

  font-size: 25px;

}

@media screen and (max-width: 580px) {


  #main-title{

    font-size: 25px;
    
  }

  .subtitle{

    font-size: 16px;

  }

  .sub-subtitle{

    font-size: 15px;
  }

  p.under-button{

    font-size: 15px;

  }

  .more-content {
    background-color: #f7fff0;
    position: sticky;
  }


}

#first-display-box{

  height: 100%;
  border-radius: 5px;
  border: 1px solid green;
  padding: 15px;

}

#start-page-content{

  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
  border: 1px solid green;
  border-radius: 5px;

}

#start-button-container{

  display: flex;
  justify-content: center;
  margin: 2rem auto;

}

/* End of Introduction Container (CTA) */




/* Process Steps */

.big-title{
  display: block;
  font-size: 1.3em !important;
  text-align: center;
}

.selectable-container{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.selectable-square {
  display: inline-block;
  width: 155px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  cursor: pointer;
}

.selectable-square .title {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
    
.selectable-square:hover {
  background-color: #eef7ee;
}

/* End of Process Steps */



/* Font-type selection */

.font-heading {
  font-size: 2.5rem;
}

.font-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.font-button {
  font-size: 1.5rem;
  border: 1px solid #000;
  margin: 1rem;
  padding: 1rem;
  transition: all .2s ease-out;
}

.font-button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}


#logo-text-preview {
  font-size: 3rem;
  margin-top: 0rem;
}

/* End of font-type selection */


/* Start Process Button */
/* Thanks to https://www.joshwcomeau.com/animation/3d-button/ */

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}


.edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: linear-gradient( to left, hsl(115.4, 35.4%, 56.3%) 0%, hsl(126.3, 65.5%, 17.1%) 8%, hsl(317.7, 33.3%, 58.2%) 92%, hsl(101, 64.1%, 49.2%) 100% );
}

/* .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
} */


.front {
	display: block;
	position: relative;
	padding: 12px 42px;
	border-radius: 12px;
	font-size: 1.25rem;
	color: #22264a;
	background: hsl(112.2, 19.7%, 77.1%);
	will-change: transform;
	transform: translateY(-4px);
	transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
	font-weight: bold;
}


@media screen and (max-width: 580px) {

  .front {

    padding: 9px 17px;

  }

}

/* .front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
 */
.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* End of Start Process Button */


/* Created Logo Revelation */

.feedback-loader-container {

  display: none;
  text-align: center;
  margin-bottom: 40px;
}

.isHidden {
  display: none;
}


#created-logos-display-container{
  display: flex;
  justify-content: center;
}

.logo-container{
  display: inline-block;
  padding: 15px;
}

img.created-logo{
  width: 300px;
  height: 300px;
}

/* End of Created Logo Revelation */

@media screen and (max-width: 580px) {


  #start-page-content {
    display: contents;
  }

  #main-title{

    margin-top: 39px;
    margin-bottom: 5px;
  
  }

  .selectable-container {
    flex-wrap: wrap;
  }

  #first-display-box {
    padding: 10px;
  }

  .front {
    padding: 8px 14px;
  }

}