#dataList{

    padding-left: 36px;
    margin-right:0;

}

.misc-data-card{

    position: relative;
    margin-bottom: 17px;
    
}

/* .misc-data-card .name, .misc-data-card .value{

    cursor: auto;

} */

.misc-data-card .name{
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 1.05;
}

.misc-data-card .indentation-container{
  
    padding-left: 16px;

}


.misc-data-card .value{
    font-size: 17px;
    line-height: 1.05;
    margin-bottom: 3px;

}

.misc-data-card .date{
    display: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
}

.pp-container.in-edition-mode .edit-mode-outline{
    border: 1px solid rgb(221, 221, 177);
    border-radius: 6px;
    padding: 6px;
}

.pp-container.in-edition-mode .edit-mode-outline:hover{
    background-color: #ededec;
}


.show-details-text-container{

    padding-left: 10px;
    margin-top: 4px;

}

.pp-container.in-edition-mode .show-details-text-container{

    padding-left: 0px;

}

.show-details-text{

    font-size: 14px; 
    color:rgb(142, 142, 142); 
    cursor: pointer;

}

            
@media screen and (max-width: 580px) {

        
    #dataList{

        padding-left: 0;

    }

    .misc-data-card{
        padding: 0;
    }

    .misc-data-card:nth-child(odd){
        padding-right: 12px;
    }

    .misc-data-card:nth-child(even){
        padding-right: 0;
    }

    .misc-data-card .name{
        font-size: 15px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 10px;
    }

    .misc-data-card .value{
        font-size: 15px;
        margin-bottom: 8px;
        line-height: 1;
        
    }
        
    .misc-data-card .indentation-container{
    
        padding-left: 8px;
        
    }


    .show-details-text-container {
        padding-left: 0;
        margin-top: -7px;
    }

    .pp-container.in-edition-mode .show-details-text-container {
        padding-left: 3px;
    }

}