.news-card {
    position: relative;
    max-width: 430px;
    min-height: 320px;
    max-height: 444px;
    padding: 5px 8px;
    margin: 0 auto 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #b7babe;
    border-radius: 5px;
}

.news-card .upper-box{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    
}

.news-card .text-content{

    padding: 0 7px 0 7px;
    margin-bottom: 10px;
}

.news-card .other-media-container{
    height: 220px;
    margin-top: 10px;
}

.news-card .other-media-container img{
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    max-height: 210px;
}

.news-card img{
    display: block;
    margin: auto;
}

.news-card .images-count {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: #5b5b5b;
    border-radius: 10px;
    font-size: 11px;
    padding: 2px 7px;
}


.news-card time{
    font-size: 14px;
    color: #666;
}

.news-card .hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.news-card .showContent {
    line-height: 1em;
    height: auto;
    overflow-y: hidden;
}

.news-card .show-more {

    margin-top: -30px;
    text-align: right;
    
}

.news-card .show-more span{
    
    padding-left: 7px;
    padding-right: 12px;
    background-color: white;
    color: #0d6efd;
    cursor: pointer;
    
}




@media screen and (min-width: 580px) {

    .news-card .carousel-control-prev, .news-card .carousel-control-next {
        width: 45px;
        height: 45px;
        margin-top: 20%;
        background-color: #4b702c;
        border-radius: 50px;
    }
    
    .news-card .carousel-control-next-icon, .news-card .carousel-control-prev-icon {
        height: 1em;
        width: 1em;
    }

}



@media screen and (max-width: 580px) {

    .news-card {
        min-height: unset;
        max-height: unset;
        margin: 0 auto 10px auto;
    }

    .news-card .other-media-container img {

        height: unset;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: none;
    }

}