.persorg-card{

    position: relative;

    width: 140px;

    padding: 10px;

    margin-right: 15px;
    margin-bottom: 20px;

    border: 1px solid blue;
    border-radius: 4px;

    cursor: pointer;


    
}
