/* Whole Presentation Container */

.pp-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Each Structure Container*/

.pp-struct-container {

    padding: 15px 12px 10px 12px;
    margin-bottom: 28px;
    
    border: 1px solid rgb(221, 221, 177);
    border-radius: 6px;
    
} 

    /* Slideshow container : removing horizontal padding and structure border by default (these are added in edition mode, see wysiwyg.css) */

    #slideshow-struct-container{
        padding: 15px 0px 10px 0px;
        border: none;
    }


/* Each Structure Title Container (contains title + edit button) */

.pp-struct-title-container{

    margin-bottom: 32px;

}

/* Each Structure Title */

.pp-struct-title{

    display: inline;
    color : navy;
    font-family : Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.8rem;
    margin:0px;

}

/* Each Structure Icon */

.pp-struct-icon{
    
    margin-right : 7px;

    width: 22px;
    height: 22px; 

    margin-bottom: 5px;

    /* change svg colors 
    
    filter: invert(73%) sepia(92%) saturate(2564%) hue-rotate(8deg) brightness(112%) contrast(104%); */
}

/* Each Structure Content */

.pp-struct-content{
    padding-left: 30px;
}


/* Switch some links behaviors between edition and consultation mode  */

.coverable-link{

    position: absolute;

    top:0; 
    left:0;

    width: 100%;
    height: 100%;

    opacity: 0;

}

/* Hide editable elements */

.pp-edition-mode{

    display: none;
    
}




/* Media queries */


@media screen and (max-width: 768px) {

    .pp-container{
        padding-left: 0;
        padding-right: 0;
        margin-top: 40px;
        margin-bottom: 22px;
    }
            
    .pp-struct-content{
        padding-left: 25px;
    }

}

@media screen and (max-width: 580px) {

    .pp-container{

        margin-top: 15px;
        padding: 0;
    
    }

    .pp-struct-container {

        padding-right: 6px;
        margin-bottom: 17px;

    }

    .pp-struct-title-container{

        margin-bottom: 18px;

    }

    .pp-struct-title{

        color : navy;
        font-family : Verdana, Geneva, Tahoma, sans-serif;

        font-size: 20px;

    }

    .pp-struct-icon{

        width:20px;
        height:20px;

        margin-right:5px;

    }

    .pp-struct-content{
        padding-left: 5px;
    }

    #slideshow-struct-container{
        padding: 0px;
        border: none;
    }


}