
.collection-title{
    color: blue;
    font-weight: 700;
    margin-bottom: 40px;
}

.collection-row{
    
    padding: 12px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(212, 214, 214);

    border-radius: 3px;

    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}

.collection-row .thumb-container{

    flex-shrink: 0;
    width:110px;
}

.collection-row .thumb-container img{

    max-width: 100%;
    height: auto;
    border-radius: 0.3rem !important;
}

.collection-row .text-container {

    flex-grow: 1 ;
    margin-left: 0.5rem;
}

.collection-row .project-goal{

    margin-bottom: 6px;
    line-height: 1.13em;
    font-size: 1.25em;
    font-weight:bold;
    color:#1a0dab;

}

.collection-row .project-title{

    margin-bottom: 6px;
    line-height: 1.13em;
    font-size: 1.15em;
    font-weight: bold;
    color:#2C3E50;

}

.collection-row .project-keywords{

    margin: 4px 0px;
    font-weight: bold;
    color:#065fd4;
    line-height: 1.05em;
    text-align: left;
    font-size: 15px;

}

@media screen and (max-width: 580px) {

    .collection-title {
        text-align : center;
    }

    .collection-row {

        padding: 6px 5px 6px 3px;
        margin-bottom: 18px;
            
        border-left: 0;
        border-right: 0;

    }

    
    .collection-row .thumb-container{

        width: 90px;
    }

    
    .collection-row .text-container{

        margin-left: 6px;
    }

    .collection-row .project-goal{
    
        font-size: 16px;
        line-height: 15px;
        margin-bottom: 2px;
    }

    .collection-row .project-title{
    
        font-size: 16px;
        
    }

    .collection-row .project-keywords{
    
        font-size: 13px;

    }

}