/* Overides some default algolia frontend rendering + other styles about our own choices and structuration concerning search results */


.search-experience-container{
  display: none;
}

.ais-ClearRefinements {
  margin: 1em 0;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em;
}

.left-panel {
  float: left;
  width: 250px;
  position:relative;
}

.right-panel {
  margin-left: 260px;
}

.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-item {
  margin-bottom: 0.4em;
  width: calc(50% - 1rem);
}


.hit-link-wrap {
  text-decoration: none;
}

.hit-img-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 11px;
}

.hit-img {
  max-width: 210px;
  max-height: 106px;
  border-radius: 0.3rem !important;
}

.hit-goal {
  color: #1a0dab;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.2em;
}

    
.hit-title {
  
  margin-bottom: 6px;
  line-height: 1.13em;
  font-size: 1.15em;
  font-weight: bold;
  color:#2C3E50;

}


.hit-keywords {

  margin: 4px 0px;
  font-weight: bold;
  color:#065fd4;
  line-height: 1.05em;
  text-align: left;
  font-size: 15px;

}

.filters-categories-title{

  font-size: 28px;
  margin-top : 17px;
  margin-bottom : 16px;

}


/* Info Box allows to Display Specific Info over markers on a Google Map  */

a.link-wrapper {
	display: inline-block;
	width: 100%;
  margin-top: -12px;
}

.infoBox{
  width: 286px;
  padding: 17px 7px;
  border: 1px solid rgb(162, 162, 255);
  font-size: 15px;
  background-color: white;
  border-radius: 6px;
}

.infoBox a div{
  display: flex;
  flex-direction: column;
}

.infoBox a div .img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.infoBox a div .img-container img{
  max-width: 110px;
  max-height: 110px;
  border-radius: 3px;
}

.infoBox a .avatar-square-rounded{ /* when no thumbnail available */
  margin-bottom: 10px;
}

.infoBox a div .text-container{
  text-align: center;
  padding-left: 15px;
  color: black;
}

.infoBox .avatar-80{
  width: 60px;
  height: 60px;
}

.infoBox .avatar-initial-80 {
  top: 15px;
  left: 15px;
}


.gm-style img[title=" Close "] { /* Close popover button */

	width: 24px;
  height: 24px; 
  margin-top: -4px !important;

}



@media screen and (max-width: 580px) {

  .avatar-initial-80 {
    top: 24px;
    left: 27px;
  }
    
  .hit-img-ctn {
    float: left;
    margin-right: 10px;
  }
    
  .hit-img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .left-panel {
    display: none;
  }

  .filters-categories-title {
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 13px;
  }
  
  .right-panel {
    margin-left: 0;
  }

  .hit-txt-ctn {
    display: flex;
    align-items: center;
    height: 100%;

  }

  .hit-img-ctn {
    width: 120px;
    height: 80px;
    margin-bottom: 0px;
  }

  .hit-goal {
    font-size: 16px;
    line-height: 15px;
  }

  .hit-title {
    font-size: 16px;
  }

  .hit-keywords {
    font-size: 13px;
  }

  .ais-Hits {
    margin-top : 6px;
  }
  
  .ais-Hits-item{
    padding: 12px 5px;
    width: calc(100% - 1rem);
    margin-top: 0.6em;
    margin-bottom: 0.2em;

  }

  .close-left-panel{
    position: absolute;
    top: 0;
    right: 0;
  }


}


@media screen and (max-width: 400px) {

  .hit-img-ctn{
    width: 90px;
  }

}

.left-panel .js-hide-geosearch-map, .right-panel .js-hide-geosearch-map {

  display: none;
}

.left-panel .js-hide-geosearch-map, .left-panel .js-show-geosearch-map{

  margin-top: 17px;
}




/* Geo Search */

#maps{
  height: 500px;
}

.ais-GeoSearch {

 /* Make sure that you explicitly set the height of the map container, otherwise it won’t show. (https://www.algolia.com/doc/api-reference/widgets/geo-search/js/?client=js) */
  display: none;
}


.ais-GeoSearch-map {

  margin-bottom: 30px;
}



/* This is a notification box before the map display */

.app-maps-info{

  display: none;

}


.ais-GeoSearch-control {
  display: none;
}

@media screen and (max-width: 580px) {

  /* Search with a Map */

  .ais-GeoSearch-map {

    height: 213px;
  }

  #maps {
    height: 360px;
  }

  .infoBox{
    width: 220px;
    padding: 15px 3px;
  }

  .infoBox a div .img-container img{
    max-width: 60px;
    max-height: 60px;
  }

  .infoBox a div .img-container img{
    max-width: 60px;
    max-height: 60px;
  }



}

  
  