  .ais-ClearRefinements {
    margin: 1em 0;
  }
  
  .ais-SearchBox {
    margin: 1em 0;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }
  
  .left-panel {
    float: left;
    width: 250px;
  }
  
  .right-panel {
    margin-left: 260px;
  }
  
  .ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .ais-Hits-item {
    margin-bottom: 1em;
    width: calc(50% - 1rem);
  }

  
  .hit-img-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
  }
  
  .hit-img {
    max-width: 100%;
    height: auto;
    border-radius: 0.3rem !important;
  }
  
  .hit-goal {
    color: #1a0dab;
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2em;
  }

      
  .hit-title {
    
    margin-bottom: 6px;
    line-height: 1.13em;
    font-size: 1.15em;
    font-weight: bold;
    color:#2C3E50;

  }