  .ais-ClearRefinements {
    margin: 1em 0;
  }
  
  .ais-SearchBox {
    margin: 1em 0;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }
  
  .left-panel {
    float: left;
    width: 250px;
  }
  
  .right-panel {
    margin-left: 260px;
  }
  
  .ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .ais-Hits-item {
    margin-bottom: 1em;
    width: calc(50% - 1rem);
  }

  
  .hit-link-wrap {
    text-decoration: none;
  }
  
  .hit-img-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 11px;
  }
  
  .hit-img {
    max-width: 210px;
    max-height: 106px;
    border-radius: 0.3rem !important;
  }
  
  .hit-goal {
    color: #1a0dab;
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2em;
  }

      
  .hit-title {
    
    margin-bottom: 6px;
    line-height: 1.13em;
    font-size: 1.15em;
    font-weight: bold;
    color:#2C3E50;

  }

  
  .hit-keywords {

    margin: 4px 0px;
    font-weight: bold;
    color:#065fd4;
    line-height: 1.05em;
    text-align: left;
    font-size: 15px;

  }

  .filters-categories-title{

    font-size: 28px;
    margin-top : 32px;
    margin-bottom : 16px;

  }
  
@media screen and (max-width: 580px) {

  .avatar-initial-80 {
    top: 24px;
    left: 27px;
  }
    
  .hit-img-ctn {
    float: left;
    margin-right: 10px;
  }
    
  .hit-img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .left-panel {
    display: none;
  }
  
  .right-panel {
    margin-left: 0;
  }

  .hit-txt-ctn {
    display: flex;
    align-items: center;
    height: 100%;

  }

  .hit-img-ctn {
    width: 120px;
    height: 80px;
    margin-bottom: 0px;
  }

  .hit-goal {
    font-size: 16px;
    line-height: 15px;
  }

  .hit-title {
    font-size: 16px;
  }

  .hit-keywords {
    font-size: 13px;
  }

  .ais-Hits {
    margin-top : 6px;
  }
  
  .ais-Hits-item{
    padding: 12px 5px;
    width: calc(100% - 1rem);
    margin-top: 0.6em;
    margin-bottom: 0.2em;

  }


}


@media screen and (max-width: 400px) {

  .hit-img-ctn{
    width: 90px;
  }

}