

/* Categories */

.cat-button{

    float: left;
    width: 100%;
    max-width:230px;
    height: 61px;

    margin-right: 15px;
    margin-bottom: 15px;

    font-size: 1.1em;
    line-height: 1.4em !important;
    font-weight: 700;
    
    border: 1px solid black !important;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.cat-button:hover{
    background-color:rgb(234, 245, 255);
}

.cat-button .category-icon{
    width: 35px;
    height: 35px;
}

/* La selection de la classe parente Permet un Override du Hover */
#cat-grid .selectedCategory, #cat-grid .selectedCategory:hover {
    background-color: yellow !important;
}

.bt-left-col{
    width: 58px;
    height: 100%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt-right-col{
    height: 100%;
    display: flex;
    align-items: center;
    
}


        
@media screen and (max-width: 820px) {


    .cat-button {
        
        max-width: 200px;
        font-size: 1em;
        line-height: 1.15em !important;
    }


    .bt-left-col {
        width: 50px;
    }

}

        
@media screen and (max-width: 580px) {
        
    .main-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      
    /* Centering categories buttons on mobile */

    #cat-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cat-button{
        float: unset;
        margin-right: 0;
    }

}


@media (min-width: 576px) {

    .cat-button {
        width: 260px;

    }

}



/* Keywords */

#keywords-input-container {
    margin-bottom: 15px;
}

#keywordsInput {
    width: 250px;
    height: 35px;
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid black;
    color: #727272;
    font-size: 18px;
    transition: background 0.4s ease-in-out 0s;
}

.keyword-wrapper{

    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #e1e1e1;
    cursor: pointer;
    
}

.keyword-wrapper .left-col{
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.keyword-wrapper .right-col{
    width: 30px;
    position: relative;
}

.remove-keyword{

    color: white;
    font-weight: bold;
    background-color: red;
    padding: 0 5px;
    position: absolute;
    right:0;
    bottom: 5px;
    
}