
.hide-too-long {
    height: 100%;
    overflow: hidden;
}

.hide-100 {
    max-height: 100px;
}

.hide-360 {
    max-height: 360px;
}

.read-more:focus {
outline: none;
}

.read-more::-moz-focus-inner {
border: 0;
}

.hid {
display: none;
}


@media screen and (max-width: 580px) {
        
    .hide-too-long.show-tiny-screens {
        max-height: initial;
    }
        
    .hide-too-long.show-tiny-screens .read-more{
        display:none;
    }

}