
.hide-too-long {
    height: 100%;
    overflow: hidden;
}

.hide-335 {
    max-height: 290px;
}

.hide-525 {
    max-height: 580px;
}

.read-more:focus {
    outline: none;
}

.read-more::-moz-focus-inner {
    border: 0;
}

.hid {
    display: none;
}


@media screen and (max-width: 580px) {
        
    .hide-too-long.show-tiny-screens {
        max-height: initial;
    }
        
    .hide-too-long.show-tiny-screens .read-more{
        display:none;
    }
        
    .hide-too-long {
        
        overflow-x: auto !important;
    }


}