.titled-projects-container{
    margin-top: 86px;
    margin-bottom: 80px;
}


.collection-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.collection-title {
	margin-bottom: 40px;
	text-align: center;
	font-weight: 700;
	color: rgb(72, 67, 61);
}


.project-card{
    display: inline-block; 
    width: 300px; 
    height: 350px; 
    overflow: hidden;
    border: 1px solid rgb(227, 221, 211); 
    border-radius: 4px;
    margin-bottom: 15px;
    padding-top: 7px;
    
}

.project-card:hover{

    box-shadow: 1px 1px 5px 1px rgb(238, 237, 237);
}

.project-card .goal{

    color: #1a0dab;
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2em;
    
}

.project-card .title {
    margin-bottom: 6px;
    line-height: 1.13em;
    font-size: 17px;
    font-weight: bold;
    color: #2C3E50;
}

.project-card .keywords{

    font-size: 15px;
    font-weight: bold;
    line-height: 1.2em;
    
}


.image-container{

    height: 195px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 4px;

}

.image-container img{

    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;

}

.other-info-container{
    padding: 0 10px 0px 10px;
    text-align: center;
}


.read-more {
    margin-left: 47%;
}


@media screen and (max-width: 810px) {

    .project-card{
        width: 210px; 
        height: 300px; 
        margin-right: 10px;
    }
    
        
    .project-card .goal{

        line-height: 1.12;
        
    }

    .image-container{

        height: 140px;
        margin-bottom: 0px;
    }

    

}




@media screen and (max-width: 580px) {

        
    .collection-title{

        margin-bottom: 20px;
        font-size: 20px;
    }

    .collection-container{
    
        justify-content: unset;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .collection-container > * {
        flex-shrink: 0;

    }

    
    .titled-projects-container{
        margin-top: 0px;
        margin-bottom: 30px;
    }


}