
.pp-website-card {

    display: inline-block;

    position: relative;

    width: 450px;

    overflow-wrap: break-word;

    padding: 8px 0;

    margin-bottom: 20px;
    margin-right: 24px;    

    border: 1px solid #bedbf8;
    border-radius: 3px;
    
    cursor: pointer;




}

.pp-website-card, .pp-website-card >* {

    background-color: white;
}

.pp-website-card:hover, .pp-website-card:hover a{
    background-color:rgb(251, 250, 240) !important;
}

.pp-website-card a {

    text-decoration: none;
    color: black;
    width: 100%; /* otherwise size of icon column and url column will vary */

}

.websiteDescription {

    font-weight: bold;
    font-size: 18px;
    line-height: 1.05;

}

.websiteUrl {

    font-size: 16px;
    line-height: 0.95;

}

@media screen and (max-width: 580px) {

    .pp-website-card{
        margin-bottom: 9px;
        border: 1px solid #d4e7fa;
    }

    .websiteDescription {

        font-weight: normal;
        font-size: 15px;

    }

    .websiteUrl {

        font-weight: normal;
        font-size: 12px;

    }

}