
/* note : this stylesheet is only called for userPresenter instances. Some page elements are displayed or hidden for regular users, so be aware a few related declarations exist in project_presentation_page.css */


/* Toggling some elements display according to their status (see wysiwyg.js) */

.in-edition-mode .pp-consultation-mode{
    display: none !important;
}

.in-consultation-mode .pp-edition-mode{
    display: none !important;
}

.in-edition-mode .pp-edition-mode{
    display: initial;
}

.in-consultation-mode .pp-consultation-mode{
    display: initial;
}


/* This class is applied when we want an editable zone to react on mouse hover */

.in-edition-mode .edit-hoverable-item:hover {
    cursor: pointer;
    background-color: #e0ecff;
    border-radius: 6px;
}


/* Slideshow in edition mode */

.in-edition-mode #slideshow-struct-container {

    padding: 15px 12px 10px 12px;
    margin-bottom: 28px;
    border: 1px solid #dee2e6;

}

/* Text Description in edition mode */

.in-edition-mode #text_description {

    padding-left: 0;

}



/* Contact ways are not displayed in consultation mode when no contact ways are provided */

.in-consultation-mode [data-display="false"] {
    display:none !important;
}

/* Add item plus butotn */

.plus-btn {
	border-radius: 50%;
	text-align: center;
	line-height: 110%;
	background-color: #e2f6e1;
    border: 1px solid #b0d7b5;
}





/* Delete Item Buttons */

.delete-button {
    visibility: hidden;
    opacity: 0;
    position: absolute;
	top: 0;
	right: 0;
	min-width: 20px;
	min-height: 20px;
	padding: 0;
	line-height: 0;
	border-radius: 2px;
    background-color: #dc3545 !important;
    color: white !important;
    z-index: 20;
    transition: visibility 0s, opacity 2s linear;

}

.deletable-element:hover .delete-button {

    visibility: visible;
    opacity: 1;

}

.delete-button:hover{
    color: #fff;
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
}

/* Switch Between Edition Mode and Consultation Mode Button */

#pp-switch-edit-consult-mode {
    position: fixed; /* Fixed/sticky position */
    top: 440px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 10; /* Make sure it does not overlap */
    border: none; 
    outline: none; /* Remove outline */
    background-color: #d6f0ca; 
    
    cursor: pointer; 
    padding: 16px; 
    border-radius: 50%;
    border: 1px solid #56af56;
    
}


@media screen and (max-width: 580px) {

    #pp-switch-edit-consult-mode {

        top: 70px;
        right: 8px;

    }

}



/* Menu large buttons (ex : delete presentation button) */

  
.menu-button {

    width:200px;
    height:100px;
    
    margin-bottom: 10px;
    margin-top: 10px;

    border: 1px solid #dee2e6 !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-radius: 4px;

    cursor: pointer;
}

.menu-button .icon-container {

    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-button .title-container {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    text-align: center;
    
    font-weight: bold;

}

.menu-button:hover {
	background-color: #fdfbf3;
    transition: 0.3s;
}


[contenteditable] {
    white-space: pre-wrap;
    outline: 0px solid transparent;
}


[contenteditable=true]:empty:before{ /* Allow to insert Placeholders in Content Editables thanks to a data-text attributes*/
    content: attr(data-text);
    color: rgb(203, 209, 214);
    cursor: text;
}

/* Sortability Drag and Drop Affordance - Guidance */
   
.in-edition-mode .questionRow, .in-edition-mode .misc-data-card, .in-edition-mode .pp-website-card, .in-edition-mode .place-card {
    cursor: move;
}


.in-consultation-mode .pp-website-card > *{
    cursor: pointer;
}

.questionRow  > *, .misc-data-card > *, .pp-website-card > *, .place-card > * {
    cursor: auto;
}


/* Zoom images is not seen in edition mode */

.in-edition-mode .img-zoom-lens{
    opacity: 0 !important;
}

.in-edition-mode .image-zoom-result{
    opacity: 0;
}




/* Some Forms Styling */
    
legend {

    font-size: 1.35em !important;
    font-weight : bold !important;

}

textarea:focus, input:focus{
    outline: none;
}


.in-edition-mode #text-description-struct-container {

    display: flex;
    flex-direction: column;
    
}

.in-consultation-mode #text-description-struct-container > * {

    cursor: default;
    
}



/* Other Media Queries */

@media screen and (max-width: 580px) {

    .edit-icon{
        width: 16px;
        height: 16px;
    }

        
    .in-edition-mode .pp-struct-title-container {

        text-align: left;

    }

    /* Some Forms Styling */
        
    label, legend {

        font-size: 1.05em !important;

    }

    .in-edition-mode #text_description {
        padding: 0;
    }

}


/* News Proxy Form & News Form */

.in-edition-mode .pp-edition-mode.news-form-struct{

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 48px 24px 48px;
    margin-bottom: 48px;
    border : 1px solid grey;

}


@media screen and (max-width: 580px) {
    
    .in-edition-mode .pp-edition-mode.news-form-struct{

        display: none;
        padding: 0;
        border: none;

    }

}

