

<div class="mt-4 mb-4">

    <h1 class="h3 text-center mb-4"><b>Préparer</b> un <b>entretien</b> pour <u>votre</u> <b>projet</b></h1>

    <div class="d-flex justify-content-center">

        <div class="d-inline-block px-5 py-3 rounded-3 border">

            <h3 class="h5 text-center">Connaître les questions qui comptent</h3>
            <h3 class="h5 text-center">Trouver les bons mots</h3>
            <h3 class="h5 text-center">Enregistrer une page résumée gratuite</h3>    
        
        </div>


    </div>


</div>



<div class="d-flex justify-content-center">
        
    <button id="js-start-interview-coach">
        <div class="mb-1">Démarrer</div>
        <svg class="feather feather-arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="5" y1="12" x2="19" y2="12"/>
            <polyline points="12 5 19 12 12 19"/>
        </svg>
    </button>

</div>




<style>


#js-start-interview-coach {
    display: flex;
    align-items: center;
    background-color: #67d7e9;
    color: #ffffff;
    padding: 14px 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color .3s;
}

#js-start-interview-coach svg {
    width: 30px;
    height: 24px;
    fill: #ffffff;
    margin-left: 3px;
}


#js-start-interview-coach svg {
  position: relative;
  right: 0;
  transition: right ease 0.5s;
}
#js-start-interview-coach:hover svg {
  right: -10px;
}

#js-start-interview-coach:hover {
    background-color: #3eb811;
}
</style>



<div class="cta container col-md-6 border p-2 mt-4">

    <div class="text-center"><b>Service gratuit</b> et <b>sans inscription</b> fournit par <span class="text-success"><a href="http://www.propon.org" target="_blank" rel="noopener noreferrer">propon.org</a></span>, le site de présentation de projets.</div>

    <div class="gdpr">

        <div class="text-center">La protection de vos données personnelles est une priorité, <span class="learn-more">afficher plus</span>.</div> 

        <div class="more-content border m-1 m-md-3 p-3">

            <p>Pour améliorer cet outil à votre disposition, Propon est susceptible de sauvegarder de manière anonymisée des données fournies par ses utilisateurs, pour une durée maximale de 3 mois.</p>

            <p>Ce service utilise ChatGPT, agent de conversation fournit par la société <a href="https://openai.com/">OpenAI</a>. Pour utiliser ChatGPT, notre service envoie à OpenAI de manière anonymisée des données transmises par nos utilisateurs. Ces données anonymes sont susceptibles d'être collectées par OpenAI.</p>

        </div>

        <script>
        // Select HTML elements
        const learnMoreButton = document.querySelector('.learn-more');
        const moreContent = document.querySelector('.more-content');

        // Add an event listener to show/hide the "Learn More" content
        learnMoreButton.addEventListener('click', () => {
            if (moreContent.style.display === 'block') {
            moreContent.style.display = 'none';
            } else {
            moreContent.style.display = 'block';
            }
        });
        </script>

    </div>
    
</div>