
<script>

    $(document).ready(function () {

        const newAIAnswerPattern = ({ answer }) => `

            <div class="assistant-advice-container form-group">

                <h4 class="assistant-advice-label h5 mb-3">La réponse du coach</h4>

                <div class="assistant-advice border">${answer}</div>

            </div>
    
        `;

        //visual ui innitialisation

        $(".answer-loader").hide();

        $(".send-button-container").hide();

        $(".userInput").focus();

        $(".js-ai-create-ppp").hide();

        $("#process-container").hide();

        $(".assistant-advice-container").hide();



        const context = "{{context}}"; // when context is coach, user wants to use the tool without initially wanting to create a propon project presentation page.

        if(context !== "coach"){ // when context is not coach, user knows he wants to create a propon project presentation page, we avoid some initial messages.

            $("#introduction-container").hide();
            $("#process-container").show();

        }else{
            
        }

        //when user click on start button, show main ui

        $('#js-start-interview-coach').on('click', function (){

            $("#introduction-container").hide();
            $("#process-container").show();

        });

        //store user messages count in order to show "Make a summary button" when relevant.
        var userMessagesCount = 0;

        //conversation flow
        $('.send-button').on( "click", function() {

            var userMessage = $('.userInput:last').val();

            //console.log("Le message qui va être envoyé est "+userMessage);

            $(".pursue-conversation").hide();
            $(".answer-loader").show();

            $.ajax({

                type: "POST",

                url: "{{path('ajax_ai_interview_helper_origin')}}",

                data: { userMessage: userMessage },

                success: function (response) {

                    //console.log(response.aiAnswer);

                    $("#main-ui form").append([
                        { answer: response.aiAnswer },
                    ].map(newAIAnswerPattern));

                    $('.user-input-container:first').clone(true, true).appendTo('#main-ui form'); //deep cloning with events
                    $('.userInput:last').val("");

                    $('.send-button-container').appendTo('#main-ui form');
                    $(".send-button-container").hide();
                    $(".answer-loader").hide();
                    $(".pursue-conversation").show();
                    //$(".userInput:last-of-type").focus();

                    userMessagesCount++;

                    if(userMessagesCount == 3){

                        var note = null;

                        if(context == "coach"){

                            note = "Note : à tout moment vous pouvez obtenir un résumé de notre conversation en appuyant sur le bouton \"Afficher un résumé\".<br><br>";

                        }else{

                            note = "Note : à tout moment vous pouvez lancer la création automatique de votre page Propon en appuyant sur le bouton \"Créer la page Propon\".<br><br>";

                        }
                        
                        $('.assistant-advice:last').html(note+response.aiAnswer);

                    }

                    if(userMessagesCount >= 3){

                        $(".js-ai-create-ppp").show();

                    }

                    var adviceElements = document.getElementsByClassName('assistant-advice');

                    // Scroll to the last element
                    if (adviceElements.length > 0) {

                        var lastAdviceElement = adviceElements[adviceElements.length - 1];

                        var topOffset = lastAdviceElement.offsetTop - 120/* Adjust for fixed bar height */; // Add the height of your fixed bar here

                        window.scrollTo({
                            top: topOffset,
                            behavior: 'smooth'
                        });

                    }

                }

            });

        });

        // Make send user input button appear when user fill textarea
        $('.userInput').on('input propertychange', function() {

            if ($(".userInput:last-of-type").val().length > 1 ) {
                $('.send-button-container').show();
            } else {
                $('.send-button-container').hide();
            }

        });

        // Make send user input button appear when user fill textarea
        $('.userInput').on('input propertychange', function() {

            if ($(".userInput:last-of-type").val().length > 1 ) {
                $('.send-button-container').show();
            } else {
                $('.send-button-container').hide();
            }

        });

        // Send message when user hit enter
        $('.userInput').on('keypress', function(event) {

            if (event.keyCode == 13) {
                // Trigger the button element with a click
                $('.send-button').click();
                $(".userInput").blur();
            }

        });

       

        
    });

</script>
