
<div class="d-md-flex justify-content-center align-items-center">

    <div id="main-ui">
    
        <form>

            <div>

                <h4 id="assistant-question" class="h5 text-center fw-bold mb-3">Quel est l'objectif de votre Projet ?</h4>

            </div>

            <div class="user-input-container form-group">

                <textarea class="userInput" name="userInputs" placeholder="Écrire votre réponse ici."></textarea>

            </div>


            <div class="send-button-container">

                <button type="button" class="send-button">Afficher les conseils du coach <span class="answer-loader"></span></button>
            
            </div>  

        </form>

        <div class="d-flex justify-content-center mt-4">
        
            <button class="js-summary-process btn btn-info">Enregistrer un récapitulatif des conseils</button>
        
        </div>

        <div class="presentation-summary"></div>
    
    </div>


</div>

<div class="other-actions">

    {# Share Button #}
    <div class="d-flex justify-content-center mt-4">{% include "utilities/_share.html.twig" with {"shareButtonLabel" : "Partager cet outil"} %}</div>  
     

</div>