{% extends 'base.html.twig' %}


    {% set titleMetadata = "Comment répondre aux questions importantes sur votre projet ? Votre assistant automatique gratuit." %}
    {% set metadataDescription = "Préparez-vous à répondre aux questions importantes sur votre projet. Notre coach automatique vous pose des questions pertinentes et vous aide à trouver les bons mots pour y répondre." %}
    {% set metadataImageUrl %}{{asset ('interview/tool_illustration.jpeg', 'larger')}}{% endset %}
    {% set currentPageUrl = app.request.uri %}

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="Laurent G.">
    <meta name="keywords" content="Assistant, IA, Entretien, Présentation, Projet">
    <meta name="date" content="2023-01-17">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'product', metadataImageUrl, null) }} {# Call from base.html.twig #}

    <link href="/css/ia_interview_assistant.css" rel="stylesheet">
    
{% endblock %}


{% block title %}Coach Entretien Présentation Projet{% endblock %}

{% block body %}

{% include "ai_presentation_helper/interview/_js_process.html.twig" %}

<div id="" class="page-container">

    {# Display nice alerts (for user patience) #}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {#   <div class="col-md-4 border">{% include "ai_presentation_helper/_tools_list.html.twig" with {"skip" : "none"} %}</div>  #}

    <div id="introduction-container">{% include "ai_presentation_helper/interview/_introduction.html.twig" %}</div>

    <div id="process-container">{% include "ai_presentation_helper/interview/_visual_process.html.twig" %}</div>

</div>


{% endblock %}
