
<div style="font-size:17px;">

    Bonjour,
    
    <br><br>

    Une demande de réinitialisation de votre mot de passe a été effectuée sur le site Propon.

    <br><br>
    
    Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ confirmationURL }}">{{ confirmationURL }}</a>

</div>