{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau mot de passe{% endblock %}
 
{% block body %}

    <div class="container my-5">

        <h3>Nouveau Mot de Passe</h3>
                    
        <div class="row mb-5">

            <div class="col-md-7">
                                                
                {{ form_start(form) }}
           
                <div class="mb-4">

                    <br>

                    {{ form_errors(form.newPassword) }}
                    {{ form_widget(form.newPassword) }}

                    <br><br>
                    

                </div>
                
                <button type="submit" class="btn btn-validate fw-bold mb-5">
                    
                    ✔️ Valider le nouveau mot de passe

                </button>

                {{ form_end(form) }}

            
            </div>

        </div>

    </div>


{% endblock %}