{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}

    <div class="container my-5">

        <h2 class="mb-5">Mot de passe oublié</h2>
            
        <div class="row mb-5">

            <div class="col-md-7">
                                                
                {{ form_start(form) }}
           
                <div class="mb-4">

                    {{ form_label(form.email) }}

                    <span class="mr-2"></span>

                    {{ form_widget(form.email) }}
                    

                </div>
                
                <button type="submit" class="btn btn-validate fw-bold mb-5">
                    
                    ✔️ Valider

                </button>

                {{ form_end(form) }}

            
            </div>

        </div>

    </div>


{% endblock %}