

{% import "search_results/_macro_display_grid_collection.html.twig" as display %}

<div class="hide-too-long hide-335 show-tiny-screens mt-4">

  <div class="projects-collection row">

    {{ display.collection(label, results | reverse) }}

  </div>

</div>
