{# 

A reusable feedback form

  arguments : 
  
    - context : a string describing the feedback situation (ex : after logo creation helper usage)

#}

{% macro feedbackForm (context) %}

<div class="feedback-form-container container col-md-5 border px-3 px-md-3 py-3">

  <div class="h5 fw-bold text-center mb-1">Comment notez-vous cet outil ?</div>
  <div class="fw-bold text-center mb-3">Merci de prendre ce temps 👍</div>

  <form id="feedback-form">

    <div id="feedback-form-widgets">
    
      <section class='rating-widget'>
        
        <!-- Rating Stars Box -->

        <div class='rating-stars'>

        <div class="stars-label">Votre note globale :</div>

        <ul id='stars' class="">

            <!-- Star icon : Creative Commons Attribution 4.0 International license. https://fontawesome.com/license -->

            {% for i in 1..5 %}
            
                <li class='star {% if loop.index <= 1 %}selected{% endif %}' data-value='{{loop.index}}'>
                    <i class='fa'><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></i>

                </li>
                
            {% endfor %}

        </ul>

        </div>
        
    </section>

    <div class="mb-3">
      <label for="user-suggestions" class="form-label">Vos suggestions d'améliorations :</label>
      <textarea class="form-control" id="user-suggestions" rows="3" placeholder="Ex: Je n'ai pas aimé... J'aurais aimé... Je vous conseille..."></textarea>
    </div>

    {# Get stars ranking integer #}
    <input id="overall-rating" type="hidden" name="">

    {# Get feedback context #}
    <input id="feedback-context" type="hidden" value="{{context}}">
    
    
    
    </div>

    <div class="text-center">

      <button id="submit-feedback-form" class="btn btn-outline-success" type="submit">Envoyer ( merci )</button>

      <button id="success-submit-feedback-form" class="btn btn-outline-success" type="button">Merci 😃 ✔️</button>
    
    </div>

    
    
  </form>

</div>

<style>

  .feedback-form-container{
    max-width: 400px;
  }

  textarea#user-suggestions{
    resize: none;
    height: 140px;
  }

  #success-submit-feedback-form{
    display: none;
  }

</style>


<script>

    $(document).ready(function(){

        //sending feedback ajax request
        $('#submit-feedback-form').on('click', function(e){

          e.preventDefault();

          $(this).html('Envoi en cours <div class="loader"></div>');

          $.ajax({  

              url: "{{path('ajax_feedback_post') }}",
              type:       'POST',   
              dataType:   'json',
              async: true,
              data: {

                "feedbackContext": $("#feedback-context").val(),
                "overallRating": $("#overall-rating").val(),
                "userSuggestions": $("#user-suggestions").val(),

              },

              success: function(data, status) {

                $('#submit-feedback-form').hide();
                $('#success-submit-feedback-form').show();

              },  

              error : function(xhr, textStatus, errorThrown) {  
                console.log('Ajax request failed.');  
              }  

          }); 

        });

        /* stars management (yeah !) */

        // Hidden field set stars rank
        $('#overall-rating').val(1);
  
        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function(){
          var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
         
          // Now highlight all the stars that's not after the current hovered star
          $(this).parent().children('li.star').each(function(e){
            if (e < onStar) {
              $(this).addClass('hover');
            }
            else {
              $(this).removeClass('hover');
            }
          });
          
        }).on('mouseout', function(){
          $(this).parent().children('li.star').each(function(e){
            $(this).removeClass('hover');
          });
        });
        
        
        /* 2. Action to perform on click */
        $('#stars li').on('click', function(){

          var onStar = parseInt($(this).data('value'), 10); // The star currently selected

          var stars = $(this).parent().children('li.star');
          
          for (i = 0; i < stars.length; i++) {
            $(stars[i]).removeClass('selected');
          }
          
          for (i = 0; i < onStar; i++) {
            $(stars[i]).addClass('selected');
          }
          
          // pass rating value to hidden field
          var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);

          $('#overall-rating').val(ratingValue);
          
        });
        
      });
      

</script>



<style>

    .rating-stars{
        display: flex;
        align-items: center;
        margin-bottom: 18px;
    }

    .stars-label, #stars{
        display: inline;
    }

    i.fa svg{
        width: 30px;
    }
    
    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type:none;
        padding:0;
        
        -moz-user-select:none;
        -webkit-user-select:none;
    }

    .rating-stars ul > li.star {
        display:inline-block;
        
    }
    
    /* Idle State of the stars */
    .rating-stars ul > li.star > i.fa {
        font-size:2.5em; /* Change the size of the stars */
        color:#ccc; /* Color on idle state */
    }
    
    /* Hover state of the stars */
    .rating-stars ul > li.star.hover > i.fa {
        color:#FFCC36;
    }
    
    /* Selected state of the stars */
    .rating-stars ul > li.star.selected > i.fa {
        color:#FF912C;
    }

    .stars-label {
        font-size: 1.06em;
        font-weight: 700;
        margin-bottom: 4px;
        margin-right: 11px;
    }

    
  @media screen and (max-width: 580px) {
  
    #stars{
      line-height: 0.7;
      margin-bottom: 11px;
    }

    .rating-stars {
      margin-bottom: 1px;
    }

    i.fa svg{
      width: 20px;
    }

  }
  

</style>








{% endmacro %}
