{% macro alternRow(image_src, image_alt, text) %}

    <div class="row">

        <div class="col-6 px-0">

            <div class="image-container">

                <img src="{{image_src}}" alt="{{image_alt}}">

            </div>

        </div>

        <div class="col-6 px-0">

            <div class="text-container">

                {{text}}

            </div>
            
        </div>

    </div>
    
{% endmacro %}

{% macro displayMoreButtonArea(offer) %}

    <div class="buy-button-area mt-5">

        <a href="{{ path ('purchase_ask_question', {'offer': offer} ) }}">

            <button type="button text-center" class="btn btn-lg btn-success">Nous contacter</button>

        </a>

    </div>
    
{% endmacro %}