<!-- Modal -->

<div id="backdropModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog {{modal_dialog_utils ?? ""}}">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title fw-bold fs-5" id="staticBackdropLabel">{% block titleContent %}{% endblock %}</h5>

      </div>

      {% block bodyContainer %}
        
        <div class="modal-body d-flex align-items-center">

          {% block bodyContent %}{% endblock %}

        </div>

      {% endblock %}

      <div class="modal-footer">

        {% block footerContent %}{% endblock %}

      </div>

    </div>

  </div>

</div>


{% block js %}{% endblock %}