<!-- Modal -->

<div id="backdropModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-sm">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="staticBackdropLabel">{% block titleContent %}{% endblock %}</h5>

      </div>

      {% block bodyContainer %}
        
        <div class="modal-body">

          {% block bodyContent %}{% endblock %}

        </div>

      {% endblock %}

      <div class="modal-footer">

        {% block footerContent %}{% endblock %}

      </div>

    </div>

  </div>

</div>


{% block js %}{% endblock %}