
{#
    Skeleton for Jumbotron Display (text left column + large image right column + adjustments on mobile)

    Contains :

        - an image block
        - a text block
    
#}

{% block stylesheets %}<link href="/css/jumbotron.css" rel="stylesheet">{% endblock %}


<div class="jumbotron row flex-md-row-reverse align-items-center g-5 py-md-4">

    <div class="jumbotron-img-ctn col-12 col-md-4 col-lg-6 position-relative">

        {% block image %}{% endblock %}

    </div>

    <div class="jumbotron-text col-md-8 col-lg-6">

        {% block text %}{% endblock %}

    </div>

</div>