{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "makeDonationFormModal", 'modal_title': "Faire un don <div class='lead fs-5'>Paiement sécurisé avec Stripe ©</div>", 'modal_size': "modal-lg"} %}
    
    {% block modalBody %}

    <form id="donation-form" class="donation-form">

        <!-- Donation amount -->
        <fieldset class="first-panel">

            <div class="amount-buttons">

                <button type="button" class="amount-btn" data-amount="500">5 €</button>
                <button type="button" class="amount-btn" data-amount="1000">10 €</button>
                <button type="button" class="amount-btn" data-amount="2000">20 €</button>
                <button type="button" class="amount-btn" data-amount="4000">40 €</button>
                <button type="button" class="amount-btn" data-amount="8000">80 €</button>
                <button type="button" class="amount-btn" data-amount="16000">160 €</button>            
            
            </div>


            <style>

                .amount-buttons{
                    
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;

                }

                @media screen and (max-width: 580px) {



                }
            
            
            </style>

            <!-- Custom Amount -->
            
            <div class="my-3">

                <label for="donation-custom-amount" class="form-label fw-normal mx-1">Montant libre</label>
                <input id="donation-custom-amount" type="text" size="4" placeholder=""> <span>  &#160; €</span>


                <style>

                    #donation-custom-amount {

                        border: 1px solid #c5c5c5;
                        height: 40px;
                        border-radius: 4px;

                    }
                
                </style>
            
            </div>

            <div class="">

            

                <h6 class="fs-5 fw-normal">Ici vous pouvez laisser un message d'encouragement (facultatif)</h6>

                <input class="form-control" type="text" id="donorMessage">

                 <style>

                    #donorMessage {

                        max-width: 650px;

                    }
                
                </style>
            
            
            
            
            
            </div>

            <hr class="my-2">

            <!-- Next panel button -->
            <button type="button" id="next-panel-1">Suivant</button>

        </fieldset>

        <!-- Donor info -->
        <fieldset class="second-panel">

            <h2>Mes coordonnées</h2>

            <div class="input-group my-3">

                <div class="input-group-text">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16">

                        <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914"/>
                        </svg>

                    </div>
                
                <input type="text" class="form-control" id="donorEmail" placeholder="E-mail (non communiqué)">

            </div>

            <div class="input-group my-3">

                <div class="input-group-text">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                </div>

                <input type="text" class="form-control" id="donorPseudo" placeholder="Nom ou pseudonyme (facultatif)">

            </div>


            <style>
            
                .second-panel input{
                    max-width: 400px;
                }
            
            </style>

            <button type="button" id="previous-panel-2">Précédent</button>
            <button type="button" id="next-panel-2">Suivant</button>

        </fieldset>

        <!-- Payment info -->
        <fieldset class="third-panel">
            <h2>Payment Info</h2>
            <!-- Payment form goes here -->

            <div id="paymentFormContainer"></div>

            <style>
            
                #paymentFormContainer{
                    display: flex;
                    justify-content: center;
                }
            
            </style>

            <button type="button" id="previous-panel-3">Précédent</button>
            <button id="submit">Submit</button>
        </fieldset>

    </form>

    

    {% endblock %}


{% endembed %}


<script>


$(document).ready(function(){

    $('#makeDonationFormModal').modal('show');
    $('#makeDonationFormModal').removeClass('disabled');


    $('#donation-form #next-panel-1').on('click', function (){

        const validation = validateAmount();
        
        if(validation === true){
            $('#donation-form .first-panel').hide();
            $('#donation-form .second-panel').show();
        }else{
            alert(validation);
        }
      
    });

    function validateAmount() {
        
        if ($('.donation-btn-selected').length === 0 && $('#donation-custom-amount').val() == "") {
            
            return 'Veuillez sélectionner un montant de donation.';
        }

        if (!$('#donation-custom-amount').val() == "" && !$.isNumeric($('#donation-custom-amount').val())) {
            
            return 'Veuillez utiliser un nombre.';
        }

        return true;

    }


    function getDonationAmount(){

        if ($('.donation-btn-selected').length !== 0) {

            return $('.donation-btn-selected:first').attr("data-amount");

        }

        return $('#donation-custom-amount').val()*100;

    };

    $('#donation-form #next-panel-2').on('click', function (){

        const validationSecondPanel = validateSecondPanel();

        if(validationSecondPanel === true){

            $('#donation-form .second-panel').hide();

            var proponPaymentType = 'donation';
            var donorEmail = $('#donorEmail').val();
            var totalAmount = getDonationAmount();

            var additionalInfo = {
                "projectId": 128,
                "donorMessage": $('#donorMessage').val(),
            };

            $.ajax({  

                url: '{{path("ajax_purchase_payment_form")}}',
                type:       'POST',   
                dataType:   'json',
                data: {
                    "proponPaymentType": proponPaymentType,
                    "userEmail": donorEmail,
                    "totalAmount": totalAmount,
                    "additionalInfo": additionalInfo,
                },

                async: true,  
                
                success: function(data, status) {

                    console.log(data);
                    $('#donation-form .third-panel').show();
                    $('#donation-form #paymentFormContainer').html(data);
                },  

                error : function(xhr, textStatus, errorThrown) {  
                  console.log('Une erreur est survenue.');  
                }  

            }); 

          

        } else{

            alert(validationSecondPanel);
        }

    });



    function validateSecondPanel() {

        emailInput = $('#donorEmail').val();
        
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if(regex.test(emailInput)){
            return true;
        }else{
            return "Veuillez utiliser une adresse e-mail valide";
        }

        
        
    }



    $('#donation-form #previous-panel-2').on('click', function (){
        //to do validate donor info
        $('#donation-form .second-panel').hide();
        $('#donation-form .first-panel').show();

    });

    $('#donation-form #previous-panel-3').on('click', function (){
        //to do validate donor info
        $('#donation-form .third-panel').hide();
        $('#donation-form .second-panel').show();

    });


    $('#donation-form .amount-btn').on('click', function (){

        $('#donation-form .amount-btn').removeClass("donation-btn-selected");
        $('#donation-custom-amount').val("");

        $(this).addClass('donation-btn-selected');

    });

    $('#donation-custom-amount').on('input', function() {
        
        $('#donation-form .amount-btn').removeClass("donation-btn-selected");
        
    });




            
    

});


</script>


<style>

    fieldset:not(:first-of-type) {
    display: none;
    }

    fieldset {
    transition: all 0.5s ease;
    }

    .donation-btn-selected {
        background-color: blue;
        color: white;
    }


    .donation-form button{
    border: none;
    padding: 12px 24px;
    margin: 5px;
    border-radius: 3px;
    background-color: #f8f8f8;
    color: #333;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    }


    .donation-form button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    }

    .donation-form button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    }

    .donation-form button:focus {
    outline: none;
    }

    /* Style for the selected amount button */
    .donation-form .donation-btn-selected {
    background-color: #4CAF50; /* Any color you want */
    color: white;
    }



</style>