
{% if cs.persorgs | length > 0 %}

    <div class="">

        <!-- Persorg Grid -->

        <div id="elements-list" data-elements-type="persorgs" data-id-cs={{cs.id}} class="row m-0">

            {% for persorg in cs.persorgs %}

                <!-- Persorg Card --> 

                <div id="{{persorg.id}}" class="js-sortable-element persorgCard position-relative d-flex align-items-center justify-content-center text-center" style="min-height:180px; width:130px; margin-right: 15px; margin-bottom: 20px; cursor:pointer; border:1px solid black; border-radius: 4px;">

                    <!-- Persorg Edition Path -->

                    <a class='text-decoration-none text-body' href="{{path('edit_persorg', {'stringId': stringId, 'id_persorg': persorg.id})}}">

                        <!-- Persorg Card Content --> 

                        {% include "persorgs/_card.html.twig" %}
                    
                    </a>
                                    
                    {# delete persorg (Red Cross) button #}

                    <button type="button" data-elements-type="persorgs" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{persorg.id}}">&times</button>

                    
    <style>
        
        .delete-button {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 20px;
            min-height: 20px;
            border-radius: 4px;
            background-color: #dc3545 !important;
            color: white !important;
            z-index: 2;

        }

    </style>


                </div>

            {% endfor %}
        
        </div>

    </div> 

{% endif %}