  {% form_theme persorgForm 'bootstrap_4_layout.html.twig' %}
 
 <!-- Modal -->

  <div class="modal no-transition" id="add-persorg-modal" tabindex="-1" aria-labelledby="add-persorg-modal-label" aria-hidden="true">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="add-persorg-modal-label">Modal title</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>

        {{ form_start(persorgForm) }}

        <div class="modal-body">

          {{ form_widget(persorgForm) }}
            
        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Retour
          </button>

          
          <button class="btn btn-primary">
            Valider
          </button>

        </div>

        {{ form_end(persorgForm) }}

      </div>

    </div>

  </div>
  

  <script>

    $(document).ready(function(){

      // if form errors are detected, we have to trigger modal box display

      {% if not persorgForm.vars.valid %}

          $('#add-persorg-modal').modal('show');

      {% endif %}

    });


  </script>