{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "firstTimeEditPresentationModal", 'modal_title': "Votre page de projet est créée !", 'modal_size': "modal-dialog-centered"} %}


    {% block closingCross %}{% endblock %}
  

    {% block modalBody %}

        <script>

            //Automatically trigger this modal when it appears in template        

            var firstTimeEditPresentationModal = new bootstrap.Modal(document.getElementById("firstTimeEditPresentationModal"), {});

            document.onreadystatechange = function () {
                
                firstTimeEditPresentationModal.show();

            };

            $(document).ready(function(){

                document.getElementById("pp-switch-edit-consult-mode").click(); //get into pp-consultation mode in order to reduce user cognitive overload.

            });
        
        </script>

        <div class="">

            <p class="fs-5"><span style="display: inline-block; transform: rotate(360deg) scaleX(-1);">✏️</span> <span style=""><b>Modifiez-là</b> en cliquant sur l'<b>icône crayon à droite de l'écran</b>.</span></p>

            {% if not app.user %}<p class="fs-5"><span style="display: inline-block; transform: rotate(360deg) scaleX(-1);">📌</span> <b>Enregistrez-là gratuitement</b> avec le formulaire en bas de page. <b>Vous pourrez partager son adresse.</b></p>{% endif %}

            <p class="fs-5 mb-1">✨ <b>Profitez des avantages</b> apportés par votre page :</p>

            <ul class="fs-5">
                <li><b>Présentez vos besoins</b> & <b>demandez des donations</b>;</li>
                <li><b>Donnez des nouvelles</b>;</li>
                <li><b>Et plein d'autres possibilités !</b></li>
            </ul>

        </div>

    {% endblock %}

    {% block footerButtons %}

        {% block footerCloseButton %}{% endblock %}

        <button type="button" class="btn btn-validate" data-bs-dismiss="modal">Ok</button>

    {% endblock %}


{% endembed %}
