{% embed "utilities/notification.html.twig" %}

    {% block class %}notif-help alert-success container col-lg-10 text-center{% endblock %}

    {% block dismissCross %}{% endblock %}

    {% block header %}{% endblock %}

    {% block body %}

        <div class="d-flex align-items-center">

            <div class="img-container flex-shrink-0">

                <img class="img-fluid" src="{{asset ("presentation_helper/magic.svg", 'larger')}}" alt="magic icon">

            </div>

            <div class="text-container flex-grow-1 ms-0 ms-md-4 ps-2 ps-md-3">

                <h5 class="fw-bold mb-3">🙋 Souhaitez-vous des idées pour présenter votre projet ?</h5>

                <div class="buttons-container">
                    
                    <button class="js-ajax-data btn btn-go-back me-3" data-ajax ='{"key": "remove-helper-invite", "value": true}' data-track-click='{"key":"helper invite", "attributes":{"type": "in presentation", "answer": "no"}}' data-bs-dismiss="alert" aria-label="Close" type="button">❌ non</button>
                    
                    <button class="js-ajax-data btn btn-validate me-2" data-ajax ='{"key": "remove-helper-invite", "value": true}' data-track-click='{"key":"helper invite", "attributes":{"type": "in presentation", "answer": "yes"}}' data-bs-toggle="modal" data-bs-target="#pp-edit-helper-level-2" type="button" >✔️ oui</button>

                </div>

            </div>

        </div>


        {# manage this notification-invitation appearance after user make a choice : see update_presentation_settings.html.twig #}
        <script></script>


        <style>

            .notif-help{
                background-color: #e6f6ef;
            }

            .notif-help .img-container{
                width: 130px;
            }

            @media screen and (max-width: 580px) {

                .notif-help .img-container{
                    width: 60px;
                }

                .notif-help .text-container h5{
                    font-size: 1.05rem;
                }

            }

        </style>
    
    {% endblock %}
        
{% endembed %}

{# Modal box containing some temporary advices #}
{% include 'project_presentation/edit/_helper_level_2.html.twig' %}
