{% extends "base.html.twig" %}

{% block title %}
  Votre commande
{% endblock %}

{% block stylesheets %}

    <link href="/css/stripe_checkout.css" rel="stylesheet">

{% endblock %}

{% block body %}


  <div class="page-container container d-flex justify-content-center flex-column px-2 px-md-3">

    <div class="text-center">

      <h4 class="mb-3">Paiement</h4>

      <div class="">

        {# {{purchase.getContentItem('objectsToPay')}} #}
        
      </div>

    </div>

    <!-- Display a payment form -->

    <form id="payment-form">

      <div id="payment-element">

        <!--Stripe.js injects here the Payment Element-->

      </div>

      <button id="submit" class="">

        <div class="spinner hidden" id="spinner"></div>

        <span id="button-text">Payer</span>

      </button>

      <div id="payment-message" class="hidden"></div>

    </form>

  </div>


  <script src="https://js.stripe.com/v3/"></script>

  <script>

    const clientSecret = '{{ clientSecret }}';
    const stripePublicKey = '{{ stripePublicKey }}';
    const redirectAfterSuccessURL = '{{ url("purchase_payment_success") }}'


  </script>

  <script src="/js/stripe_checkout.js"></script>

  
  
{% endblock %}