{% extends "base.html.twig" %}

{% block title %}
  Donation réussie !
{% endblock %}

{% block body %}

  <h1 class="text-center mt-5 pt-md-5 mb-4">✅ Don effectué</h1>

  <h2 class="text-center mt-5 mb-4">Merci pour votre don :)</h2>

  <a href="{{path("homepage")}}"><h5 class="h4 text-center mt-5 mb-4">Retourner à l'accueil du site</h5></a>
 
{% endblock %}