                                               
    
    <!-- Documents Icon Display -->

        <div class="row h-100">
            
            {% set fileExtension = document.fileName | split('.') | last %}

            <!--Document representation with title and file extension (vertical text) -->

            <div class="pp-document-file-extension-container {{ "file-" ~ fileExtension }} col-3">

                <!-- displaying file extension -->
                
                <div class="pp-document-file-extension">
                    {{ fileExtension | upper }}
                </div>

            </div> 

            <!--Document Title (as provided by user) -->

            <div class="pp-document-title col-9 px-2">

                {{ document.title | striptags | length > 52 ? document.title | striptags | slice(0, 49) ~ '...' : document.title | striptags }}

            </div>

    </div> 

{# Some Styles #}

<style>
    
    .pp-document-file-extension-container
    {

        display: flex;

        align-items: center;

        padding: 0 0 0 12px;

    }

    .pp-document-file-extension
    {  

        color: white;

        font-size: 22.4px;
        font-weight: bold;

        word-break:break-all; 
        width:0px

    }



    .pp-document-title
    {

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight : bold;

        text-transform:uppercase;

        font-size: 14px;

        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto;

    }

    /* Different background-colors depending on file extensions */

    .file-pdf{

        background-color: #e74c3c

    }

    .file-doc .file-docx{

        background-color: #295391;

    }

    .file-xls{

        background-color: #2d7930;

    }

    .file-ppt{

        background-color: #e28a5c;

    }

    .file-rtf{

        background-color: #3746a8;

    }

    .file-odt{

        background-color: #1e3a57;

    }

    .file-epub{

        background-color: #021230;

    }
  

    @media screen and (max-width: 580px) {

        .documentRepresentation
        {
            width:180px; 
            height:130px;
        }

        .pp-document-title
        {

            font-size: 13px;

        }

    }

</style>