

<div class="fs-15 p-1 p-md-3">

   <p class="mb-3">&#x25cf; Présenter des images et des vidéos est une méthode rapide et efficace pour transmettre vos idées.</p>

    <p class="mb-3">&#x25cf; Taille d'image recommandée : <b> au moins 800px &times 400px (une image deux fois plus longue que large).</b> </p>

    <p class="mb-3">&#x25cf; Nombre maximal d'images et vidéos : <b>8</b></p>

</div>
 