<!-- sortable plugin to reorder elements (exemple : reorder editor's presentations selection ) -->

<script src="/js/sortable/sortable.min.js"></script>

<!-- jQuerySupport for above sortable plugin -->

<script src="/js/sortable/jquery-sortable.js"></script>

<script>
  
  $(document).ready(function(){

  var domain = "{{url('homepage')}}";
  var app_env = '{{ app.request.server.get("APP_ENV") }}';

  function randomColor(){

    var colors = (['#884394', '#3f51b5', '#009688', '#42a346', '#ff9800', '#2d66ba', '#a58f4f', '#129d90', '#428392', '#263b78', '#878273', '#705c20', '#d24040', '#c1944e']);

    return colors[Math.floor(Math.random()*colors.length)];

  }

  function formatKeywords(keywordsString){

    if(keywordsString != ''){
      return '#'+keywordsString.replace(/\s/g, '').replace(/,/g, ' #');
    }

    return keywordsString;    

  }
  
  const search = instantsearch({
    indexName: app_env+'_presentation_bases',
    searchClient: algoliasearch(
      'Z7NO8ZLFH4',
      'b2d9ba779ea94f1c5f81d1b5751e267e'
    ),
  });

   
  search.on('render', function () {   
    
    $('.ais-Hits-list').sortable({

      animation: 150,
      group: {
        name:'results-to-selection',
      },

      ghostClass: 'blue-background-class',

      filter: ".disabled",

      onMove: function (evt) {
        return evt.related.className.indexOf('disabled') === -1;

      },

      // drag and drop implies elements positions updates (ajax call)

      onEnd: function (evt) {

        // changing source item tag (otherwise it is removed by algolia when redoing a search)
        //$(evt.item).replaceWith($('<lol>').append($(evt.item).contents()).find("a").removeAttr("href").attr("tit","tat"));

         // an array storing elements id position

          var elementsPositions = [];

      },


    });

  });


  

  search.addWidgets([

    instantsearch.widgets.searchBox({

      container: '#searchbox',

    }),

    instantsearch.widgets.refinementList({

      container: '#filters-list',
      attribute: 'categories.descriptionFr',
      operator: 'and',
      
    }),

    instantsearch.widgets.hits({

      container: '#hits',

      templates: { /* Twig verbatim is used to avoid curly brackets (braces) conflicts */

        
        item:function(data) {

          output = '<a href="'+domain+data.stringId+'" class="hit-link-wrap">';

          var imgContent;

            if (data.cache && data.cache.thumbnailAddress){

              imgContent = '<img class="hit-img" src="'+data.cache.thumbnailAddress+'" align="left" alt="Thumbnail" />';

            }

            else {

              imgContent= '<div class="avatar-square-rounded avatar-80 mx-auto" style="background-color:'+randomColor()+';"><span class="avatar-initial avatar-initial-80">'+data.goal.charAt(0).toUpperCase()+'</span></div>';
            
            }

          output += '<div class="hit-img-ctn">'+imgContent+'</div>';

          output += '<div class="hit-txt-ctn"><div class="hit-flex-ctn">'
            
          output += '<div class="hit-goal">'+data._highlightResult.goal.value+'</div>';

          var titleContent = '';
          if (data.title){titleContent = data._highlightResult.title.value;}
          output += '<div class="hit-title">'+titleContent+'</div>';

          var keywordsContent = '';
          if (data.keywords){keywordsContent = data._highlightResult.keywords.value;}
          output += '<div class="hit-keywords">'+formatKeywords(keywordsContent)+'</div>';

          output += '</div></div></a>'; //end of text container + link wrapper
          
          return output


        },


        empty: '<div>Désolé, aucun résultat n\'a été trouvé pour {% verbatim %}{{ query }}. {% endverbatim %}</div>.'

      },
      
    }),

    instantsearch.widgets.pagination({
      container: '#pagination',
    }),

    instantsearch.widgets.configure({
      hitsPerPage: 8
    }),

  ]);
  
  search.start();

});

</script>

 
