<!-- sortable plugin to reorder elements (exemple : reorder editor's presentations selection ) -->

<script src="/js/sortable/sortable.min.js"></script>

<!-- jQuerySupport for above sortable plugin -->

<script src="/js/sortable/jquery-sortable.js"></script>

<script>
  
  $(document).ready(function(){

  var domain = "{{url('homepage')}}";
  var app_env = '{{ app.request.server.get("APP_ENV") }}';
  
  const search = instantsearch({
    indexName: app_env+'_presentation_bases',
    searchClient: algoliasearch(
      'Z7NO8ZLFH4',
      'b2d9ba779ea94f1c5f81d1b5751e267e'
    ),
  });

   
  search.on('render', function () {   
    
    $('.ais-Hits-list').sortable({

      animation: 150,
      group: {
        name:'results-to-selection',
      },

      ghostClass: 'blue-background-class',

      filter: ".disabled",

      onMove: function (evt) {
        return evt.related.className.indexOf('disabled') === -1;

      },

      // drag and drop implies elements positions updates (ajax call)

      onEnd: function (evt) {

        // changing source item tag (otherwise it is removed by algolia when redoing a search)
        //$(evt.item).replaceWith($('<lol>').append($(evt.item).contents()).find("a").removeAttr("href").attr("tit","tat"));

         // an array storing elements id position

          var elementsPositions = [];

      },


    });

  });


  

  search.addWidgets([
    instantsearch.widgets.searchBox({
      container: '#searchbox',
    }),
    instantsearch.widgets.clearRefinements({
      container: '#clear-refinements',
    }),
    instantsearch.widgets.refinementList({
      container: '#brand-list',
      attribute: 'categories.descriptionFr',
      operator: 'and',
    }),
    instantsearch.widgets.hits({
      container: '#hits',
      templates: { /* Twig verbatim is used to avoid curly brackets (braces) conflicts */
        item: `{% verbatim %}<a href="`+domain+`{{#helpers.highlight}}{ "attribute": "stringId" }{{/helpers.highlight}}" class="text-decoration-none ">{% endverbatim %}

          <div>

            {% verbatim %}

              {{#cache.thumbnailAddress}}

                <div class="hit-img-ctn">

                  <img class="hit-img" src="{{cache.thumbnailAddress}}" align="left" alt="Thumbnail" />

                </div>

              {{/cache.thumbnailAddress}}

            <div class="hit-goal">
              {{#helpers.highlight}}{ "attribute": "goal" }{{/helpers.highlight}}
            </div>

            <div class="hit-title">
              {{#helpers.highlight}}{ "attribute": "title" }{{/helpers.highlight}}
            </div>

          </div></a>
        {% endverbatim %}`,
        empty: '<div>Désolé, aucun résultat n\'a été trouvé pour {% verbatim %}{{ query }}. {% endverbatim %}</div>.'
      },
    }),
    instantsearch.widgets.pagination({
      container: '#pagination',
    }),
    instantsearch.widgets.configure({
      hitsPerPage: 8
    }),
  ]);
  
  search.start();

});

</script>

 
