{% extends 'base.html.twig' %}

{% block title %}Experimensearch{% endblock %}

{% block stylesheets %}

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"
    />

    <link
      rel="stylesheet"
      href="/templates/search/_app.css"
    />



{% endblock %}


{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
    
{% endblock %}

{% block body %}


  <div class="ais-InstantSearch">

    <div class="left-panel">

      <div id="clear-refinements"></div>

      <h2>Brands</h2>

      <div id="brand-list"></div>

    </div>

    <div class="right-panel">

      <div id="searchbox" class="ais-SearchBox"></div>

      <div id="hits"></div>

      <div id="pagination"></div>

    </div>
    
  </div>

  {% include "/search/_js.html.twig" %}
  {% include "/search/_css.html.twig" %}
  
{% endblock %}
