{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block stylesheets %}

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"
    />

    <link href="/css/search_page.css" rel="stylesheet">

{% endblock %}


{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
    
{% endblock %}

{% block body %}

  <div class="ais-InstantSearch mt-3 mb-5">

    <div class="left-panel">

      <div id="clear-refinements"></div>

      <h2 class="filters-categories-title">Catégories</h2>

      <div id="filters-list"></div>

    </div>

    <div class="right-panel">

      <div id="searchbox" class="ais-SearchBox"></div>

      <div id="hits"></div>

      <div id="pagination"></div>

    </div>
    
  </div>

  {% include "/search/_js.html.twig" %}
 
{% endblock %}
