{% extends 'base.html.twig' %}

{% block title %}Hello AIPresentationHelperController!{% endblock %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}


{% block body %}

{# Font Awesome CDN inclusion #}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container px-0 px-md-2 my-4 my-md-5">

    {% if generalAdvice is defined and generalAdvice is not null %}
    
        {{generalAdvice | raw}}

    {% else %}

        Veuillez utiliser l'assistant de présentation de projet avant de vous rendre sur cette page.
    
    {% endif %}

    {# Try again button #}
    
    <div class="mt-4 mt-md-5 text-center"><a href="{{path ('ai_presentation_helper_origin')}}"><button class="btn btn-outline-success">Réessayer l'outil gratuitement</button></a></div>


  {#   <div class="row">

        <div class="col-md-6">

            <h2>Your Conditions</h2>

            <textarea id="user-textarea" class="form-control" rows="4"></textarea>

            <button id="send-button" class="btn btn-primary mt-2">Send</button>

        </div>

        <div class="col-md-6">

            <h2>Coach's Response</h2>

            <textarea id="ai-assistant" class="form-control" rows="4" readonly></textarea>

        </div>

    </div> #}

</div>

{# <script>
    $(document).ready(function () {
        $('#send-button').click(function () {
            var userMessage = $('#user-textarea').val();
            $.ajax({
                type: "POST",
                url: "{{path('ajax_ai_presentation_helper_assistant')}}",
                data: { message: userMessage },
                success: function (response) {
                    $('#ai-assistant').val(response.data);
                }
            });
        });
    });
</script> #}


<style>

    .generalAdvice h2, .generalAdvice h3, .generalAdvice h4 {

        margin-bottom: 32px;
        text-align: center;

    }

    .generalAdvice ul {

        column-count: 2;
        column-gap: 55px;
        list-style-type: none;
        font-size: 1.15em;

    }

    .generalAdvice li {

        margin-bottom: 10px;
        break-inside: avoid;
        line-height: 1.25;

    }

    .generalAdvice li .fas {
        margin-right: 5px;
    }

    .generalAdvice p {

        font-size: 1.15em;
	    text-align: center;

    }

    
    @media screen and (max-width: 580px) {

        .generalAdvice h2 {

            font-weight: bold;

        }

        .generalAdvice ul {

            column-count: unset;
            padding-left: 15px;
            font-size: 1.1em;

        }

        .generalAdvice li {
            margin-bottom: 25px;
        }



    }



</style>



{% endblock %}
