{% extends 'base.html.twig' %}

{% block title %}Hello AIPresentationHelperController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container my-5">

    {% if generalAdvice is defined %}
    
        {{generalAdvice | raw}}
    
    {% endif %}

    <div class="row">

        <div class="col-md-6">

            <h2>Your Conditions</h2>

            <textarea id="user-textarea" class="form-control" rows="4"></textarea>

            <button id="send-button" class="btn btn-primary mt-2">Send</button>

        </div>

        <div class="col-md-6">

            <h2>Coach's Response</h2>

            <textarea id="ai-assistant" class="form-control" rows="4" readonly></textarea>

        </div>

    </div>

</div>

<script>
    $(document).ready(function () {
        $('#send-button').click(function () {
            var userMessage = $('#user-textarea').val();
            $.ajax({
                type: "POST",
                url: "{{path('ajax_ai_presentation_helper_assistant')}}",
                data: { message: userMessage },
                success: function (response) {
                    $('#ai-assistant').val(response.data);
                }
            });
        });
    });
</script>






{% endblock %}
