{% extends 'base.html.twig' %}

{% block title %}Hello AIPresentationHelperController!{% endblock %}

{% block body %}

<div class="">

    <h1>Conseils Personnalisés pour Présenter son Projet</h1>

    <div class="gdpr">

        <p>Nous accordons une priorité absolue à la protection de vos données personnelles.</p>

        <div class="">En savoir plus</div>

        <div class="">
        
            <p>Toutes les données que nous collectons sont <b><u>anonymisées</u></b> et <b><u>conservées sur nos serveurs au maximum 7 jours</u></b> à des fins exclusives d'amélioration de notre produit.</p>

            <p>En plus de notre apport, ce service utilise ChatGPT, un agent de conversation fournit par la société <a href="https://openai.com/">OpenAI</a>. Notre service envoie de manière totalement anonymisée des données à OpenAI pour utiliser ChatGPT. Par conséquent OpenAI est susceptible de collecter des données qui lui sont transmises de manière totalement  anonymisées sur ces serveurs.</p>
        
        </div>
    
    </div>

    <div class="advices">

        <h3>Ce coach combine notre expérience en présentation de projets et une intelligence ertificielle puissante</h3>
    
        <div>L'intelligence artificielle est puissante, elle est capable d'utiliser les détails que vous voulez pour obtenir une meilleure présentation.</div>
        
    </div>

    <div class="content"></div>

    <div class="subscribe-to-propon"></div>

    <div class="feedback"></div>

    <p>🔧 ChatGPT inside</p>

    <div class="">AI Coach est un service gratuit fournit par <span class="text-success">propon.org</span>, le site de présentation de projets.</div>

    


</div>

<style>

</style>



{% endblock %}
