

<div class="structure-form">

    <div class="form-title">Ajouter une adresse web</div>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-validate">✔️ Valider</button>

    {{ form_end(form) }}


</div>

<style>

.structure-form{
    border: 2px dashed #9292b4;
    border-radius: 5px;
    margin: 5px 20px 20px 20px;;
    padding: 15px;
}

.structure-form .form-title{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.structure-form label{
    font-size: 1em !important;
}



</style>