<!-- Project Keywords Presentation -->

{% if presentation.keywords is not empty %}

    <div class="pp-keywords text-left" >

        <!-- Project Keywords Display -->

        <span class="d-inline-block me-2">

            {% set keywords = presentation.keywords | replace({" " : ""}) | split(',') %}

            {% for keyword in keywords %}

                #{{keyword | first | capitalize ~ keyword[1:] }}

            {% endfor %}

        </span>
       
        <!-- Edit Project Keywords Button -->

        {% if userPresenter %}

            <a class="pp-edition-mode ms-3 ms-md-0" href="{{ path('select_categories_keywords', {'stringId': presentation.stringId}) }}">

                <button class="btn btn-light btn-sm mb-2">Éditer</button>
                
            </a>

        {% endif %}


    </div>
  
    <!-- Keywords Styles -->

    <style>

        .pp-keywords{

            font-size: 17px;
            font-weight: bold;
            color:#065fd4;
        }

        @media screen and (max-width: 580px) {

            .pp-keywords{

                font-size: 15px;
                font-weight:normal;

            }

        }

    </style>

{% elseif userPresenter and presentation.categories | length == 0  %} {# no keywords (+ no categories), we insert a placeholder #}

    <a class="pp-edition-mode text-decoration-none ps-md-0 w-100 text-body" href="{{path('select_categories_keywords', {'stringId': presentation.stringId})}}">
        
        <div id="keywordsPlaceholder" class="d-flex align-items-center">

            <img class="keywordsIcon img-fluid" src="{{ asset('flat_hashtag.svg', 'pp_wysiwyg') }}" height="25" width="25" alt="add keywords icon" >

            <span class="">Catégorie & Mots-clés</span>

        </div>

    </a>

    <style>

		#keywordsPlaceholder{

            width: 400px;
	
            padding: 5px 10px;
            margin-top: 14px;

            border: 1px solid rgb(221, 221, 177);

            font-size: 22px;
            font-weight: bold;

            cursor: pointer;

		}

        
        .keywordsIcon {

            margin-right : 15px;
            
        }

		#keywordsPlaceholder:hover {
			
			background-color: lavender;
		}


		@media screen and (max-width: 580px) {

			#keywordsPlaceholder{

                width:100%;
                font-size: 16px;
                padding-left: 12px;
                margin-bottom: 5px;

			}

                
            .keywordsIcon {

                height: 20px;
                width: 20px;
                
            }

		}

    </style>
    

{% endif %}