<!-- Project Title Presentation -->

{% if presentation.title is not empty or userPresenter %}

    <!-- Structure Container -->

    <div class="pp-title-container position-relative">

        <!-- Project Title Display -->

        <h3 id="" class="pp-title editable-field" data-edit='{"entity": "PPBase", "property": "title", "id": {{presentation.id}} }' data-text="Titre du Projet" >{{presentation.title is not empty ? presentation.title[:1] | upper ~ presentation.title[1:]}}</h3>

        {% if presentation.title is empty and userPresenter %} {# a strikethrough placeholder is displayed on contenteditable #}

        <div class="line-through"></div>

            

            <script>

                $(document).ready(function(){

                    $(".pp-title").on('click', function (){

                        $('.line-through').remove();

                    });

                });

            </script>

            <style>

                .line-through{
                    position: absolute;
                    width: 203px;
                    height: 2px;
                    top: 40%;
                    background-color: #397ee7;
                }

                @media screen and (max-width: 580px) {

                    .line-through{
                        width: 150px;
                    }

                }


            </style>

        {% endif %}

    </div>

{% endif %}

    <!-- Some Styles -->

    <style>

        .pp-title{

            display: inline-block;
            position: relative;

            padding-top: 0px;
            margin-bottom:13px;

            font-family: Tahoma, Geneva, Verdana, sans-serif;
            color:navy;
            font-weight:bold;

        }


        @media screen and (max-width: 580px) {

            .pp-title{

                font-size: 22px;
                font-weight:normal;

                padding-top: 2px;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;

                margin-bottom: 10px;
            }

        }

    </style>
