<!-- Project Title Presentation -->


{% if presentation.title is not empty %}

    <!-- Structure Container -->

    <div class="">

        <!-- Project Title Display -->

        <h3 class="pp-title mb-0" data-edit='{"entity": "PPBase", "property": "title", "id": {{presentation.id}} }'>{{presentation.title[:1] | upper ~ presentation.title[1:]}}</h3>

    </div>

    <!-- Some Styles -->

    <style>

        .pp-title{

            display: inline-block;

            position: relative;

            color:navy !important;
            font-family: Tahoma, Geneva, Verdana, sans-serif;

            padding-top: 0px;

            margin-bottom:13px !important;

            font-weight:bold;

        }


        @media screen and (max-width: 580px) {

            .pp-title{

                font-size: 22px;
                font-weight:normal;

                padding-top: 2px;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;

                margin-bottom: 10px !important;
            }

        }

    </style>

{% elseif userPresenter %} {# No title, we use a placeholder and display a form on click #}

    <a class="pp-edition-mode">

        <div class="title-placeholder">
            <div class="line-through"></div>
            Titre du Projet
        </div>
        
    </a>

    <script>

        $(document).ready(function(){

            $(".title-placeholder").on('click', function (){

                // replacing title placeholder with "create title form"
                
                $(this).html($('form[name="title"]'));
                $('form[name="title"]').show();
                $(".title-placeholder").addClass("active"); // css flag for input is displayed
                $(".title-placeholder").off();
                $("#title_title").focus();

            });

        });

    </script>




    <style>

        .title-placeholder{

            display: inline-block;
            position: relative;
            width: 400px;
            margin-bottom: 13px;

            color: #397ee7;
            font-size: 24px;
            font-weight: bold;

            cursor: pointer;
            
        }

        .line-through{
            position: absolute;
            width: 180px;
            height: 2px;
            top:53%;
            background-color: #397ee7;
        }

        .title-placeholder:hover {

            background-color: rgb(237, 237, 248);
        }

        .title-placeholder.active{
            width: 500px;
        }

        .title-placeholder.active:hover {

            background-color: unset;
        }

        @media screen and (max-width: 580px) {

            .title-placeholder{

                font-size: 20px;
                margin-bottom: 14px;

                width: 100%;

            }

            .title-placeholder.active{
                width: 100%;
            }

            .line-through{
                width: 150px;
            }

        }


    </style>

{% endif %}