{% embed "project_presentation/edit/update_element_skeleton.html.twig" %}

    {% block title %}Ajouter un besoin{% endblock %}

    {% block mainContentTitle %}<span class="text-center fs-2 my-5">Ajouter un besoin</span>{% endblock %}

    {% block collapsibleMoreInfo %}{% endblock %}

    {% block mainContent %}

        <div class="text-center">{% include "project_presentation/edit/needs/_form.html.twig" %}</div>

    {% endblock %}

    {% block seeResultAnchor %}

        needs
        
    {% endblock %}

    {% block actionButtons %}{% endblock %}


{% endembed %}