<!DOCTYPE html>

<html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Plateforme de présentation de projets prévus ou en cours. Présentez gratuitement votre projet, ou recherchez des projets.">

    <meta name="keywords" content="présentation de projets, page de projet, cartes de visites de projets">
    
    <link rel="icon" 
      type="image/png" 
      href="{{ asset('website_brand/favicon16.png', 'icons')}}">

    <title>{% block title %}Bienvenue sur Propon{% endblock %}</title>

    {# Bootstrap 5 css #}

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}

    {# Bootstrap 5 javascript #}

    <script src="/js/bootstrap.js"></script>

    {# jquery javascript #}

    <script src="/js/jquery-3.6.0.js"></script>

    {# Hotjar Tracking Code for Propon (only for non admins and prod environment)#}

    {% if not is_granted('ROLE_ADMIN') and app.request.server.get("APP_ENV") == 'prod' %}

        <script>
            
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:2214943,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

        </script>
    
    {% endif %}


    {% block javascripts %}

    {% endblock %}

</head>

<body>

    {# Header Navbar #}

    {% include "_partials/header_navbar.html.twig" %}

    <!--Sidebar & Main Content Container -->

    <div class="container-fluid"> 

        <div class="row" style="min-height:500px;">

            <!-- Sidebar -->
            
            {% block sidebar %}{% endblock %}
            
            <!-- Main Body Content -->

            <div class="col bg-light">

                {# search experience #}

                {% include "_partials/search_experience.html.twig" %}

                <!-- Flash Messages Display (see app.css) -->

                <div id="flash-messages" class="">

                    {% for label, messages in app.flashes %}
                    
                        <div class="flash-message alert alert-{{label}}">
                    
                            {% for message in messages %}
                    
                            <p class="p-0 m-0 text-center">{{message | raw}}</p>
                    
                            {% endfor %}
                    
                        </div>
                
                    {% endfor %}

                </div>
            
                <!-- End of Flash Messages Display -->

                <div id="main-body-container">

                    {% block body %}{% endblock %}
                    
                </div>
                
            </div>

        </div>

    </div>  


    {# Footer #}

    {% block footer %}
    
        {% include "_partials/footer.html.twig" %}
    
    {% endblock %}


</body>

</html>