<!DOCTYPE html>

<html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bienvenue sur le Projet des Projets{% endblock %}</title>

    {# Bootstrap 5 css #}

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}

    {# Bootstrap 5 javascript #}

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.6.0.js"></script>

    {% block javascripts %}

    {% endblock %}

</head>

<body>

    {# Header Navbar #}

    {% include "_partials/header_navbar.html.twig" %}


    <!-- Flash Messages Display -->

    {% for label, messages in app.flashes %}

    <div class="flashMessage d-flex align-items-center alert alert-{{label}} mt-3 h5 font-weight-bold">

        {% for message in messages %}

        <p class=" p-0 m-0">{{message | raw}}</p>

        {% endfor %}

    </div>

    {% endfor %}

    <!-- End of Flash Messages Display -->


    <!--Sidebar & Main Content Container -->

     
    <div class="container-fluid"> 

        <div class="row" style="min-height:500px;">

            {% block sidebar %}{% endblock %}

            <div class="col bg-light">
                
                {% block body %}{% endblock %}
            
            </div>

        </div>

    </div>  

   


    {# Footer #}

    {% include "_partials/footer.html.twig" %}

</body>

</html>