{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

<div class="container">

        <!-- Form Display -->

        {{ form_start(form) }}

        <div class="col-md-5 mt-4 mb-5 ps-0">


            {{ form_widget(form) }}


        </div>


        <!-- Action Buttons -->

        <div>

            <button class="btn btn-success btn-lg sharp me-2">Valider</button>


        </div>

        {{ form_end(form) }}

    </div>

</div>

{% endblock %}