{# This template is a blank page to test some new functionalities -- see HomeController #}

{% extends 'base.html.twig' %}

{% block title %}Test Something{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

  <div class="container">

    
  </div>

    

{% endblock %}