{% extends 'base.html.twig' %}

{% block title %}Geos{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

<div class="container mt-5">

  	

<div class="ais-GeoSearch">
  <div class="ais-GeoSearch-map">
    <!-- Map element here -->
    <div id="maps"></div>
  </div>
  <div class="ais-GeoSearch-control">
    <label class="ais-GeoSearch-label">
      <input class="ais-GeoSearch-input" type="checkbox">
      Search as I move the map
    </label>
  </div>
  <button class="ais-GeoSearch-reset">
    Clear the map refinement
  </button>
</div>


      

  <style>

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }
    
    .ais-GeoSearch-map {
      height: 500px; /* You can change this height */
    }
    
    
  </style>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk"></script>

  <script>


  const searchClient = algoliasearch(

    'latency',
    '6be0576ff61c053d5f9a3225e2a90f76'
      
  );

  const search = instantsearch({

    indexName: 'airports',
    searchClient,

  });

  search.addWidgets([

    instantsearch.widgets.searchBox({
      container: '#searchbox',
    }),

    instantsearch.widgets.geoSearch({
      container: '#maps',
      googleReference: window.google,
      initialZoom: 4,
      initialPosition: {
        lat: 48.864716,
        lng: 2.349014,
      },
      mapOptions: {
        mapTypeId: window.google.maps.MapTypeId.SATELLITE,
      },

        
    })



  ]);

  search.start();


  </script>




{% endblock %}