{% extends 'base.html.twig' %}

{% block title %}Geos{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}


    


{% block body %}


<div class="container mt-5">

  	

<div class="ais-GeoSearch">
  <div class="ais-GeoSearch-map">
    <!-- Map element here -->
    <div id="maps"></div>
  </div>
  <div class="ais-GeoSearch-control">
    <label class="ais-GeoSearch-label">
      <input class="ais-GeoSearch-input" type="checkbox">
      Search as I move the map
    </label>
  </div>
  <button class="ais-GeoSearch-reset">
    Clear the map refinement
  </button>
</div>


      

  <style>

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }
    
    .ais-GeoSearch-map {
      height: 500px; /* You can change this height */
    }

    .infoBox{
      background-color: white;
      padding: 7px;
      border: 1px solid rgb(162, 162, 255);
      border-radius: 3px;
      font-size: 15px;
    }
    
    
  </style>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk"></script>

  
  <script src="/js/infobox.js"></script>


  <script>

    
  var o = new InfoBox({/*options*/});

  const searchClient = algoliasearch(

    'Z7NO8ZLFH4',
    'b2d9ba779ea94f1c5f81d1b5751e267e'
      
  );

  const search = instantsearch({

    indexName: 'prod_presentation_bases',
    searchClient,

  });

  search.addWidgets([

    instantsearch.widgets.searchBox({
      container: '#searchbox',
    }),

    instantsearch.widgets.geoSearch({
      container: '#maps',
      googleReference: window.google,
      initialZoom: 4,
      initialPosition: {
        lat: 47,
        lng: 3,
      },
      mapOptions: {
        mapTypeId: window.google.maps.MapTypeId.SATELLITE,
      },

      builtInMarker: {
        createOptions(item) {
          return {
            title: item.name,
          };
        },
        events: {
          click: function(e) {
            o.getMap() && o.close(), o.setContent('<a href="https://www.propon.org/'+e.item.stringId+'" data-id="'+e.item.id+'" target="_blank"><div>' + e.item.goal+ '</div></a>'), o.open(e.map, e.marker)
          }
        },
      },



      




        
    })



  ]);

  search.start();


    


  </script>

 

{% endblock %}