{% extends 'base.html.twig' %}

{% block title %}Geos{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}


    


{% block body %}


<div class="container mt-5">

  	

<div class="ais-GeoSearch">
  <div class="ais-GeoSearch-map">
    <!-- Map element here -->
    <div id="maps"></div>
  </div>
  <div class="ais-GeoSearch-control">
    <label class="ais-GeoSearch-label">
      <input class="ais-GeoSearch-input" type="checkbox">
      Search as I move the map
    </label>
  </div>
  <button class="ais-GeoSearch-reset">
    Clear the map refinement
  </button>
</div>


      

  <style>

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }
    
    .ais-GeoSearch-map {
      height: 500px; /* You can change this height */
    }

    .infoBox{
      background-color: white;
      padding: 17px 7px;
      border: 1px solid rgb(162, 162, 255);
      border-radius: 3px;
      font-size: 15px;
      width: 286px;
    }

    .infoBox a div{
     display: flex;
     flex-direction: column;
    }

    .infoBox a div .img-container{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 10px;
    }

    .infoBox a div .img-container img{
     max-width: 110px;
     max-height: 110px;
     border-radius: 3px;
    }

    .infoBox a .avatar-square-rounded{ /* when no thumbnail available */
     margin-bottom: 10px;
    }

    .infoBox a div .goal-container{
     padding-left: 10px;
    }

    .infoBox a div .text-container{
     padding-left: 10px;
    }

    
    
  </style>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk"></script>

  
  <script src="/js/infobox.js"></script>


  <script>

    
  var o = new InfoBox({/*options*/});

  const searchClient = algoliasearch(

    'Z7NO8ZLFH4',
    'b2d9ba779ea94f1c5f81d1b5751e267e'
      
  );

  const search = instantsearch({

    indexName: 'prod_presentation_bases',
    searchClient,

  });

  search.addWidgets([

    instantsearch.widgets.searchBox({
      container: '#searchbox',
    }),

    instantsearch.widgets.geoSearch({
      container: '#maps',
      googleReference: window.google,
      initialZoom: 4,
      initialPosition: {
        lat: 47,
        lng: 3,
      },
      mapOptions: {
        mapTypeId: window.google.maps.MapTypeId.SATELLITE,
      },

      builtInMarker: {

        createOptions(item) {

          return {

            title: item.name,

          };

        },

        events: {

          click: function(e) {

            console.log(e.item);

            content = '<a class="link-wrapper" href="https://www.propon.org/'+e.item.stringId+'" data-id="'+e.item.id+'" target="_blank"><div>';

            //preparing card's thumbnail
            var imgContent;

            //if we have an image path we use it
            if (e.item.cache && e.item.cache.thumbnailAddress){

              imgContent = '<div class="img-container"><img class="infobox-img" src="'+e.item.cache.thumbnailAddress+'" align="left" alt="Thumbnail" /></div>';

            }

            else {//creating a default thumbnail

              imgContent= '<div class="avatar-square-rounded avatar-80 mx-auto" style="background-color:#428392;"><span class="avatar-initial avatar-initial-80">'+e.item.goal.charAt(0).toUpperCase()+'</span></div>';
            
            }

            //card's image container + feeding it
            content += imgContent;


            //text container
            var textContent='<div class="text-container">';

            //presentation goal
            textContent += '<div class="goal-container">'+e.item.goal+'</div>';

            //presentation title
            if (e.item.title){
              textContent += '<div class="title-container">'+ e.item.title+'</div>';
            }

            textContent+='</div>'
          
            
            content += textContent+'</div></a>'; 

            o.getMap() && o.close(), o.setContent(content), o.open(e.map, e.marker)

          },

        },

      },



      




        
    })



  ]);

  search.start();


    


  </script>

 

{% endblock %}