{% extends 'base.html.twig' %}

{% block title %}One Shot Controller{% endblock %}

{% block body %}

    <div class="container">

        Action effectuée. 
        
        <br>
        <br>
        
        Si cette action est effectuée sur le remote, penser à la supprimer ensuite en local.
        
    </div>


{% endblock %}
