{% extends 'base.html.twig' %}

{% block title %}One Shot Controller{% endblock %}

{% block body %}

    <div class="container pt-4">

        Action effectuée. 
                
    </div>


{% endblock %}
