<div>

    <div>Un projet que vous suivez a publié des nouvelles.</div>

    </br>

    <div>L'objectif de ce projet est "{{presentation.goal}}".</div>

    </br>

    <div>

        Pour voir cette nouvelle, <a href="{{ url ('show_presentation', {"stringId": presentation.stringId}) }}#news-struct-container">cliquez ici</a>.

    </div>

    </br>
    
    <div>
        
        Pour toute question, remarque, ou suggestion, <a href="{{ url ('contact_website') }}">cliquez ici</a>.
    
    </div>

    </br>

    <div>

        Merci d'utiliser Propon.

    </div>

</div>