<p>
    Les donations sont maintenant activées sur votre page Propon accessible à cette adresse : <a href="{{address}}" target="_blank" rel="noopener noreferrer">{{address}}</a>

</p>

<p>

    Vous pouvez partager cette adresse pour faire connaître votre projet et informer de possibles donateurs.

</p>

<p>

    Bon courage pour la réussite de votre projet !

</p>
 
 
<p>L'équipe Propon.</p>
 