<p>
    La présentation de votre projet a été validée par un membre de notre équipe.
</p>

<p>

    L'adresse de sa page de présentation est : <a href="{{address}}" target="_blank" rel="noopener noreferrer">{{address}}</a>

</p>

<p>

    Vous pouvez partager cette adresse sur des forums et des réseaux sociaux afin de faire rapidement connaître votre projet et trouver des participants si vous en recherchez.

</p>

<p>

    Nous vous remercions d'avoir utilisé notre service gratuit. S'il vous a apporté satisfaction, une mention sur un de vos éventuels réseaux sociaux nous aiderait beaucoup à faire connaître le site. Si vous avez des suggestions d'amélioration du site, nous sommes aussi très demandeurs pour l'améliorer.

</p>

<p>

    Bonne chance pour la réussite de votre projet !

</p>
 
 
<p>L'équipe Propon.</p>
 