<p>
    La présentation de votre projet a été validée par un membre de notre équipe.
</p>

<p>

    L'adresse de la page de présentation est : <a href="{{address}}" target="_blank" rel="noopener noreferrer">{{address}}</a>

</p>

<p>

    Vous pouvez partager cette adresse sur des forums ou des réseaux sociaux afin de faire connaître votre projet de manière résumée et trouver des participants si vous en recherchez.

</p>

<p>

    Nous vous remercions d'avoir utilisé notre service gratuit. S'il vous a apporté satisfaction, on espère que vous nous aiderez à le faire connaître, par exemple avec une mention sur un de vos éventuels réseaux sociaux. Nous vous en remercions par avance. Si vous avez des suggestions d'amélioration du site, nous sommes aussi très demandeurs pour l'améliorer.

</p>

<p>

    Bonne chance pour la réussite de votre projet !

</p>
 
 
<p>L'équipe Propon.</p>
 