<p>
    Les donations sont maintenant activées sur votre page Propon accessible à cette adresse : <a href="{{address}}" target="_blank" rel="noopener noreferrer">{{address}}</a>

</p>

<p>

    Vous pouvez partager cette adresse pour faire connaître votre projet et informer de possibles donateurs.

</p>

<p>

Nous vous souhaitons nos meilleurs voeux de réussite pour votre projet.

</p>
 
 
<p>L'équipe Propon.</p>


<p>Pour toute question ou contact, vous pouvez nous joindre en répondant à cet e-mail ou nous appeler au 07 76 64 87 58.</p>
 