{% extends 'base.html.twig' %}

{% block meta %}

<meta name="author" content="{{ presentation.creator }}">
<meta name="keywords" content="{{ presentation.keywords }}">
<meta name="date" content="{{ presentation.createdAt | date}}">

{% endblock %}

{% block stylesheets %}

    <link href="/css/project_presentation_page.css" rel="stylesheet">

{% endblock %}

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block body %}

    {# flag if user presents this project #} {# when user presents this project, he can switch between edition mode and consultation mode #}

    {% set userPresenter = false %}

    {% if is_granted('edit', presentation) %}

        {% set userPresenter = true %}
        
    {% endif %}



<div class="pp-container container">
    
    {% include 'project_presentation/_show/_upper_box.html.twig' %}

    <div class="row">

        {# Slideshow images & videos #}
            
        {% set countSlides = presentation.slides | length %}

        {% if userPresenter or countSlides > 0  %}

            {% if countSlides > 0 %}
            
                {% include 'project_presentation/_show/slides/slides.html.twig' %}

            {% else %}

                <div id="" class="col-6 border border-success">
                        
                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' with {'iconName':"add_image"} %}
                    
                </div>

                <div id="" class="col-6 border border-success">
                        
                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' with {'iconName':"add_youtube_video"} %}
                    
                </div>

            {% endif %}
    
        {% endif %}


        {# Text Description #}

        {% if userPresenter or presentation.textDescription is not empty %} 
            
            <div class="col-8 py-2 mb-3 border border-success">

                {% if presentation.textDescription is not empty %}
                
                    {% include 'project_presentation/_show/_text_description.html.twig' %}

                {% elseif userPresenter %}

                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' with {'iconName':"add_text_description"} %}
                    
                {% endif %}

            </div>
        
        {% endif %}

        
        {# Miscelaneous Data List #}

        {% if presentation.getOC('dataList') %}

            <div class="col-lg-10 py-2 mb-3 border border-success">

                {% include 'project_presentation/_show/_data_list.html.twig' %}
                
            </div>

        {% endif %}
        
        {# Websites #}

        {% set countWebsites = presentation.getOC('websites') | length %}

        {% if countWebsites > 0 or userPresenter  %}
        
            <div id="displayWebsites" class="col-6 py-2 mb-3 border border-success">
                
                {% if countWebsites > 0 %}
                
                    {% include 'project_presentation/_show/_websites.html.twig' %}
                
                {% elseif userPresenter %}
                    
                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' with {'iconName':"add_website"} %}
                
                {% endif %}

            </div>

        {% endif %}

        {# Documents #}

        {% set countDocuments = presentation.documents | length %}

            {% if countDocuments > 0 or userPresenter  %}

            <div id="displayDocuments" class="col-6 py-2 mb-3 border border-success">

                {% if countDocuments > 0 %}
                
                    {% include 'project_presentation/_show/_documents.html.twig' %}
                
                {% elseif userPresenter %}
                    
                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' with {'iconName':""} %}
                
                {% endif %}

            </div>

            {% endif %}
        
        {# Q&A #}
        
        <div id="displayQuestionsAnswers" class="col-6 py-2 mb-3 border border-success">
            
            {% include 'project_presentation/_show/_questionsAnswers.html.twig' %}
            
        </div>
        
        {# Needs #}
        
        <div class="col-6 py-2 mb-3 border border-success">
            
            {% include 'project_presentation/_show/needs/main.html.twig' %}
            
        </div>
        
        {# Places #}

        {% set countPlaces = presentation.places | length %}

        {% if userPresenter or countPlaces > 0 %}
            
            <div class="col-6 py-2 mb-3 border border-success">

                {% if countPlaces > 0 %}
                
                    {% include 'project_presentation/_show/_places.html.twig' %}

                {% else %} {# No place, we display a placeholder for userPresenter #}

                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' with {'iconName':"add_website"} %}     

                {% endif %}
            
            </div>

        {% endif %}

        {# External Contributors #}

        <div class="col-12 py-2 mb-3 border border-success">

            {% if presentation.contributorStructures | length > 0 %}
            
                {% include 'project_presentation/_show/_external_contributors.html.twig' %}


            {% else %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}

        </div>

          
        {# Business Cards #}

        {% set countBC = presentation.getOC('businessCards') | length %}

        {% if userPresenter or countBC > 0 %}
            
            <div class="col-12 py-2 mb-3 border border-success">

                {% if countBC > 0 %}
                
                    {% include 'project_presentation/_show/_business_cards.html.twig' %}

                {% else %}
                    
                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' with {'iconName':"add_business_card"} %}
                
                {% endif %}
                
            </div>

        {% endif %}

    </div>
    

    {# Switch Between Edition Mode and Consultation Mode Button #}

    {% if userPresenter %}

        <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition mode and consultation mode">👁</button>

    {% endif %}


</div>

<style>

    .pp-edition-mode{
        display: none;
    }

    .pp-container {
        margin-top: 50px;
    }

    .pp-placeholder-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .pp-upper-box {
        margin-bottom: 40px;
    }

    .pp-logo-container{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pp-title{
        display: inline-block;
    }

    .pp-goal{
        display: inline-block;
    }

</style>

{% endblock %}

{% block javascripts %}

    {% if is_granted('edit', presentation) %}

        {% include 'project_presentation/_show/_js/reorder_delete_elements.html.twig' %}

        {% include 'project_presentation/_show/_js/wysiwyg.html.twig' %}

    {% endif %}

{% endblock %}

