

{# slideshow overall container #}



<div class="px-0 container mb-4 pb-md-2 border border-success">




<!-- Avant avoir Retiré du padding dans la right-column  -->

            j'ai <div class="container px-0 px-md-2 px-lg-4"> (au 2ème div ci-dessous)


            {# Goal Column (+ Title & Keywords only for >= Medium screens) #}

            <div class="col d-flex align-items-center">

                <div class="container px-0 px-md-2 px-lg-4">

                    {# Title Display only >= Medium Screens #}

                    <div class="row d-none d-md-block">





{#

<div class="col-5 py-2 mb-3 border border-success">

    {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName': "settings", 'label': "Paramètres" } %}


</div>
#}