{#

<div class="col-5 py-2 mb-3 border border-success">

    {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName': "settings", 'label': "Paramètres" } %}


</div>
#}