
<style>


.blue-background-class{
    background-color: rgb(235, 234, 253);
}
    
.list-group-item {
    cursor: move;
    cursor: -webkit-grabbing;
  }
  
  #droppable {
    border: 2px dashed #f60;
    min-height: 100px;
    position: relative;
  }
  
  #droppable::before {
    color: #ccc;
    font-size: 40px;
    content: 'Drop zone';
    display: block;
    text-align: center;
    padding-top: 15px;
  }
  
  #droppable > * {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px dashed #060;
    position: absolute;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    text-decoration: line-through;
  }
  
</style>

  <!-- draggable -->
  <div id="draggable" class="list-group">
    <div class="list-group-item">foo</div>
    <div class="list-group-item">bar</div>
    <div class="list-group-item">baz</div>
  </div>
  
  
  <!-- droppable -->
  <div id="droppable" class="list-group">
  </div>
  


  <script src="/js/sortable/sortable.min.js"></script>

  <!-- jQuerySupport for above sortable plugin -->
  
  <script src="/js/sortable/jquery-sortable.js"></script>


  
  <script>


      $(document).ready(function(){

      $('#draggable').sortable({


          group: {
              name: "trash",
              pull: "clone"
            },

          sort: false,

          animation: 150,

          ghostClass: 'blue-background-class',

          filter: ".disabled",

          onMove: function (evt) {
              return evt.related.className.indexOf('disabled') === -1;
          },

          
      });

      $('#droppable').sortable({

          group: "trash",
          
          onAdd: function (evt) {
            var el = evt.item;
            el.parentNode.removeChild(el);
            alert('Dropped: ' + el.textContent);
          }

          
      });
  });
  </script>



