<div class="text-center" style="border: 1px solid #c3c3e1; padding: 15px; padding-top:25px; padding-bottom: 40px;">


  <h4 class="see-plans-catch-phrase">Encore plus d'aide pour présenter votre projet ?</h4>

  <div class="">
      
    <button data-get-chunk='{"name": "plans", "target": "#collapsePlans" }' type="button" class="show-offers btn btn-light" data-bs-toggle="collapse" href="#collapsePlans" role="button" aria-expanded="false" aria-controls="collapsePlans">Afficher nos offres</button>

  </div>


  <div id="collapsePlans" class="collapse container">

    <div class="plans-row row">
  
      <div class="plan-item">
  
        <div class="title">
          Autonomie
        </div>
  
        <div class="image-container">
  
          <img src="{{asset('plans/plane.png', 'larger')}}" class="" alt="Pricing plan icon" loading="lazy">
  
        </div>
        
        <div class="short-descr">
          <b>Créez votre page</b> de projet complète grâce à notre <b>outil performant</b>.
        </div>  
  
        <div class="price">
          0 € - GRATUIT
        </div>
  
        <div class="plan-show-more">
  
          <button type="button" class="btn btn-validate rounded-lg">
            Démarrer
          </button>
  
        </div>
  
      </div>
  
      <div class="plan-item" data-bs-toggle="modal" data-bs-target="#plan-2">
  
        <div class="title">
          Relecture Totale <br> + Bilan Conseils
        </div>
  
        <div class="image-container">
  
          <img src="{{asset('plans/observing.png', 'larger')}}" class="" alt="Pricing plan icon" loading="lazy">
  
        </div>

        <div class="short-descr">
          Votre <b>assurance</b> d'une présentation <b>compréhensible, complète, et sans faute</b>.
        </div>  

        <div class="price">
          39 €
        </div>
  
  
  
        <div class="plan-show-more">
  
          <button type="button" class="btn btn-validate rounded-lg">
            Afficher les Détails
          </button>
  
        </div>
  
      </div>
  
      <div class="plan-item" data-bs-toggle="modal" data-bs-target="#plan-3">
  
        <div class="title">
          Construction Totale <br> avec Schéma
        </div>
  
        <div class="image-container">
  
          <img src="{{asset('plans/engineer.png', 'larger')}}" class="" alt="Pricing plan icon" loading="lazy">
  
        </div>
        
        <div class="short-descr">
          Votre projet <b>présenté par nos spécialistes</b> avec des <b>illustrations</b> <b>(garantie qualité)</b>.
        </div>  
  
        <div class="price">
          129 €
        </div>
  
  
        <div class="plan-show-more">
  
          <button type="button" class="btn btn-validate rounded-lg">
            Afficher les Détails
          </button>
  
        </div>
  
      </div>
  
    </div>

  </div>





</div>



<style>

  .see-plans-catch-phrase{

    margin-bottom: 30px;

    font-size: calc(1.3rem + 0.6vw);
    font-weight: bold;

    color: #111162;

  }

  button.show-offers {
   
    padding: 0.575rem 1.9rem;
    font-size: 1.3rem;
  }

  
  /* Plan Item (column) */

  .plans-row{
    
    justify-content: space-evenly;  
    margin-top: 33px;
  
  }

  .plan-item{

    height: 482px;
    width: 300px;
    padding-top: 25px;

    border: 1px solid #9099e1;
    border-radius: 7px;
    cursor: pointer;

  }

  .plan-item:hover {
    background-color: #f3fff3;
  }

  .plan-item .title{

    display: flex;
    align-items: center;
    justify-content: center;

    height:60px;

    margin-bottom: 12px;
    line-height: 1.1em;

    font-size: 27px;
    font-weight: bold;
    text-align: center;

  }

  .plan-item .short-descr{

    height: 53px;

    margin-bottom: 13px;
    line-height: 1.1;
    
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


  }

  .plan-item .image-container{

    margin-bottom: 30px;
    font-size: 20px;

  }

  .plan-item .price{

    margin-bottom: 20px;
    
    text-align: center;
    font-size: 37px;
    font-weight: bold;

  }

  .plan-item .plan-show-more{

    text-align: center;

  }


</style>