<div class="text-center" style="border: 1px solid #c3c3e1; padding: 15px; padding-top:25px; padding-bottom: 40px;">


  <h4 class="see-plans-catch-phrase">Encore plus d'aide pour présenter votre projet ?</h4>

  <div class="">
      
    <button data-get-chunk='{"name": "plans", "target": "#collapsePlans" }' type="button" class="show-offers btn btn-light" data-bs-toggle="collapse" href="#collapsePlans" role="button" aria-expanded="false" aria-controls="collapsePlans">Afficher nos offres</button>

  </div>


  <div id="collapsePlans" class="collapse container">
  llii
  </div>





</div>



<style>

  .see-plans-catch-phrase{

    margin-bottom: 30px;

    font-size: calc(1.3rem + 0.6vw);
    font-weight: bold;

    color: #111162;

  }

  button.show-offers {
   
    padding: 0.575rem 1.9rem;
    font-size: 1.3rem;
  }

</style>