{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}

    <div class="my-5">

        <h1 class="text-center mb-3">Articles</h1>
    
        <div class="row row-cols-1 row-cols-md-3 g-4">
        
            {% for article in articles %}

                
                
            {% endfor %}
            
        </div>

    </div>

{% endblock %}
