{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <div class="my-5">

        <h1 class="text-center mb-3">Liste des articles</h1>

        {% for article in articles %}

            <div class="my-2">

                <a href="{{path('show_article', {"id": article.id})}}">{{article.title}}</a>
                

                {% if article.thumbnail is not empty %}
                
                    <img class="article-thumbnail" src="{{ vich_uploader_asset(article) }}" alt="Article Thumbnail"/>

                {% endif %}


            



                <span class="formated-elapsed-time">

                    
                    {{ article.createdAt | formattedElapsedTime }}

                </span>

            </div>
            
        {% endfor %}

    </div>

    <style>
        
    </style>

{% endblock %}
