{% extends 'base.html.twig' %}

{% block title %}Page Utilisateur {% endblock %}

{% block body %}

    <div class="p-4">

        {% if app.user %}

            {% set user = app.user %}

            User Name: {{user.userName}}
            
            {% if user.createdPresentations | length > 0 %}

                {% for presentation in user.createdPresentations %}

                    <a class="text-primary text-decoration-none" href="{{path('show_presentation', {'stringId': presentation.stringId})}}">

                        <h5 class="mb-2">
                            {{presentation.goal}}
                        </h5>
            
                    </a>

                {% endfor %}

            {% endif %}
        
        {% endif %}

    </div>

{% endblock %}
