{% extends 'base.html.twig' %}

{% block title %} Modification du Compte Utilisateur{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="mt-2 mb-3 my-md-5 fw-bold">Modification du compte utilisateur</h3>
                    
        <div class="row">

            <div class="container">

                <!-- to do : Edit Emails Reception Preferences button -->
    
                <!-- change account email button -->

                <a href="{{ path ('update_account_email') }}" class="btn btn-primary fw-bold me-2 my-2">Modifier l'e-mail de mon compte</a>
    
                <!-- change password button -->

                <a href="{{ path ('update_account_password') }}" class="btn btn-primary fw-bold me-2 my-2">Modifier mon mot de passe</a>

            </div>

        </div>
        
    </div>
    
{% endblock %}