{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Modification du Compte Utilisateur{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="mt-2 mb-3 my-md-5 fw-bold">Modification du compte utilisateur</h3>
                    
        <div class="row">

            <div class="container">

                <div class="mb-4">

                    <!-- access update account email -->

                    <a href="{{ path ('update_account_email') }}" class="btn btn-primary fw-bold me-3 my-2">Modifier l'e-mail de mon compte</a>
        
                    <!-- access change password -->

                    <a href="{{ path ('update_account_password') }}" class="btn btn-primary fw-bold me-2 my-2">Modifier mon mot de passe</a>

                </div>

                <!-- Other possibilities -->

                <div class="">

                    <!-- Access other possibilities trigger collapsible -->

                    <a class="btn btn-light" onclick="this.remove();" data-bs-toggle="collapse" href="#collapseOtherPossibilities" role="button" aria-expanded="false">Autres possibilités</a>

                    <!-- Collapsible Other Possibilities Container -->

                    <div class="collapse" id="collapseOtherPossibilities">

                        <!-- access delete user account page -->

                        <a href="{{path ("delete_account")}}" class="btn btn-danger fw-bold me-2 my-2">Suppression du compte utilisateur</a>

                    </div>

                </div>

            </div>

        </div>
        
    </div>
    
{% endblock %}