

<p style="font-size:14px;">

    <b>Vous avez reçu un nouveau message concernant le projet {{ projectGoal | slice (0,18) }}...</b>
    
    <br><br>

    Pour le consulter, vous pouvez cliquer sur le lien suivant :
    
    <a href="{{ url('homepage') }}">Propon</a>

</p>

<p>
    À bientôt.
</p>
